%p#notice= notice

%p
  %b Name:
  = @forum.name
%p
  %b Description:
  = @forum.description
%p
  %b Owner:
  = @forum.owner_id

= link_to 'Edit', edit_forum_path(@forum)
\|
= link_to 'Back', forums_path
