- content_for :title, @forum.name
- content_for :opengraph do
  - if @forum.description
    = tag("meta", property: "og:description", content: og_description(@forum.description))
  = tag("meta", property: "og:title", content: @forum.name)
  = tag("meta", property: "og:type", content: "website")
  = tag("meta", property: "og:url", content: request.original_url)
  = tag("meta", property: "og:site_name", content: ENV['GROWSTUFF_SITE_NAME'])

%h1= @forum.name

%p#notice= notice

%p.forum-meta
  This forum is run by
  = link_to @forum.owner, @forum.owner

%div
  :growstuff_markdown
    #{ strip_tags(@forum.description) }

- if can? :edit, @forum
  = link_to "Edit", edit_forum_path(@forum), class: 'btn btn-default btn-xs'
- if can? :delete, @forum
  = link_to 'Delete', @forum, method: :delete, data: { confirm: 'Are you sure?' }

%h2
  Posts
  = link_to "Post something", new_post_path(forum_id: @forum.id), class: 'btn btn-primary'

- if @forum.posts.empty?
  No posts yet.
- else
  = render partial: "posts/summary", locals: { posts: @forum.posts }



