= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :delete, class: 'form-horizontal' }) do |f|
  %br/
  = devise_error_messages!

  .form-group
    = f.label :current_password, "Password required to delete", class: 'control-label col-md-2'
    .col-md-4
      = f.password_field :current_password, class: 'form-control', id: 'current_pw_for_delete'

  .form-group
    .form-actions.col-md-offset-2.col-md-8
      = f.submit "Delete", class: 'btn btn-primary'
