= form_for(resource, as: resource_name,
    url: registration_path(resource_name),
    html: { method: :put, class: 'form-horizontal' }) do |_f|
  %br/
  = render 'devise/shared/error_messages', resource: resource
  .row
    .col-md-12
      %p
        = image_tag "twitter_32.png", size: "32x32", alt: 'Twitter logo'
        - if @twitter_auth
          You are connected to Twitter as
          = link_to @twitter_auth.name, "https://twitter.com/#{@twitter_auth.name}"
          = link_to "Disconnect", @twitter_auth,
                    confirm: "Are you sure you want to remove this connection?",
                    method: :delete, class: "remove btn btn-danger"
        - else
          = link_to 'Connect to Twitter', '/members/auth/twitter', class: 'btn'

  .row
    .col-md-12
      %p
        = image_tag "flickr_32.png", size: "32x32", alt: 'Flickr logo'
        - if @flickr_auth
          You are connected to Flickr as
          = link_to @flickr_auth.name, "https://flickr.com/photos/#{@flickr_auth.uid}"
          = link_to "Disconnect", @flickr_auth,
                    confirm: "Are you sure you want to remove this connection?",
                    method: :delete, class: "remove btn btn-danger"
        - else
          = link_to 'Connect to Flickr', '/members/auth/flickr', class: 'btn'

  .row
    .col-md-12
      %p
        = image_tag "facebook_32.png", size: "32x32", alt: 'Facebook logo'
        - if @facebook_auth
          You are connected to Facebook as
          = succeed "." do
            = link_to @facebook_auth.name, "https://facebook.com/profile/#{@facebook_auth.uid}"
          = link_to "Disconnect", @facebook_auth,
                    confirm: "Are you sure you want to remove this connection?",
                    method: :delete, class: "remove btn btn-danger"
        - else
          = link_to 'Connect to Facebook', '/members/auth/facebook', class: 'btn'
