.form-page
  .card.form-card
    %h1 Join #{ENV['GROWSTUFF_SITE_NAME']}
    .card-body
      %p Sign up for a #{ENV['GROWSTUFF_SITE_NAME']} account to track your vegetable garden and connect with other local growers.

    = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name),
        html: { class: "text-center border border-light p-5" }) do |f|
      = render 'devise/shared/error_messages', resource: resource

      = f.text_field :login_name
      %span This is the name that will show on the website.

      = icon 'fas', 'email'
      = f.email_field :email
      %span We'll use this address to contact you (we never spam!)

      = f.password_field :password, type: :password
      = f.password_field :password_confirmation

      %p
        = f.check_box :tos_agreement, label: "I agree"
        to the #{link_to 'Terms of Service', "/policy/tos"}

      %p
        = f.check_box :newsletter, checked: true, label: "Subscribe to the #{ENV['GROWSTUFF_SITE_NAME']} newsletter"
      %p= render partial: 'newsletter_blurb'

      = f.submit "Sign up", class: 'btn btn-block btn-success'

    .card-footer= render "devise/shared/links"
