<?xml version="1.0" encoding="UTF-8"?>
%rss{ version: 2.0 }
  %channel
    %title Recent comments on all posts (#{ENV['GROWSTUFF_SITE_NAME']})
    %link= comments_url
    - @comments.each do |comment|
      %item
        %title Comment by #{comment.author.login_name} on #{comment.post.subject}
        %description
          :escaped_markdown
            <p>
            Comment on
            #{ link_to comment.post.subject, post_url(comment.post) }
            </p>

          :escaped_markdown
            #{ strip_tags comment.body }

        %pubdate= comment.created_at.to_fs(:rfc822)
        %link= post_url(comment.post)
        %guid= comment_url(comment)
