= content_for :title, @comment.post.subject
- content_for :opengraph do
  = tag("meta", property: "og:image", content: avatar_uri(@comment.post.author, 200)) 
  = tag("meta", property: "og:image:user_generated", content: "true")
  = tag("meta", property: "og:title", content: @comment.post.subject)
  = tag("meta", property: "og:description", content: strip_tags(@comment.post.body).split(' ')[0..20].join(' '))
  = tag("meta", property: "og:type", content: "website")
  = tag("meta", property: "og:url", content: request.original_url)
  = tag("meta", property: "og:site_name", content: ENV['GROWSTUFF_SITE_NAME'])

= render :partial => "posts/single", :locals => { :post => @comment.post }

%h2 Showing 1 comment

= render :partial => "single", :locals => { :comment => @comment }

=link_to "View all comments", post_path(@comment.post)
