%p
  Hello
  = @member.login_name
  ,

%p
  = @request.requester.login_name
  has requested a new crop on
  = ENV['GROWSTUFF_SITE_NAME']

%ul
  %li Name: #{@request.name}
  %li Wikipedia URL: #{@request.en_wikipedia_url.present? ? @request.en_wikipedia_url : 'not specified'}
  %li Notes: #{@request.request_notes}

%p
  As a crop wrangler, you can
  = link_to "approve or reject this request", edit_crop_url(@request)
  \.

%p
  Thanks for your help!

= render partial: 'signature'
