- site_name = ENV['GROWSTUFF_SITE_NAME']
%p Hello #{@member.login_name},

%h2 What's new in your garden?

%p

- if @member.plantings.size == 0
  %p
    #{site_name} lets you track what food you're growing
    in your garden and see what other people near you are planting too.
  %p
    = link_to "Get started now", new_planting_url
    by planting your first crop.

- else
  %p
    The most recent plantings you've told us about are:

  %ul
  - @plantings.each do |p|
    %li
      = link_to p, planting_url(p)
      planted
      = distance_of_time_in_words(p.created_at, Time.zone.now)
      ago.

  %p
    = link_to "Plant something new", new_planting_url
    to keep your garden records up to date.

%h2 Your recent harvests

- if @member.harvests.size == 0
  %p
    #{site_name} helps you keep track of what you
    harvest from your garden.  Record what food you've grown
    and see what other people near you are harvesting, too.

  %p
    = link_to "Get started now", new_harvest_url
    by tracking your first harvest.

- else
  According to our records, the last few things you harvested were:

  %ul
  - @harvests.each do |h|
    %li
      = link_to h, harvest_url(h)
      harvested
      = distance_of_time_in_words(h.created_at, Time.zone.now)
      ago.

  %p
    Harvested anything else lately?
    = link_to "Track your harvests here.", new_harvest_url

%h2
  See you soon on #{site_name}!

= render :partial => 'signature'

%hr/
%p
  Don't want to get these emails any more?
  = link_to "Unsubscribe from planting reminders", unsubscribe_member_url(@signed_message)

