- content_for :title, "Inbox"
- content_for :breadcrumbs do
  %li.breadcrumb-item= link_to 'Conversations', conversations_path
  %li.breadcrumb-item.active= link_to @box, conversations_path(box: @box)

.row
  .col-md-2
  .col-md-10
    %h1= @box
    - unless @conversations.empty?
      = will_paginate @conversations
.row
  .col-md-2.list-group
    - @boxes.each do |box_name, item_count|
      = link_to conversations_path(box: box_name), class: 'nav-link' do
        .list-group-item.d-flex.justify-content-between{class: "#{box_name == @box ? 'active' : ''} #{box_name}"}
          = icon 'fas', box_name
          = box_name
          %span.badge.badge-primary.badge-pill= item_count

  .col-md-10
    .list-group
      - @conversations.each do |conversation|
        %a.list-group-item.list-group-item-action.flex-column.align-items-start{href: conversation_path(conversation)}
          .d-flex.w-100.justify-content-between
            %h5.mb-2.h5
              - if conversation.receipts_for(current_member).last.is_unread?
                %i.far.fa-envelope.mr-4.pr-3
              - else
                %i.far.fa-envelope-open.mr-4.pr-3
              %strong= conversation.subject
            %small= time_ago_in_words conversation.messages.last.created_at

          %p.mb-2
            = truncate(strip_tags(conversation.messages.last.body), length: 100, separator: ' ', omission: '... ')
            Donec id elit non mi porta.
    - unless @conversations.empty?
      = will_paginate @conversations
