- content_for :title, "Inbox"
- content_for :breadcrumbs do
  %li.breadcrumb-item.active= link_to 'Conversations', conversations_path


.row
  .col-2
  .col-10
    %h1= @box
    - unless @conversations.empty?
      = will_paginate @conversations
.row
  .col-2
    %ul.list-group
      - @boxes.each do |box_name, item_count|
        %li.list-group-item.d-flex.justify-content-between{class: box_name == @box ? 'active' : ''}
          = link_to conversations_path(box: box_name), class: 'nav-link' do
            = icon 'fas', box_name
            = box_name
          %span.badge.badge-primary.badge-pill= item_count

  .col-10
    .table-responsive.text-nowrap
      %table.table.table-hover
        %thead.black.white-text
          %tr
            %th{scope: "col"} Participants
            %th{scope: "col"} Subject
            %th{scope: "col"} Sent at
            %th{scope: "col"}
        %tbody
          - @conversations.each do |conversation|
            %tr{class: conversation.receipts_for(current_member).last.is_unread? ? 'active': ''}
              %td
                - conversation.participants.each do |member|
                  = render 'members/tiny', member: member
              %td
                %h2
                  = link_to conversation_path(conversation) do
                    - if conversation.receipts_for(current_member).last.is_unread?
                      .badge.badge-pill.badge-info= icon 'far', 'envelope'
                    - else
                      .badge.badge-pill.badge-success= icon 'far', 'envelope-open'
                    =conversation.subject
              %td
                =conversation.updated_at
                .text-muted (#{time_ago_in_words conversation.updated_at} ago)
              %td
                - if @box == 'trash'
                  = link_to conversation_path(conversation, box: @box), method: :put, class: 'btn btn-default btn-info btn-xs' do
                    = icon 'fas', 'trash-restore'
                    .sr-only= t('buttons.restore')
                - else
                  = link_to conversation_path(conversation, box: @box), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-danger btn-xs' do
                    = delete_icon
                    .sr-only= t('buttons.delete')
    - unless @conversations.empty?
      = will_paginate @conversations
 