- content_for :title, "Inbox"
- content_for :breadcrumbs do
  %li.breadcrumb-item.active= link_to 'Conversations', conversations_path

- unless @conversations.empty?
  = paginate @conversations

.row
  .col-2
    %ul
      - %W[inbox sentbox trash].each do |box|
        %li.nav-item
          = link_to conversations_path(box: box), class: 'nav-link' do
            = box
            = icon 'fas', box
  .col-10
    %table.table
      %thead.black.white-text
        %tr
          %th{scope: "col"} Sender
          %th{scope: "col"} Subject
          %th{scope: "col"} Sent at
          %th{scope: "col"}
      %tbody
        - @conversations.each do |conversation|

          %tr{class: conversation.receipts_for(current_member).last.is_unread? ? 'active': ''}
            %td
              -# - conversation.recipients.each do |member|
              -#   - unless member == current_member
              -#     .float-left= render 'members/tiny', member: member
              -#     = link_to member.login_name, member
            %td
              %h3.h3-responsive
                = link_to conversation_path(conversation) do
                  - if conversation.receipts_for(current_member).last.is_unread?
                    = icon 'far', 'envelope'
                  - else
                    = icon 'far', 'envelope-open'
                  =conversation.subject
            %td
              =conversation.updated_at
              .text-muted (#{time_ago_in_words conversation.updated_at} ago)
            %td
              = link_to conversation_path(conversation), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-danger btn-xs' do
                = delete_icon
                = t('buttons.delete')
        - unless @conversations.empty?
          = paginate @conversations