- content_for :title, 'Admin'

%h2 Manage

.row
  .col-md-4
    %h2 Site admin
    %ul#site_admin
      %li= link_to "Roles", roles_path
      %li= link_to "Forums", forums_path
      %li= link_to "CMS", comfy_admin_cms_path

  .col-md-4
    %h2 Crop data admin
    %ul
      %li= link_to "Alternate names", alternate_names_path
      %li= link_to "Scientific names", scientific_names_path
  .col-md-4
    %h2 Member admin
    %ul
      %li= link_to "Newsletter subscribers", admin_newsletter_path
      %li= link_to "Members", admin_members_path
