-content_for :title, 'Admin'

%h2 Manage

%ul#admin_links
  %li= link_to "Account types", account_types_path
  %li= link_to "Products", products_path
  %li= link_to "Roles", roles_path
  %li= link_to "Forums", forums_path
  %li= link_to "Newsletter subscribers", admin_newsletter_path
  %li= link_to "CMS", comfy_admin_cms_path

%h2 Orders

=render "admin/orders/searchform"
