- content_for :title, "Linked accounts on other sites"

- if @authentications
  - unless @authentications.empty?
    .authentications
    - @authentications.each do |authentication|
      %a{ :href => "http://twitter.com/#{authentication.name}" }
        .authentication
          = image_tag "#{authentication.provider}_64.png", :size => "64x64"
        .provider
          = authentication.provider.titleize
        .name
          = authentication.name
      = link_to "X", authentication, :confirm => "Are you sure you want to remove this authentication?", :method => :delete, :class => "remove"
    .clear
    %p
      %strong Link another external account:
  - else
    %p
      %strong Link to an external account:

= link_to image_tag("twitter_64.png", :size => "64x64"), "/auth/twitter", :class => "auth_provider"
