.card.message
  .card-body
    .row
      .col-6.col-md-9
        %h3= link_to  notification.subject, notification
        %p
          - if notification.read
            = icon 'far', 'envelope-open'
          - else
            = icon 'far', 'envelope'
            %strong unread
          = notification.created_at
      .col-6.col-md-3.text-right
        = link_to notification.sender do
          %h3
            = render 'members/tiny', member: notification.sender
            = notification.sender
        = render 'members/follow_buttons', member: notification.sender
  .card-footer
    = link_to 'Read', notification, class: 'btn btn-primary'
    = link_to 'Reply', reply_link(notification), class: 'btn btn-secondary'
    = link_to notification, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-danger btn-xs' do
      = delete_icon
      = t('buttons.delete')
