= bootstrap_form_for @notification do |f|
  .card
    .card-body
      - if @notification.errors.any?
        #error_explanation
          %h2
            = pluralize(@notification.errors.size, "error")
            prohibited this message from being sent:
          %ul
            - @notification.errors.full_messages.each do |msg|
              %li= msg

      .field
        = f.hidden_field :recipient_id, value: @recipient.id

      %p
        To
        = link_to @recipient, @recipient
        = render 'members/tiny', member: @recipient
      = f.text_field :subject, value: @subject, class: 'form-control', maxlength: 255
      = f.text_area :body, rows: 12, label: "Type your message here"
      %span.help-block= render partial: "shared/markdown_help"
    .card-footer

      = link_to 'cancel', notifications_path, class: 'btn'
      .float-right= f.submit "Send", class: 'btn btn-primary'
