- content_for :title, "Inbox"

- if @notifications.empty?
  You have no messages.
- else
  = paginate @notifications, theme: 'twitter-bootstrap-3'
  %table.table.table-striped
    %tr
      %th From
      %th Subject
      %th Date
      %th

    - @notifications.each do |n|
      - if can? :read, n
        %tr
          %td
            - if n.sender.present?
              - if n.read
                = link_to n.sender, member_path(n.sender)
              - else
                %strong= link_to n.sender, member_path(n.sender)
            - else
              *deleted member*
          %td
            - if n.read
              = link_to n.subject, notification_path(n)
            - else
              %strong= link_to n.subject, notification_path(n)
          %td
            - if n.read
              = n.created_at
            - else
              %strong= n.created_at
          %td
            = link_to 'Delete', n, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-xs'
  = paginate @notifications, theme: 'twitter-bootstrap-3'
