= content_for :title, @notification.subject

%p
  From
  = link_to @notification.sender, @notification.sender
  on
  = @notification.created_at.to_s(:date)

  - if @notification.post_id
    in response to:
    = link_to @notification.post.subject, @notification.post

.well
  :markdown
    #{ strip_tags(@notification.body) }

%p
  =link_to 'Delete', @notification, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini'
