= content_for :title, @notification.subject

.card
  .card-header
    .card-title= @notification.subject
  .card-body
    = render @notification

  .card-footer
    = link_to 'Reply', @reply_link, class: 'btn btn-primary'
    = link_to @notification, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-danger' do
      = delete_icon
      = t('buttons.delete')
