- content_for :title, "Change your password"

= form_for(resource, as: resource_name,
    url: password_path(resource_name),
    html: { method: :put, class: 'form-horizontal', role: 'form' }) do |f|
  = render 'devise/shared/error_messages', resource: resource
  = f.hidden_field :reset_password_token

  .form-group
    = f.label :password, "New password", class: 'control-label col-md-2'
    .col-md-8
      = f.password_field :password, class: 'form-control'

  .form-group
    = f.label :password_confirmation, "Confirm new password", class: 'control-label col-md-2'
    .col-md-8
      = f.password_field :password_confirmation, class: 'form-control'

  .form-group
    .form-actions.col-md-offset-2.col-md-8
      = f.submit "Change my password", class: 'btn btn-primary'

= render "devise/shared/links"
