
.form-page
  %section.card.form-card
    %h1 Forgot your password?
    = form_for(resource, as: resource_name,
        url: password_path(resource_name),
        html: { method: :post,
        class: 'text-center border border-light p-5', role: 'form' }) do |f|
      = render 'devise/shared/error_messages', resource: resource

      = f.text_field :login, class: "form-control mb-4", placeholder: "E-mail", type: "email"
      = f.submit "Send me reset password instructions", class: 'btn btn-block my-4 btn-primary'

    = render "devise/shared/links"
