-content_for :title, t('.title')

%p
  Growstuff relies on your support to build and run this open source
  platform for food growers.  We do not have outside investment, and do
  not accept ads.  Instead, we offer paid memberships, which give you
  access to premium features, and ensure that we focus our efforts on
  keeping you, our members, happy.

%p
  We are currently developing a number of advanced features for paid
  members.  We will announce our progress on these in our
  = link_to "Feedback and Support forum", "http://www.growstuff.org/forums/growstuff-feedback-support"
  as well as via other channels.

%p
  All our accounts are priced on a sliding scale.  You can choose how
  much you want to pay.  Remember, your subscription supports an open
  source, open data platform supporting home food growers and promoting
  sustainable food systems!

- if current_member && current_member.is_paid?
  %h2 Thank you for supporting Growstuff

  %p You currently have a paid membership, and can't buy another one at this time.

  = render "shared/account_status"

- elsif @order and @order.order_items.size > 0
  %h2 Your current order

  %p
    You currently have the following item in your cart:
    %strong
      = @most_recent_item.product
      @
      = price_with_currency(@most_recent_item.price)

  %p
    = link_to "View order and checkout", order_path(@order)
    or
    =succeed "." do
      = link_to 'delete this order', @order, method: :delete, |
        data: { confirm: 'Are you sure?' }

- else
  - @products.each do |p|
    %h2= p.name

    %div
      :growstuff_markdown
        #{ strip_tags p.description }

    %p
      Pay what you want, starting at
      =succeed "." do
        =price_with_currency(p.min_price)
        =forex_link(p.min_price)
      - if p.recommended_price
        Recommended price:
        =succeed "." do
          =price_with_currency(p.recommended_price)
          =forex_link(p.recommended_price)

    %div
      - if can? :create, Order

        = form_for @order_item do |f|
          .field
            = f.text_field :price, :value => price_in_dollars(p.recommended_price || p.min_price)
          .field
            = f.hidden_field :product_id, :value => p.id
          .field
            = f.hidden_field :quantity, :value => 1
          .actions
            = f.submit 'Buy', :class => 'btn btn-primary'

      - else
        Please
        =link_to "sign in", new_member_session_path
        or
        =link_to "sign up", new_member_registration_path
        to purchase.


