- if signed_in?
  .global-actions
    .btn-group
      = link_to gardens_by_owner_path(owner: current_member.slug), class: 'btn btn-default' do
        = t('links.my_gardens')  

    .btn-group
      = link_to new_planting_path, class: 'btn btn-default' do
        = t('buttons.plant')
      = link_to new_harvest_path, class: 'btn btn-default' do
        = t('buttons.harvest')
      = link_to new_seed_path, class: 'btn btn-default' do
        = t('buttons.save_seeds')

    .btn-group
      = link_to t('buttons.write_blog_post'), new_post_path, class: 'btn btn-default'

- content_for(:attributions) do
  seed by Template from the Noun Project