- if signed_in?
  .global-actions.pull-right
    .btn-group
      = link_to gardens_by_owner_path(owner: current_member.slug), class: 'btn btn-default' do
        = garden_icon
        = t('links.my_gardens') 
         
    .btn-group
      = link_to new_planting_path, class: 'btn btn-default' do
        = planting_icon
        = t('plantings.plant_something')

      = link_to new_harvest_path, class: 'btn btn-default' do
        = harvest_icon
        = t('harvests.harvest_something')

      = link_to new_seed_path, class: 'btn btn-default' do
        = seed_icon
        = t('buttons.save_seeds')

    .btn-group
      = link_to t('posts.write_blog_post'), new_post_path, class: 'btn btn-default'
