- if signed_in?
  .btn-group
    = link_to member_gardens_path(member_slug: current_member.slug),
      class: 'btn btn-default' do
      = garden_icon
      -# = t('.my_gardens')
    = link_to new_planting_path,
      class: 'btn btn-default' do
      = planting_icon
      -# = t('plantings.plant')

    = link_to new_harvest_path,
      class: 'btn btn-default' do
      = harvest_icon
      -# = t('harvests.harvest')

    = link_to new_seed_path,
      class: 'btn btn-default' do
      = seed_icon
      -# = t('buttons.save_seeds')

    = link_to new_post_path,
      class: 'btn btn-default' do
      = blog_icon
      -# = t 'posts.write_blog'