- if signed_in?
  .btn-group
    = link_to member_gardens_path(member_slug: current_member.slug),
      class: 'btn btn-default', 'data-toggle': "tooltip", 'data-placement': "bottom", title: t('buttons.my_gardens') do
      = garden_icon
    = link_to new_planting_path,
      class: 'btn btn-default', 'data-toggle': "tooltip", 'data-placement': "bottom", title: t('buttons.new_planting') do
      = planting_icon

    = link_to new_harvest_path,
      class: 'btn btn-default', 'data-toggle': "tooltip", 'data-placement': "bottom", title: t('buttons.new_harvest') do
      = harvest_icon

    = link_to new_seed_path,
      class: 'btn btn-default', 'data-toggle': "tooltip", 'data-placement': "bottom", title: t('buttons.new_seeds') do
      = seed_icon

    = link_to new_post_path,
      class: 'btn btn-default', 'data-toggle': "tooltip", 'data-placement': "bottom", title: t('buttons.new_post') do
      = blog_icon
