- if signed_in?
  .global-actions.pull-right
    .btn-group
      = link_to member_gardens_path(current_member), class: 'btn btn-xs' do
        = garden_icon
        = t('links.my_gardens')

    .btn-group
      = link_to new_planting_path, class: 'btn btn-xs' do
        = planting_icon
        = t('plantings.plant')

      = link_to new_harvest_path, class: 'btn btn-xs' do
        = harvest_icon
        = t('harvests.harvest')

      = link_to new_seed_path, class: 'btn btn-xs' do
        = seed_icon
        = t('buttons.save_seeds')

    .btn-group
      = link_to new_post_path, class: 'btn btn-xs' do
        = blog_icon
        = t 'posts.write_blog'
