- if @plantings
  %ul
    - @plantings.each do |p|
      %li
        = link_to "#{p.crop.system_name} in #{p.location}", p
        - if p.planted_at
          on
          = p.planted_at.to_s(:date)
- else
  %p None yet.
- if can? :create, Planting
  %p= link_to "Plant something", new_planting_path, :class => 'btn btn-primary'
