- cache('recent_posts') do
  - if @posts
    %ul
      - @posts.each do |p|
        %li
          = link_to p.subject, p
          - unless @member
            posted by
            = link_to p.author, p.author
          - if p.forum
            in
            = link_to p.forum.name, p.forum
          on
          = p.created_at.to_s(:date)
  - else
    %p None yet.

- if can? :create, Post
  %p= link_to "Post something", new_post_path, :class => 'btn btn-primary'
