= form_for @account_type do |f|
  - if @account_type.errors.any?
    #error_explanation
      %h2= "#{pluralize(@account_type.errors.size, "error")} prohibited this account_type from being saved:"
      %ul
        - @account_type.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :is_paid
    = f.check_box :is_paid
  .field
    = f.label :is_permanent_paid
    = f.check_box :is_permanent_paid
  .actions
    = f.submit 'Save'
