- content_for :title, "Listing account types"

%table
  %tr
    %th Name
    %th Is paid
    %th Is permanent paid
    %th
    %th
    %th

  - @account_types.each do |account_type|
    %tr
      %td= account_type.name
      %td= account_type.is_paid
      %td= account_type.is_permanent_paid
      %td= link_to 'Show', account_type
      %td= link_to 'Edit', edit_account_type_path(account_type)
      %td= link_to 'Destroy', account_type, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Account type', new_account_type_path
