%p#notice= notice

%p
  %b Name:
  = @account_type.name
%p
  %b Is paid:
  = @account_type.is_paid
%p
  %b Is permanent paid:
  = @account_type.is_permanent_paid

= link_to 'Edit', edit_account_type_path(@account_type)
\|
= link_to 'Delete', @account_type, :method => :delete, :data => { :confirm => 'Are you sure?' }
\|
= link_to 'Back', account_types_path
