.col-md-12

%h1= ENV['GROWSTUFF_SITE_NAME']

.row
  .col-md-8.info
    %p
      #{ENV['GROWSTUFF_SITE_NAME']} #{t('.intro')}

    = render :partial => 'stats'
  .col-md-4.signup
    %p= t('.perks')
    %p= link_to "#{t('.sign_up')}", new_member_registration_path, :class => 'btn btn-primary btn-lg'
    %p
      %small
        = t('.already')
        = link_to "#{t('.sign_in')}", new_member_session_path

