.span12

  %h1= Growstuff::Application.config.site_name

  %p
    #{Growstuff::Application.config.site_name} is a community of food gardeners. We're building an open source platform to track, share, and discuss edible gardens and sustainable lifestyles.  We offer growing information tailored to your location, and help you connect with your local food-growing community.

  %p
    %strong
      So far,
      = link_to "#{@member_count} members", members_path
      have planted
      = link_to "#{@crop_count} crops", crops_path
      #{@planting_count} times in #{@garden_count} gardens.

  %p
    You could be one of them. Sign up for a free account and start tracking your food garden today.
  %p
    = link_to 'Join now', new_member_registration_path, :class => 'btn btn-primary'
