
- cache cache_key_for(Crop, 'interesting'), expires_in: 1.day do
  %h2= t('.our_crops')
  - Crop.interesting.includes(:scientific_names, :photos).first(8).each do |c|
    .col-md-3= render 'crops/thumbnail', crop: c

  .col-md-12
    - cache cache_key_for(Crop, 'recent') do
      %p{ style: 'margin-top: 11.25px' }
        %strong
          #{t('.recently_added')}:
        != Crop.recent.limit(12).map { |c| link_to(c, c) }.join(", ")

    %p.text-right
      = link_to "#{t('.view_all')} »", crops_path
