.row
  .col-md-8
    - cache cache_key_for(Crop, 'interesting'), expires_in: 1.day do
      %h2= t('.our_crops')
      .hidden-xs
        - Crop.interesting.includes(:scientific_names, :photos).first(8).each do |c|
          .col-md-3
            = render partial: 'crops/thumbnail', locals: { crop: c }
      .visible-xs
        - Crop.interesting.includes(:scientific_names, :photos).first(3).each do |c|
          .col-md-3
            = render partial: 'crops/thumbnail', locals: { crop: c }

  .col-md-4.hidden-xs
    - cache cache_key_for(Planting) do
      %h2= t('.recently_planted')
      = render 'plantings/list', plantings: Planting.includes(:owner, :photos).interesting.recent.first(6)

.row
  .col-md-12
    - cache cache_key_for(Crop, 'recent') do
      %p{ style: 'margin-top: 11.25px' }
        %strong
          #{t('.recently_added')}:
        != Crop.recent.limit(12).map { |c| link_to(c, c) }.join(", ")

    %p.text-right
      = link_to "#{t('.view_all')} »", crops_path
