%h2= t('.discussion')

- posts = Post.limit(6)
- if posts
  = render "posts/summary", posts: posts, howmany: 6

- cache cache_key_for(Forum) do
  - forums = Forum.all.order(:name)
  - if forums
    %ul.list-inline
      %li
        %strong #{t('.forums')}:
      - forums.each do |f|
        %li= link_to f.name, f

%p.text-right
  = link_to "#{t('.view_all')} »", posts_path
