%h2= t('.recently_harvested')
- Harvest.has_photos.recent.includes(:crop, :owner, :photos).limit(6).each do |harvest|
  = link_to harvest, class: 'list-group-item list-group-item-action flex-column align-items-start' do
    .d-flex.w-100.justify-content-between.homepage--list-item
      %div
        %h5= harvest.crop.name
        %span.badge.badge-success=harvest.plant_part
        %small.text-muted
          harvested by #{harvest.owner}
      %p.mb-2= image_tag harvest_image_path(harvest), width: 75, class: 'rounded shadow'