%h2 Open Source

%p
  #{Growstuff::Application.config.site_name} is open source software,
  which means that we're sharing this website's code for free with our
  community and the world.  We believe that open source,
  sustainability, and social good go hand in hand.  You can read more
  about
  =link_to "why Growstuff is open source", "http://blog.growstuff.org/2013/02/20/why-growstuff-is-open-source/"
  or check out our code on
  =succeed '.' do
    = link_to 'Github', 'http://github.com/Growstuff/growstuff'

%h2 Open Data and APIs

%p
  We're building a database
  of crops, planting advice, seed sources, and other information
  that anyone can use for free, under a
  = succeed '.' do
    = link_to 'Creative Commons license', 'http://creativecommons.org/licenses/by-sa/3.0/'
  You can use this data for research, to build apps, or for any
  purpose at all.  Read more about our

  = link_to 'open data', 'http://wiki.growstuff.org/index.php/Open_data'
  and
  = succeed '.' do
    = link_to 'API documentation', 'http://wiki.growstuff.org/index.php/API'

%h2 Get Involved

%p
  We believe in collaboration, and we work closely with our members
  and the wider food-growing community to make sure we're building
  what you want. Our team includes volunteers from all walks of life
  and all skills levels, and we'd love to have you, too. To get
  involved,
  = link_to 'join our discussion mailing list', 'http://lists.growstuff.org/mailman/listinfo/discuss'
  or find more information on the
  = succeed "." do
    = link_to 'Growstuff Wiki', 'http://wiki.growstuff.org/'

%h2 Support Growstuff

%p
  Growstuff is supported by our community. We are
  =link_to 'ad-free', 'http://wiki.growstuff.org/index.php/Why_no_ads%3F'
  and have no outside investment.  You can support us by
  =succeed "." do
    =link_to 'buying a paid account', shop_path
