- cache("homepage_stats") do
  %p.stats
    So far,
    = link_to "#{Member.confirmed.count.to_i} members", members_path
    have planted
    = link_to "#{Crop.count.to_i} crops", crops_path
    = link_to "#{Planting.count.to_i} times", plantings_path
    in
    = succeed "." do
      = link_to "#{Garden.count.to_i} gardens", gardens_path
