.row-fluid
  .span12
    - if member_signed_in?
      %h1
        Welcome to
        = succeed "," do
          = Growstuff::Application.config.site_name
        = current_member
      = render :partial => 'stats'
      %ul.inline
        %li{ :style => 'padding-left: 0px' }
          %strong Quick links:
        %li= link_to "Plant something", new_planting_path
        %li= link_to "Add seeds", new_seed_path
        %li= link_to "Post", new_post_path
        %li= link_to "Edit profile", edit_member_registration_path

    - else
      .visible-desktop.visible-tablet
        .hero-unit
          = render :partial => 'blurb'
      .visible-phone
        = render :partial => 'blurb'
.row-fluid
  .span8.main
    = render :partial => 'crops'
    = render :partial => 'seeds'
    - unless current_member
      = render :partial => 'members'
    = render :partial => 'discuss'

  .span4.sidebar
    = render :partial => 'keep_in_touch'
    = render :partial => 'open'
