- content_for :title do
  = ENV['GROWSTUFF_SITE_NAME']

- if member_signed_in?
  .row
    .col-lg-8.col-md-12
      %h1.display-4= t('.welcome', site_name: ENV['GROWSTUFF_SITE_NAME'], member_name: current_member)
      %p= render 'stats', cached: true
    .col
      %p
        = link_to member_gardens_path(current_member), class: 'btn btn-dark' do
          = image_icon 'gardens'
          Show me my garden
- else
  .hidden-xs
    %section.jumbotron= render 'blurb', cached: true
.row
  .col-lg-8.col-md-12
    = react_component("home/Crops")
    = react_component("home/RecentCrops")
  .col-xl-2.col
    = react_component("home/Plantings")
  .col-xl-2.col
    = react_component("home/Harvests")

