- if member_signed_in?

  %h1= "Welcome, #{current_member.login_name}"

  .row
    .visible-desktop.visible-tablet
      .span2
        = render :partial => "members/avatar", :locals => { :member => current_member }
    .span6
      %p
        %b Your profile:
        =link_to current_member, current_member
        = link_to "Edit", edit_registration_path(current_member), :class => 'btn btn-mini'

      %p
        %b Your location:
        = current_member.location ? current_member.location : 'Not set'
        = link_to "Edit", edit_registration_path(current_member), :class => 'btn btn-mini'

      %ul.inline
        %li.first
          %b Your gardens:
        - current_member.gardens.each do |g|
          %li= link_to g.name, g
        - if can? :create, Garden
          %li
            = link_to 'Add', new_garden_path, :class => 'btn btn-mini'

      %p
        %b Your seed stash:
        = link_to pluralize(current_member.seeds.count, "variety"), seeds_by_owner_path(:owner => current_member.slug)
        = link_to 'Add', new_seed_path, :class => 'btn btn-mini'

    .span4
      %p
        Your account:
        %strong
          = current_member.account_type 
          account
        %br/
        - if current_member == current_member && !current_member.is_paid?
          = link_to "Upgrade and Support #{Growstuff::Application.config.site_name}", shop_path, :class => 'btn btn-primary'

- else
  .visible-desktop.visible-tablet
    .hero-unit
      = render :partial => 'blurb'
  .visible-phone
    = render :partial => 'blurb'

  - if @interesting_members.present?
    %h2 Some of our members
    %ul.thumbnails
      - @interesting_members.each do |m|
        %li.span2
          = render :partial => "members/thumbnail", :locals => { :member => m }

.row
  .span6
    %h2 Recent plantings
    = render :partial => 'shared/recent_plantings'
  .span6
    %h2 Recent posts
    = render :partial => 'shared/recent_posts'
