.row-fluid
  = render :partial => 'blurb'
.row-fluid
  .span8.main
    = render :partial => 'crops'
    = render :partial => 'seeds'
    = render :partial => 'people'

  .span4.sidebar
    = render :partial => 'keep_in_touch'
    = render :partial => 'open'
