- content_for :title do
  = ENV['GROWSTUFF_SITE_NAME']

- if member_signed_in?
  %h1= t('.welcome', site_name: ENV['GROWSTUFF_SITE_NAME'], member_name: current_member)

  %p= render 'stats'
- else
  .hidden-xs
    .jumbotron= render 'blurb'

.row
  .col-xl-8.col-md-12
    %section.crops
      %h2= t('.some_of_our_crops')
      .homepage-cards= render 'crops'
      .align-bottom
        %p.text-right= link_to "#{t('home.crops.view_all')} »", crops_path, class: 'btn'
        - cache cache_key_for(Crop, 'recent') do
          %h3= t('.recently_added')
          != Crop.recent.limit(30).map { |c| link_to(c, c) }.join(", ")


    %section.seeds
      %h2.text-center= t('.seeds_available_to_trade')
      .homepage-cards
        .card-row.mx-auto= render Seed.current.tradable.recent.includes(:owner, :crop).limit(12), full: true
      .align-bottom
        %p.text-right= link_to "#{t('home.seeds.view_all')} »", seeds_path, class: 'btn'

  .col-xl-4
    .row
      .col-6
        %section.plantings
          %h5= t('.recently_planted')

          - Planting.has_photos.recent.includes(:crop, garden: :owner).limit(3).each do |planting|
            .card
              = link_to planting, class: 'list-group-item list-group-item-action flex-column align-items-start' do
                .d-flex.w-100.justify-content-between
                  %p.mb-2= image_tag planting_image_path(planting), width: 75
                  %div
                    %h5.mb-2.h5
                      = planting.crop.name
                      - if !planting.finished? && planting.finish_is_predicatable?
                        %span.badge.badge-success #{sprintf '%.0f', planting.percentage_grown}%
                    %small.text-muted
                      - if planting.planted_from.present?
                        = display_planting(planting)



      .col-6
        %section.harvests
          %h5= t('.recently_harvested')
          - Harvest.has_photos.recent.includes(:crop, :owner, :photos).limit(3).each do |harvest|
            .card
              = link_to harvest, class: 'list-group-item list-group-item-action flex-column align-items-start' do
                .d-flex.w-100.justify-content-between
                  %div
                    %h5.mb-2.h5= harvest.crop.name
                    %span.badge.badge-success=harvest.plant_part
                    %small.text-muted=display_human_quantity(harvest)
                  %p.mb-2= image_tag harvest_image_path(harvest), width: 75


    %section.members= render 'discuss'


%section.members= render 'members'
