- if member_signed_in?

  %h1= "Welcome, #{current_member.login_name}"

  .row
    .visible-desktop.visible-tablet
      .span2
        = render :partial => "members/avatar", :locals => { :member => current_member }
    .span6
      %p
        %b Your profile:
        =link_to current_member, current_member
        %small
          = link_to "Edit", edit_registration_path(current_member), :class => 'btn btn-mini'

      %p
        %b Your location:
        = current_member.location ? current_member.location : 'Not set'
        %small
          = link_to "Edit", edit_registration_path(current_member), :class => 'btn btn-mini'

      %ul.inline
        %li.first
          %b Your gardens:
        - current_member.gardens.each do |g|
          %li= link_to g.name, g
        - if can? :create, Garden
          %li
            %small= link_to 'Add', new_garden_path, :class => 'btn btn-mini'

    .span4
      - if current_member.has_role?(:admin)
        %p
          %b You are an ADMIN USER.

      - if current_member.forums.count > 0
        %p
          %b Forums you administer:
        %ul
          - current_member.forums.each do |f|
            %li= link_to f.name, f

  .row
    .span6
      %h2 Your recent plantings
      - if current_member.plantings.count > 0
        %ul
          - current_member.plantings.limit(10).each do |p|
            %li
              = link_to "#{p.crop.system_name} in #{p.location}", p
              - if p.planted_at
                on
                = p.planted_at.to_s(:date)
      - else
        %p None yet.
      - if can? :create, Planting
        %p= link_to "Plant something", new_planting_path, :class => 'btn btn-primary'

    .span6
      %h2 Your recent posts
      - if current_member.posts.count > 0
        %ul
          - current_member.posts.limit(10).each do |p|
            %li
              = link_to p.subject, p
              - if p.forum
                in
                = link_to p.forum.name, p.forum
              on
              = p.created_at.to_s(:date)
      - else
        %p None yet.
      - if can? :create, Planting
        %p= link_to "Post something", new_post_path, :class => 'btn btn-primary'

- else
  .visible-desktop.visible-tablet
    .hero-unit
      = render :partial => 'blurb'
  .visible-phone
    = render :partial => 'blurb'
