.row
  .col-md-12
    - if member_signed_in?
      %h1= t('.welcome', site_name: ENV['GROWSTUFF_SITE_NAME'], member_name: current_member)
      // TODO: remove this change before going live, just makes it easier to spot issues while testing
      - if current_member.deleted?
        %h1= "You are deleted and something is wrong"

      = render :partial => 'stats'
      %p
        .btn-group
          = link_to t('.plant'), new_planting_path, :class => 'btn btn-default'
          = link_to t('.harvest'), new_harvest_path, :class => 'btn btn-default'
          = link_to t('.add_seeds'), new_seed_path, :class => 'btn btn-default'
          = link_to t('.post'), new_post_path, :class => 'btn btn-default'

    - else
      .hidden-xs
        .jumbotron
          = render :partial => 'blurb'
      .visible-xs
        = render :partial => 'blurb'

    = render :partial => 'crops'
    = render :partial => 'seeds'
    = render :partial => 'members'
    = render :partial => 'discuss'

