- content_for :title do
  = ENV['GROWSTUFF_SITE_NAME']

- if member_signed_in?
  %h1.display-4= t('.welcome', site_name: ENV['GROWSTUFF_SITE_NAME'], member_name: current_member)

  %p= render 'stats'
- else
  .hidden-xs
    %section.jumbotron= render 'blurb'

.row
  .col-lg-8.col-md-12
    %section.crops
      %h2= t('home.crops.our_crops')
      = render 'crops'
      = link_to "#{t('home.crops.view_all')} »", crops_path, class: 'btn btn-block'
      = cute_icon
    %section.recent-crops
      - cache cache_key_for(Crop, 'recent') do
        %h2= t('.recently_added')
        %p
          != Crop.recent.limit(30).map { |c| link_to(c, c) }.join(", ")

  .col-xl-2.col
    %section.plantings
      =render 'plantings'
      %p.text-right= link_to "#{t('home.plantings.view_all')} »", plantings_path, class: 'btn btn-block'
      = cute_icon
  .col-xl-2.col
    %section.harvests
      = render 'harvests'
      %p.text-right= link_to "#{t('home.harvests.view_all')} »", harvests_path, class: 'btn btn-block'
      = cute_icon
  .col-12.col-md-6
    %section.seeds
      = render 'seeds'
      = cute_icon
      %p.text-right= link_to "#{t('home.seeds.view_all')} »", seeds_path, class: 'btn btn-block'
  .col-12.col-md-6
    %section.discussion= render 'discuss'
  .col-12
    %section.members= render 'members'
