.card
  = link_to harvest do
    = image_tag harvest.default_photo.fullsize_url, alt: "Card image cap", class: 'img-fluid card-img-top'
  .card-body.text-center
    %h4.card-title
      %strong= link_to "#{harvest.crop} #{harvest.plant_part}", harvest
