.card
  = link_to harvest do
    = image_tag harvest_image_path(harvest), alt: harvest, class: 'img-card'
  .card-body
    %h5
      = crop_icon(harvest.crop)
      %strong
        = link_to harvest.crop, harvest
      %span.badge.badge-pill= link_to harvest.plant_part, harvest.plant_part
    - if harvest.planting.present?
      %p.card-text
        %small.text-muted
          Harvested from
          = link_to harvest.planting, harvest.planting
  .card-footer
    .float-right=render 'members/tiny', member: harvest.owner