#modelHarvestForm.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header.text-center
        %h4.modal-title.w-100.font-weight-bold Record #{harvest.crop.name} harvest
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} &#215;
      .modal-body
        %p Select which plant part you have havested

        - if harvest.crop.plant_parts.any?
          %h5 Recommended plant parts to harvest:
          .index-cards
            - harvest.crop.plant_parts.order(:name).each do |plant_part|
              .card
                = link_to harvests_path(harvest: {planting_id: harvest.planting_id, crop_id: harvest.crop_id, plant_part_id: plant_part.id}), method: :post do
                  .card-title.text-center
                    %h3= plant_part_icon(plant_part.name)
                    %h3= plant_part.name

          %hr/
        %h6 All Plant parts
        %nav.nav
          - PlantPart.all.order(:name).each do |plant_part|
            = link_to harvests_path(harvest: {planting_id: harvest.planting_id, crop_id: harvest.crop_id, plant_part_id: plant_part.id}), method: :post, class: 'nav-link border' do
              = plant_part_icon(plant_part.name)
              = plant_part

%a.btn#modalHarvestButton{"data-target" => "#modelHarvestForm", "data-toggle" => "modal", href: ""}
  = harvest_icon
  Record harvest
