- if @harvest.planting
  = link_to "#{@harvest.planting.crop.name} planted on #{@harvest.planting.planted_at}",
    planting_path(@harvest.planting)
  in
  = link_to @harvest.planting.garden, garden_path(@harvest.planting.garden)
- elsif @matching_plantings && @matching_plantings.any? && @harvest.owner == current_member

  .alert.alert-info{role: "alert"}
    = bootstrap_form_for(@harvest) do |f|
      Is this from one of these plantings?
      - @matching_plantings.each do |planting|
        = f.radio_button :planting_id, planting.id, label: planting
      = f.submit "save", class: 'btn btn-sm'
- else
  Unknown
