- cache harvest do
  = link_to harvest_path(slug: harvest.slug) do
    .card.harvest-thumbnail
      = image_tag(harvest.thumbnail_url ? harvest.thumbnail_url : placeholder_image,
                            alt: harvest.crop_name,
                            class: 'img img-card')

      .text
        %h3.harvest-crop #{harvest.crop_name} harvest
        %h4.harvest-plant-part= harvest.plant_part_name
        %h5.harvest-date= harvest.harvested_at
