- content_for :title, @owner ? t('.title.owner_harvests', owner: @owner) : @crop ? t('.title.crop_harvests', crop: @crop.name) : t('.title.default')
- if @owner
  = link_to "View #{@owner}'s profile >>", member_path(@owner)

%p
  #{ENV['GROWSTUFF_SITE_NAME']} helps you track what you're
  harvesting from your home garden and see how productive it is.

%p
  - if can? :create, Harvest
    - if @owner
      %p
        - if @owner == current_member
          = link_to 'Add harvest', new_harvest_path, :class => 'btn btn-primary'
        = link_to "View everyone's harvests", harvests_path, :class => 'btn btn-default'
    - else # everyone's harvests
      = link_to 'Add harvest', new_harvest_path, :class => 'btn btn-primary'
      - if current_member
        = link_to 'View your harvests', harvests_by_owner_path(:owner => current_member.slug), :class => 'btn btn-default'
  - else
    = render :partial => 'shared/signin_signup', :locals => { :to => 'track your harvests' }

%div.pagination
  = page_entries_info @harvests, :model => "harvests"
  = will_paginate @harvests
.row
  - if @harvests.size > 0
    - @harvests.each do |harvest|
      .col-md-6
        =render :partial => 'harvests/thumbnail', :locals => {:harvest => harvest}

%div.pagination
  = page_entries_info @harvests, :model => "harvests"
  = will_paginate @harvests

  %ul.list-inline
    %li The data on this page is available in the following formats:
    - if @owner
      %li= link_to "CSV", harvests_by_owner_path(@owner, :format => 'csv')
      %li= link_to "JSON", harvests_by_owner_path(@owner, :format => 'json')
    - else
      %li= link_to "CSV", harvests_path(:format => 'csv')
      %li= link_to "JSON", harvests_path(:format => 'json')
