- content_for :title, title('harvests', @owner, @crop, @planting)

- if @owner
  = link_to "View #{@owner}'s profile >>", member_path(@owner)

%p
  #{ENV['GROWSTUFF_SITE_NAME']} helps you track what you're
  harvesting from your home garden and see how productive it is.

= render "nav"
.pagination
  = page_entries_info @harvests
  = will_paginate @harvests
.row
  - unless @harvests.empty?
    - @harvests.each do |harvest|
      .col-md-6
        = render 'harvests/card', harvest: harvest

.pagination
  = page_entries_info @harvests
  = will_paginate @harvests

  %ul.list-inline
    %li The data on this page is available in the following formats:
    - if @owner
      %li= link_to "CSV", harvests_by_owner_path(@owner, format: 'csv')
      %li= link_to "JSON", harvests_by_owner_path(@owner, format: 'json')
    - else
      %li= link_to "CSV", harvests_path(format: 'csv')
      %li= link_to "JSON", harvests_path(format: 'json')
