- content_for :title, @owner ? "#{@owner}'s harvests" : "Everyone's harvests"

%p
  #{ENV['GROWSTUFF_SITE_NAME']} helps you track what you're
  harvesting from your home garden and see how productive it is.

%p
  - if can? :create, Harvest
    - if @owner
      %p
        - if @owner == current_member
          = link_to 'Add harvest', new_harvest_path, :class => 'btn btn-primary'
        = link_to "View everyone's harvests", harvests_path, :class => 'btn'
    - else # everyone's harvests
      = link_to 'Add harvest', new_harvest_path, :class => 'btn btn-primary'
      - if current_member
        = link_to 'View your harvests', harvests_by_owner_path(:owner => current_member.slug), :class => 'btn'
  - else
    = render :partial => 'shared/signin_signup', :locals => { :to => 'track your harvests' }

%div.pagination
  = page_entries_info @harvests, :model => "harvests"
  = will_paginate @harvests

- if @harvests.length > 0

  %table.table.table-striped
    %tr
      - unless @owner
        %th Owner
      %th Crop
      %th Plant part
      %th Date
      %th Quantity
      %th Description
      %th

    - @harvests.each do |harvest|
      %tr
        - unless @owner
          %td= link_to harvest.owner.login_name, harvest.owner
        %td= link_to harvest.crop.name, harvest.crop
        %td
          - if harvest.plant_part
            = link_to harvest.plant_part.name, harvest.plant_part
        %td= harvest.harvested_at
        %td= display_quantity(harvest)
        %td= harvest.description
        %td= link_to 'Details', harvest, :class => 'btn btn-mini'

  %div.pagination
    = page_entries_info @harvests, :model => "harvests"
    = will_paginate @harvests

  %ul.list-inline
    %li The data on this page is available in the following formats:
    - if @owner
      %li= link_to "CSV", harvests_by_owner_path(@owner, :format => 'csv')
      %li= link_to "JSON", harvests_by_owner_path(@owner, :format => 'json')
    - else
      %li= link_to "CSV", harvests_path(:format => 'csv')
      %li= link_to "JSON", harvests_path(:format => 'json')
