- content_for(:title) do
  = title('harvests', @owner, @crop, @planting)

%h1
  = harvest_icon
  = title('harvests', @owner, @crop, @planting)

- if @owner
  = link_to "View #{@owner}'s profile >>", member_path(@owner)

%p
  #{ENV['GROWSTUFF_SITE_NAME']} helps you track what you're
  harvesting from your home garden and see how productive it is.

= render 'layouts/nav', model: Harvest

- content_for :breadcrumbs do
  - if @owner
    %li.breadcrumb-item= link_to 'Harvests', harvests_path
    %li.breadcrumb-item.active= link_to "#{@owner}'s harvests", harvests_path(owner: @owner)
  - else
    %li.breadcrumb-item.active= link_to "Harvests", harvests_path

.pagination
  = page_entries_info @harvests
  = will_paginate @harvests

- unless @harvests.empty?
  .index-cards=render @harvests, full: true

.pagination
  = will_paginate @harvests

%section.open-data
  %h5= t('label.data')
  %ul.nav#open-data
    - ['csv', 'json', 'rss'].each do |format|
      %li.list-group-item
        = link_to (@owner ? member_harvests_path(@owner, format: format) : harvests_path(format: format)) do
          = icon 'fas', format.to_s
          = format.upcase