=content_for :title, "#{@harvest.crop} harvested by #{@harvest.owner}"

.row
  .col-md-6
    %p
      %b Owner:
      = link_to @harvest.owner, @harvest.owner
      &mdash;
      = link_to "view all #{@harvest.owner}'s harvests", harvests_by_owner_path(:owner => @harvest.owner.slug)
    %p
      %b Plant part:
      - if @harvest.plant_part 
        = link_to @harvest.plant_part, @harvest.plant_part 
      - else
        not specified
    %p
      %b Harvested:
      = @harvest.harvested_at ? @harvest.harvested_at : "not specified"
    %p
      %b Quantity:
      = display_quantity(@harvest)

    - if can? :edit, @harvest or can? :destroy, @harvest
      %p
      - if can? :edit, @harvest
        =link_to 'Edit', edit_harvest_path(@harvest), :class => 'btn btn-xs'
      - if can? :destroy, @harvest
        =link_to 'Delete', @harvest, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs'

  .col-md-6
    = render :partial => "crops/index_card", :locals => { :crop => @harvest.crop}

%h2 Notes

:growstuff_markdown
  #{ @harvest.description != "" ? @harvest.description : "No description given." }
