=content_for :title, "#{@harvest.crop} harvested by #{@harvest.owner}"
- content_for :opengraph do
  - @harvest.photos.each do |photo|
    = tag("meta", property: "og:image", content: photo.fullsize_url) 
  = tag("meta", property: "og:image:user_generated", content: "true")
  = tag("meta", property: "og:title", content: "#{@harvest.crop} harvested by #{@harvest.owner}")
  = tag("meta", property: "og:type", content: "website")
  = tag("meta", property: "og:url", content: request.original_url)
  = tag("meta", property: "og:site_name", content: ENV['GROWSTUFF_SITE_NAME'])

.row
  .col-md-6
    %p
      %b Owner:
      = link_to @harvest.owner, @harvest.owner
      &mdash;
      = link_to "view all #{@harvest.owner}'s harvests", harvests_by_owner_path(:owner => @harvest.owner.slug)
    %p
      %b Plant part:
      - if @harvest.plant_part 
        = link_to @harvest.plant_part, @harvest.plant_part 
      - else
        not specified
    %p
      %b Harvested:
      = @harvest.harvested_at ? @harvest.harvested_at : "not specified"
    %p
      %b Quantity:
      = display_quantity(@harvest)

    - if can? :edit, @harvest or can? :destroy, @harvest
      %p
      - if can? :edit, @harvest
        =link_to 'Edit', edit_harvest_path(@harvest), :class => 'btn btn-default btn-xs'
      - if can? :destroy, @harvest
        =link_to 'Delete', @harvest, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default btn-xs'

  .col-md-6
    = render :partial => "crops/index_card", :locals => { :crop => @harvest.crop}

%h2 Notes

:growstuff_markdown
  #{ @harvest.description != "" ? @harvest.description : "No description given." }

- if @harvest.photos.size > 0 or (can? :edit, @harvest and can? :create, Photo)
  %h2 Pictures

  %ul.thumbnails
    - @harvest.photos.each do |p|
      .col-md-2.six-across
        = render :partial => 'photos/thumbnail', :locals => { :photo => p }
    - if can? :create, Photo and can? :edit, @harvest
      .col-md-2
        .thumbnail(style='height: 220px')
          %p{:style => 'text-align: center; padding-top: 50px'}
            = link_to "Add photo", new_photo_path(:type => "harvest", :id => @harvest.id), :class => 'btn btn-primary'
