= content_for :title, "#{@harvest.crop} harvested by #{@harvest.owner}"
- content_for :opengraph do
  - @harvest.photos.each do |photo|
    = tag("meta", property: "og:image", content: photo.fullsize_url)
  = tag("meta", property: "og:image:user_generated", content: "true")
  = tag("meta", property: "og:title", content: "#{@harvest.crop} harvested by #{@harvest.owner}")
  = tag("meta", property: "og:type", content: "website")
  = tag("meta", property: "og:url", content: request.original_url)
  = tag("meta", property: "og:site_name", content: ENV['GROWSTUFF_SITE_NAME'])

.row
  .col-md-8
    %h1
      = harvest_icon
      #{@harvest.crop} harvested by #{@harvest.owner}
    = render 'harvests/actions', harvest: @harvest
    = link_to "view all #{@harvest.owner}'s harvests >>", member_harvests_path(@harvest.owner), class: 'btn'
    .index-cards.planting-facts
      - if @harvest.plant_part
        .card.planting-fact-card
          %h3 Plant part
          %span= link_to @harvest.plant_part, @harvest.plant_part
      - if @harvest.harvested_at.present?
        .card.planting-fact-card
          %h3 Harvested
          = @harvest.harvested_at

      .card.planting-fact-card
        %h3 Planting
        = render partial: 'planting'
      .card.planting-fact-card
        %h3 Quantity
        %span= display_quantity(@harvest)


    - if @harvest.description.present?
      %h2 Notes
      :growstuff_markdown
        #{ @harvest.description != "" ? strip_tags(@harvest.description) : "No description given." }

    %hr/
    - if @harvest.photos.size.positive?
      .row
        .col-md-6= render @harvest.default_photo
        .col-md-6
          = render 'photos/gallery', photos: @harvest.photos.order(date_taken: :desc).limit(3).offset(1)
          %p.text-right= link_to 'View all photos >>', harvest_photos_path(@harvest), class: 'btn'
  .col-md-4
    .card
      .card-body= render 'harvests/owner', harvest: @harvest

    = render @harvest.crop