%p#notice= notice

%p
  %b Crop:
  = @harvest.crop_id
%p
  %b Owner:
  = @harvest.owner_id
%p
  %b Harvested at:
  = @harvest.harvested_at
%p
  %b Quantity:
  = @harvest.quantity
%p
  %b Units:
  = @harvest.units
%p
  %b Notes:
  = @harvest.description
