= content_for :title, "#{@harvest.crop} harvested by #{@harvest.owner}"
- content_for :opengraph do
  - @harvest.photos.each do |photo|
    = tag("meta", property: "og:image", content: photo.fullsize_url)
  = tag("meta", property: "og:image:user_generated", content: "true")
  = tag("meta", property: "og:title", content: "#{@harvest.crop} harvested by #{@harvest.owner}")
  = tag("meta", property: "og:type", content: "website")
  = tag("meta", property: "og:url", content: request.original_url)
  = tag("meta", property: "og:site_name", content: ENV['GROWSTUFF_SITE_NAME'])

.row
  .col-md-6
    %p
      %b Owner:
      = link_to @harvest.owner, @harvest.owner
      &mdash;
      = link_to "view all #{@harvest.owner}'s harvests", harvests_by_owner_path(owner: @harvest.owner.slug)
    %p
      %b Plant part:
      - if @harvest.plant_part
        = link_to @harvest.plant_part, @harvest.plant_part
      - else
        not specified
    %p
      %b Harvested:
      = @harvest.harvested_at ? @harvest.harvested_at : "not specified"

      %p
        %b Planting:
        = render partial: 'planting'
    %p
      %b Quantity:
      = display_quantity(@harvest)

    = render 'harvests/actions', harvest: @harvest

  .col-md-6
    = render partial: "crops/index_card", locals: { crop: @harvest.crop }

%h2 Notes

:growstuff_markdown
  #{ @harvest.description != "" ? strip_tags(@harvest.description) : "No description given." }

= render 'photos/item_photos', item: @harvest, type: 'harvest', photos: @photos
