%h1 Timeline

.row
  .col-md-9

    .pagination
      = page_entries_info @seeds
      = will_paginate @seeds

    .list-group-item.list-group-item-action.flex-column.align-items-start.active{:href => "#!"}
      - @timeline.each do |event|
        .d-flex.justify-content-between
          %h5
            - owner = Member.find(event.owner_id)
            = render 'members/tiny', member: owner
            = icon_for_model(event.event_type)
            = link_to owner, owner
            = event_description(event)
          %small= time_ago_in_words event.event_at
          - if event.crop_id.present?
            = render 'crops/thumbnail', crop: Crop.find(event.crop_id)
    .pagination
      = page_entries_info @seeds
      = will_paginate @seeds
  .col-md-3
    .card
      .card-header
        %h3 Following
      - @members.each do |member|
        = link_to member do
          %p
            = render 'members/tiny', member: member
            = member
