%h1 Listing orders

%table
  %tr
    %th Member
    %th
    %th
    %th

  - @orders.each do |order|
    %tr
      %td= order.member_id
      %td= link_to 'Show', order
      %td= link_to 'Edit', edit_order_path(order)
      %td= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Order', new_order_path
