- content_for :title, "Order History"

%table.table-striped
  %tr
    %th Order number
    %th Order began
    %th Order completed
    %th Number of items
    %th
  - @orders.each do |order|
    %tr
      %td= order.id
      %td= order.created_at.to_s
      %td= order.completed_at.to_s
      %td= order.order_items.count
      %td= link_to 'Show', order, :class => 'btn btn-small'
