-content_for :title, "Order details (##{@order.id})"

%p
  %strong Order number:
  = @order.id

%p
  %strong Ordered by:
  =link_to @order.member, @order.member

%p
  %strong Date begun:
  = @order.created_at.to_s

%p
  %strong Date completed:
  - if @order.completed_at
    = @order.completed_at.to_s
  - else
    Not completed.

%h2 Order items

%table.table.table-striped
  %tr
    %th Product
    %th Price
    %th Quantity
    %th Subtotal
  - total = 0
  - @order.order_items.each do |i|
    %tr
      %td= i.product.name
      %td
        = price_with_currency(i.price)
      %td= i.quantity
      %td
        - subtotal = i.price * i.quantity
        - total += subtotal
        = price_with_currency(subtotal)

  %tr
    %td
    %td
    %td
      %strong Total:
    %td
      %strong
        = price_with_currency(total)

%p
  = link_to "View other orders/order history", orders_path
