%p#notice= notice

= render :partial => 'crops/approval_status_message', :locals => { :crop => @scientific_name.crop }

%p
  %b Scientific name:
  = @scientific_name.scientific_name
%p
  %b Crop:
  = link_to @scientific_name.crop, @scientific_name.crop


- if can? :edit, @scientific_name
  = link_to 'Edit', edit_scientific_name_path(@scientific_name), :class => 'btn btn-default btn-xs'
  \|
= link_to 'Back', scientific_names_path
