%p#notice= notice

%p
  %b Scientific name:
  = @scientific_name.scientific_name
%p
  %b Crop:
  = @scientific_name.crop_id

= link_to 'Edit', edit_scientific_name_path(@scientific_name), :class => 'btn btn-xs'
\|
= link_to 'Back', scientific_names_path
