.panel.panel-success
  .panel-heading
    %h3.panel-title
      = link_to garden.name, garden_path(garden)
  .panel-body
    .row
      .col-md-2.col-xs-12.garden-info
        %p= render 'gardens/photo', garden: garden
        %p= display_garden_description(garden)
        - if can?(:edit, garden)
          = render 'gardens/actions', garden: garden

      .col-md-10
        - if garden.plantings.current.size.positive?
          .row
            - garden.plantings.current.order(created_at: :desc).includes(:crop, :photos).each do |planting|
              .col-lg-2.col-sm-4.col-xs-6
                = render "plantings/thumbnail", planting: planting
        - else
          no plantings
