
- if can? :edit, seed
  .btn-group
    = render 'shared/buttons/edit', path: edit_seed_path(seed)
    = render 'shared/buttons/add_photo', path: new_photo_path(id: seed.id, type: 'seed')

    - if can?(:create, Planting) && seed.active?
      = link_to new_planting_path(seed_id: seed), class: 'btn btn-default btn-xs' do
        %span.glyphicon.glyphicon-grain{ title: "Plant seeds" }
        Plant seeds

    = render 'shared/buttons/finish_seeds', seed: seed

- if can? :destroy, seed
  = render 'shared/buttons/delete', path: seed
