.card.seed-card
  = link_to seed do
    = image_tag(seed_image_path(seed, full_size: true), alt: seed, class: 'img-card')
  .card-body
    .card-title= link_to seed.crop, seed
  .card-footer
    = render 'members/tiny', member: seed.owner
    - if seed.tradable?
      %span.badge.badge-pill.badge-info
        = icon 'fas', 'map'
        Will trade #{seed.tradable_to}
    %span.badge.badge-pill.badge-secondary
      = truncate(seed.owner.location, length: 30, separator: ' ', omission: '... ')