.card.seed-card
  = link_to seed do
    = image_tag(seed_image_path(seed, full_size: true), alt: seed, class: 'img-card')
  .card-body
    %h5= link_to seed, seed
    - if seed.tradable?
      %span.badge.badge-pill.badge-secondary Will trade #{seed.tradable_to}
  = link_to seed.owner do
    .card-footer
      %ul.nav.nav-justified.small
        %li.nav-item
          %span.badge.badge-pill.badge-secondary=seed.owner.location
        %li.nav-item
          = render 'members/tiny', member: seed.owner