.card.seed-card
  = link_to seed do
    = image_tag(seed_image_path(seed, full_size: true), alt: seed, class: 'img-card')
  .card-body
    %h5= link_to seed, seed
    - if seed.tradable?
      %span.badge.badge-pill.badge-secondary Will trade #{seed.tradable_to}
  .card-footer
    %span.badge.badge-pill.badge-secondary=seed.owner.location
    %p.float-right= render 'members/tiny', member: seed.owner