.index-cards.facts.seedfacts
  .card
    %h3 Quantity
    %strong.seedfacts--quantity= seed.quantity.blank? ? "not specified" : seed.quantity
    %span seeds

  - if seed.plant_before.present?
    .card.seedfacts--card
      %h3 Plant before
      %strong.seedfacts--plantbefore= I18n.l(seed.plant_before)

  -if seed.finished_at.present?
    .card
      %h3 Finished at
      %strong.seedfacts--finishedat= I18n.l(seed.finished_at)
  .card
    %h3 Days until maturity
    %strong.seedfacts--maturity= render partial: 'days_until_maturity', locals: { seed: seed }

  .card
    %h3 Will trade
    %strong.seedfacts--tradableto= seed.tradable_to
    %span
      - if seed.owner.location.blank?
        (from unspecified location)
        - if current_member == seed.owner
          = link_to "Set Location", edit_registration_path(current_member), class: 'btn btn-default btn-xs'
      - else
        (from #{link_to seed.owner.location, place_path(seed.owner.location, anchor: "seeds")})
