= form_for(@seed, :html => {:class => "form-horizontal"}) do |f|
  - if @seed.errors.any?
    #error_explanation
      %h2= "#{pluralize(@seed.errors.count, "error")} prohibited this seed from being saved:"
      %ul
        - @seed.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label 'Crop:', :class => 'control-label'
    .controls= collection_select(:seed, :crop_id, Crop.all, :id, :name, :selected => @seed.crop_id || @crop.id)
  .form-group
    = f.label 'Quantity:', :class => 'control-label'
    .controls
      = f.number_field :quantity, :class => 'input-small'
  .form-group
    = f.label 'Plant before:', :class => 'control-label'
    .controls= f.text_field :plant_before, :value => @seed.plant_before ? @seed.plant_before.to_s(:ymd) : '', :class => 'add-datepicker'
  .form-group
    = f.label 'Description:', :class => 'control-label'
    .controls= f.text_area :description, :rows => 6
  .form-group
    = f.label 'Will trade:', :class => 'control-label'
    .controls
      = f.select(:tradable_to,
          options_for_select(Seed::TRADABLE_TO_VALUES, :selected => @seed.tradable_to || 'nowhere'))
      %span.help_inline
        - if current_member.location.blank?
          Don't forget to
          =succeed "." do
            =link_to "set your location", edit_member_registration_path
        - else
          from
          =succeed "." do
            = link_to current_member.location, place_path(current_member.location)
          =link_to "Change your location.", edit_member_registration_path
      %span.help-block
        Are you interested in trading or swapping seeds with other
        #{ENV['GROWSTUFF_SITE_NAME']} members?  If you
        list your seeds as available for trade, other members can
        contact you to request seeds.  You can list any conditions or
        other information in the description, above.
  .form-actions
    = f.submit 'Save', :class => 'btn btn-primary'
