- content_for :title, title('seeds', @owner, @crop, @planting)

- if @owner
  = link_to "View #{@owner}'s profile >>", member_path(@owner)

%p
  #{ENV['GROWSTUFF_SITE_NAME']} helps you track your seed
  stash or trade seeds with other members.

= render 'layouts/nav', model: Seed

.pagination
  = page_entries_info @seeds
  = will_paginate @seeds

- unless @seeds.empty?
  .seed-cards= render @seeds, full: true

.pagination
  = page_entries_info @seeds
  = will_paginate @seeds

%ul.list-inline
  %li The data on this page is available in the following formats:
  - if @owner
    %li= link_to "CSV", member_seeds_path(@owner, format: 'csv')
    %li= link_to "JSON", member_seeds_path(@owner, format: 'json')
    %li= link_to "RSS", member_seeds_path(@owner, format: 'rss')
  - else
    %li= link_to "CSV", seeds_path(format: 'csv')
    %li= link_to "JSON", seeds_path(format: 'json')
    %li= link_to "RSS", seeds_path(format: 'rss')
