- content_for :breadcrumbs do
  - if @owner
    %li.breadcrumb-item= link_to 'Seeds', seeds_path
    %li.breadcrumb-item.active= link_to "#{@owner}'s seeds", seeds_path(owner: @owner)
  - else
    %li.breadcrumb-item.active= link_to 'Seeds', seeds_path

- content_for :title, title('seeds', @owner, @crop, @planting)
%h1
  = seed_icon
  = title('seeds', @owner, @crop, @planting)

.row
  .col
    %ul.nav
      %li.list-group-item
        = link_to show_inactive_tickbox_path('seeds', owner: @owner, show_all: @show_all) do
          = check_box_tag 'active', 'all', @show_all
          include finished
      - if @owner
        %li.list-group-item.btn
          = link_to t('.view_owners_profile', owner: @owner), member_path(@owner)
  .col= render 'layouts/nav', model: Seed

- unless @seeds.empty?
  = page_entries_info @seeds
  = will_paginate @seeds

  .index-cards
    - @seeds.each do |seed|
      = render 'seeds/card', seed: seed

  = will_paginate @seeds

%section.open-data
  %h5= t('label.data')
  %ul.nav#open-data
    - ['csv', 'json', 'rss'].each do |format|
      %li.list-group-item
        = link_to (@owner ? member_seeds_path(@owner, format: format) : seeds_path(format: format)) do
          = icon 'fas', format.to_s
          = format.upcase

