<?xml version="1.0" encoding="UTF-8"?>
%rss{ version: 2.0 }
  %channel
    %title
      Recent seeds from #{@owner ||= 'all members'} (#{ENV['GROWSTUFF_SITE_NAME']})
    %link= seeds_url
    - @seeds.each do |seed|
      %item
        %title #{seed.owner_login_name}'s #{seed.crop_name} seeds
        %pubdate= seed.created_at.to_s(:rfc822)
        %description
          :escaped
            <p>Quantity: #{seed.quantity ||= 'unknown' }</p>
            <p>Plant before: #{seed.plant_before ||= 'unknown' }</p>
            <p>Organic? #{seed.organic}</p>
            <p>GMO? #{seed.gmo}</p>
            <p>Heirloom? #{seed.heirloom}</p>
          - if seed.tradable
            :escaped
              <p>Will trade #{seed.tradable_to} from #{seed.location ||= 'unknown location'}</p>
        %link= seed_url(slug: seed.slug)
        %guid= seed_url(slug: seed.slug)
