- content_for :title, title('seeds', @owner, @crop, @planting)
%h1
  = seed_icon
  = title('seeds', @owner, @crop, @planting)

- if @owner
  = link_to "View #{@owner}'s profile >>", member_path(@owner)

%p
  #{ENV['GROWSTUFF_SITE_NAME']} helps you track your seed
  stash or trade seeds with other members.

= render 'layouts/nav', model: Seed

- content_for :breadcrumbs do
  - if @owner
    %li.breadcrumb-item= link_to 'Seeds', seeds_path
    %li.breadcrumb-item.active= link_to "#{@owner}'s seeds", seeds_path(owner: @owner)
  - else
    %li.breadcrumb-item.active= link_to 'Seeds', seeds_path


- unless @seeds.empty?
  .pagination
    = page_entries_info @seeds
    = will_paginate @seeds
  .index-cards= render @seeds, full: true

  .pagination
    = page_entries_info @seeds
    = will_paginate @seeds

%section.open-data
  %h5= t('label.data')
  %ul.nav#open-data
    - ['csv', 'json', 'rss'].each do |format|
      %li.list-group-item
        = link_to (@owner ? member_seeds_path(@owner, format: format) : seeds_path(format: format)) do
          = icon 'fas', format.to_s
          = format.upcase

