- content_for :breadcrumbs do
  - if @owner
    %li.breadcrumb-item= link_to 'Seeds', seeds_path
    %li.breadcrumb-item.active= link_to "#{@owner}'s seeds", seeds_path(owner: @owner)
  - else
    %li.breadcrumb-item.active= link_to 'Seeds', seeds_path

- content_for :title, title('seeds', @owner, @crop, @planting)
%h1.display-2.text-center
  = seed_icon
  = title('seeds', @owner, @crop, @planting)

.row
  .col-md-2
    = render 'layouts/nav', model: Seed
    %hr/
    = link_to show_inactive_tickbox_path('seeds', owner: @owner, crop: @crop, show_all: @show_all) do
      = check_box_tag 'active', 'all', @show_all
      include finished
    %hr/
    - if @owner
      = render @owner
    - if @crop
      = render @crop

    %section.open-data
      %h2 Open Data
      %p= t('label.data')
      - ['csv', 'json', 'rss'].each do |format|
        .badge.badge-info
          = link_to (@owner ? member_seeds_path(@owner, format: format) : seeds_path(format: format)) do
            = icon 'fas', format.to_s
            = format.upcase
      .badge.badge-success= link_to 'API Methods', '/api-docs'
  .col-md-10
    %section
      %h2= page_entries_info @seeds
      = will_paginate @seeds

      .index-cards
        - @seeds.each do |seed|
          .card.seed-card{class: seed['finished'] ? 'card-finished' : ''}
            = link_to seed_path(slug: seed['slug']) do
              = image_tag(seed['thumbnail_url'] ? seed['thumbnail_url'] : placeholder_image, alt: seed['crop_name'], class: 'img-card')
            .text
              %span.chip.member-chip= seed['owner_name']
            .card-body
              .card-title
                = link_to seed['crop_name'], seed_path(seed['slug'])
              - if seed['tradable']
                .text-muted
                  = icon 'fas', 'map'
                  Will trade #{seed['tradable_to']}
              .badge.badge-pill.badge-location
                = icon 'fas', 'map-marker'
                = truncate(seed['owner_location'], length: 20, separator: ' ', omission: '... ')

      = will_paginate @seeds


