- content_for :title, "#{@seed.owner}'s #{@seed.crop} seeds"
- content_for :opengraph do
  - @seed.crop.photos.each do |photo|
    = tag("meta", property: "og:image", content: photo.fullsize_url)
  - if @seed.description
    = tag("meta", property: "og:description", content: og_description(@seed.description))
  = tag("meta", property: "og:image", content: "#{@seed.owner}'s #{@seed.crop} seeds")
  = tag("meta", property: "og:type", content: "website")
  = tag("meta", property: "og:url", content: request.original_url)
  = tag("meta", property: "og:site_name", content: ENV['GROWSTUFF_SITE_NAME'])


- content_for :breadcrumbs do
  %li.breadcrumb-item= link_to 'Seeds', seeds_path
  %li.breadcrumb-item= link_to @seed.owner, member_seeds_path(@seed.owner)
  %li.breadcrumb-item.active= link_to @seed, @seed

.seed
  .row
    .col-md-8.col-xs-12
      %h1
        %span.seedtitle--icon= crop_icon(@seed.crop)
        %strong
          %span.seedtitle--owner #{@seed.owner}'s
          %span.seedtitle--crop #{@seed.crop}
          seeds
        - if @seed.organic != 'unknown'
          %small.seedtitle--organic= @seed.organic
        - if @seed.gmo != 'unknown'
          %small.seedtitle--gmo= @seed.gmo
        - if @seed.heirloom != 'unknown'
          %small.seedtitle--heirloom= @seed.heirloom
        = I18n.l @seed.created_at.to_date

    .col-md-4.col-xs-12
      = render 'seeds/actions', seed: @seed

    .col-md-8.col-xs-12
      %section= render 'facts', seed: @seed
      - if @seed.parent_planting
        %dt Saved from planting:
        %dd
          = link_to @seed.parent_planting, planting_path(@seed.parent_planting)
      - unless @seed.description.blank?
        .card.seed--description
          .card-header
            %h2 Notes
          .card-body
            :growstuff_markdown
              #{ @seed.description != "" ? strip_tags(@seed.description) : "No description given." }

      - if current_member
        - if @seed.tradable? && current_member != @seed.owner
          %p= link_to "Request seeds",
                      new_message_path(recipient_id: @seed.owner.id,
                                           subject: "Interested in your #{@seed.crop} seeds"),
                      class: 'btn btn-primary'
      - else
        = render 'shared/signin_signup', to: 'request seeds'

      %section= render 'seeds/descendants', seed: @seed
      %section.seed-photos
        - @photos.each do |photo|
          = render 'photos/hero', photo: photo
      %p
        %small
          Or
          = link_to "purchase seeds via Ebay",
          crop_ebay_seeds_url(@seed.crop), target: "_blank", rel: "noopener noreferrer", class: 'btn'
      - if @seed.owner.location
        %p
          %small
            View other seeds, members to trade with and more near
            = link_to @seed.owner.location, place_path(@seed.owner.location, anchor: "seeds")
    .col-md-4.col-xs-12
      = render 'seeds/owner'
      = render @seed.crop

