- content_for :title, "#{@seed.owner}'s #{@seed.crop} seeds"
- content_for :opengraph do
  - @seed.crop.photos.each do |photo|
    = tag("meta", property: "og:image", content: photo.fullsize_url)
  - if @seed.description
    = tag("meta", property: "og:description", content: og_description(@seed.description))
  = tag("meta", property: "og:image", content: "#{@seed.owner}'s #{@seed.crop} seeds")
  = tag("meta", property: "og:type", content: "website")
  = tag("meta", property: "og:url", content: request.original_url)
  = tag("meta", property: "og:site_name", content: ENV['GROWSTUFF_SITE_NAME'])

- content_for :buttonbar do
  = render 'seeds/actions', seed: @seed

.row
  .col-md-6
    %dl.dl-horizontal
      %dt Owner
      %dd
        = link_to @seed.owner, @seed.owner
        &mdash;
        = link_to "view all #{@seed.owner}'s seeds",
          seeds_by_owner_path(owner: @seed.owner.slug)
      %dt Quantity:
      %dd= @seed.quantity.blank? ? "not specified" : @seed.quantity
      %dt Plant before:
      %dd= @seed.plant_before.to_s
      -if @seed.finished_at
        %dt Finished at:
        %dd= @seed.finished_at.to_s
      %dt Days until maturity:
      %dd= render partial: 'days_until_maturity', locals: { seed: @seed }
      %dt Organic?
      %dd= @seed.organic
      %dt GMO?
      %dd= @seed.gmo
      %dt Heirloom?
      %dd= @seed.heirloom
      %dt Will trade:
      %dd
        = @seed.tradable_to
        - if @seed.owner.location.blank?
          (from unspecified location)
          - if current_member == @seed.owner
            = link_to "Set Location", edit_registration_path(current_member), class: 'btn btn-default btn-xs'
        - else
          (from
          = succeed ")" do
            = link_to @seed.owner.location, place_path(@seed.owner.location, anchor: "seeds")

      %dt When?
      %dd
        = @seed.created_at
      - if @seed.parent_planting
        %dt Saved from planting:
        %dd
          = link_to @seed.parent_planting, planting_path(@seed.parent_planting)
      %dt Description:
      %dd
        :growstuff_markdown
          #{ @seed.description != "" ? strip_tags(@seed.description) : "No description given." }

    - if current_member
      - if @seed.tradable? && current_member != @seed.owner
        %p= link_to "Request seeds",
                    new_notification_path(recipient_id: @seed.owner.id,
                                         subject: "Interested in your #{@seed.crop} seeds"),
                    class: 'btn btn-primary'
    - else
      = render 'shared/signin_signup', to: 'request seeds'

    = render 'seeds/descendants', seed: @seed
    = render 'photos/item_photos', item: @seed, type: 'seed', photos: @photos

  .col-md-6
    = render partial: "crops/index_card", locals: { crop: @seed.crop }
    - if @seed.owner.location
      %p
        %small
          View other seeds, members to trade with and more near
          = link_to @seed.owner.location, place_path(@seed.owner.location, anchor: "seeds")
    %p
      %small
        Or
        = link_to "purchase seeds via Ebay",
        crop_ebay_seeds_url(@seed.crop), target: "_blank", rel: "noopener noreferrer"
