- if @crop.approved? && signed_in?
  .nav.crop-actions
    - if can? :create, Planting
      = link_to new_planting_path(crop_id: crop.id), class: 'list-group-item btn' do
        = planting_icon
        = t('buttons.plant_crop', crop_name: crop.name)

    - if can? :create, Harvest
      = link_to new_harvest_path(crop_id: crop.id), class: 'list-group-item btn' do
        = harvest_icon
        = t('buttons.harvest_crop', crop_name: crop.name)

    - if can? :create, Seed
      = link_to new_seed_path(crop_id: crop.id), class: 'list-group-item btn' do
        = seed_icon
        = t('buttons.add_seed_to_stash', crop_name: crop.name)
