.card
  .card-body
    %h4 Find #{crop.name} seeds
    - if crop.seeds.empty?
      %p
        There are no seeds available to trade on Growstuff right now.
    - else
      %ul
        - crop.seeds.tradable.each do |seed|
          %li
            = link_to "#{seed.owner} will trade #{seed.tradable_to}.", seed_path(seed)
            = render partial: 'members/location', locals: { member: seed.owner }
      %p
        = link_to "View all #{crop.name} seeds", crop_seeds_path(crop)
  .card-actions.flex-column
    = link_to "Purchase seeds via Ebay",
             crop_ebay_seeds_url(crop),
             target: "_blank",
             rel: "noopener noreferrer",
             class: 'btn btn-outline-primary'

    - if crop.approved?
      - if current_member
        = link_to "List #{crop.name} seeds to trade",
              new_seed_path(crop_id: crop.id),
              class: 'btn btn-outline-primary'
      - else
        = render partial: 'shared/signin_signup', locals: { to: 'list your seeds to trade' }
