%h4 Find seeds
- if crop.seeds.empty?
  %p
    There are no seeds available to trade.
- else
  %ul
    - crop.seeds.tradable.each do |seed|
      %li
        = link_to seed.owner, seed.owner
        - if seed.owner.location
          in #{seed.owner.location}
        - else
          (location unknown)
        will trade #{seed.tradable_to}.
        = link_to "View details.", seed_path(seed)
- if current_member
  = link_to "List your seeds to trade.", new_seed_path()
- else
  = render :partial => 'shared/signin_signup', :locals => { :to => 'list your seeds to trade' }
