= form_for @crop do |f|
  - if @crop.errors.any?
    #error_explanation
      %h3= "#{pluralize(@crop.errors.count, "error")} prohibited this crop from being saved:"
      %ul
        - @crop.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :system_name
    = f.text_field :system_name
  .field
    = f.label :en_wikipedia_url
    = f.text_field :en_wikipedia_url
  .actions
    = f.submit 'Save'
