= form_for @crop, :html => {:class => 'form-horizontal', :role => "form"} do |f|
  - if @crop.errors.any?
    #error_explanation
      %h3= "#{pluralize(@crop.errors.count, "error")} prohibited this crop from being saved:"
      %ul
        - @crop.errors.full_messages.each do |msg|
          %li= msg

  %p
    %span.help-block
      For detailed crop wrangling guidelines, please consult the
      =link_to "crop wrangling guide", "http://wiki.growstuff.org/index.php/Crop_wrangling"
      on the Growstuff wiki.

  .form-group
    = f.label :name, :class => 'control-label col-md-2'
    .col-md-8
      = f.text_field :name, :class => 'form-control'
      %span.help-block Name in US English; singular; capitalize proper nouns only.
  .form-group
    = f.label :en_wikipedia_url, 'Wikipedia URL', :class => 'control-label col-md-2'
    .col-md-8
      = f.text_field :en_wikipedia_url, :class => 'form-control'
      %span.help-block Link to this crop's page on the English language Wikipedia.
  .form-group
    = f.label :parent_id, 'Parent crop', :class => 'control-label col-md-2'
    .col-md-8
      = collection_select(:crop, :parent_id, Crop.all, :id, :name, {:include_blank => true}, :class => 'form-control')
      %span.help-block Optional. For setting up crop hierarchies for varieties etc.
  %p
    %span.help-block
      You may enter up to 3 scientific names for a crop. Most crops will have only one.
  = f.fields_for :scientific_names do |sn|
    .form-group
      = sn.label :scientific_name, "Scientific name", :class => 'control-label col-md-2'
      .col-md-8
        = sn.text_field :scientific_name, :class => 'form-control'
      .col-md-2
        - if sn.object && sn.object.persisted?
          %label.checkbox
            = sn.check_box :_destroy
            = sn.label :_destroy, "Delete"

  .form-group
    = f.label :approval_status, 'Approval Status', :class=> 'control-label col-md-2'
    .col-md-8
      = f.select(:approval_status, ['rejected', 'pending', 'approved'], {}, {:class => 'form-control'})

  .form-group
    .form-actions.col-md-offset-2.col-md-8
      = f.submit 'Save', :class => 'btn btn-primary'
