%h4 Harvests
- if crop.harvests.empty?
  %p
    Nobody has harvested this crop yet.
- else
  %ul
    - crop.harvests.each do |harvest|
      %li
        = link_to "#{harvest.owner} harvested #{display_quantity(harvest)}.", harvest_path(harvest)
        = render :partial => 'members/location', :locals => { :member => harvest.owner }
        %small
          = distance_of_time_in_words(harvest.created_at, Time.zone.now)
          ago.

- if current_member
  = link_to "Track your #{crop.name} harvests.", new_harvest_path()
- else
  = render :partial => 'shared/signin_signup', :locals => { :to => "track your #{crop.name} harvests" }

