.well
  .row
    .col-md-4
      = link_to image_tag((crop.default_photo ? crop.default_photo.thumbnail_url : 'placeholder_150.png'),
                          alt: '',
                          class: 'img crop-image'),
                          crop
    .col-md-8
      %h3{ style: 'padding-top: 0px; margin-top: 0px' }
        = link_to crop, crop

      %p
        %b Scientific name:
        = crop.default_scientific_name

      - if crop.annual? && crop.median_lifespan.present?
        %p
          Median Lifespan
          %b= crop.median_lifespan
          days
      - unless crop.median_days_to_first_harvest.nil?
        %p
          First harvest expected
          %b= crop.median_days_to_first_harvest
          days after planting

      - if crop.annual? && crop.median_days_to_last_harvest.present?
        %p
          Last harvest expected
          %b= crop.median_days_to_last_harvest
          days after planting

      - if can? :create, Planting
        = link_to 'Plant this', new_planting_path(params: { crop_id: crop.id }), class: 'btn btn-primary'
      - if can? :create, Seed
        = link_to 'Add seeds to stash', new_seed_path(params: { crop_id: crop.id }), class: 'btn btn-primary'
