- unless crop.harvest_photos.empty?
  %h3 Photos of #{crop.name} harvests
  .row
    - crop.harvest_photos.first(6).each do |p|
      .col-xs-6.col-md-2
        = render "photos/thumbnail", photo: p

- unless crop.photos.empty?
  %h3 Photos of #{crop.name} plants
  .row
    - crop.photos.first(6).each do |p|
      .col-xs-6.col-md-2
        = render "photos/thumbnail", photo: p
.row
  = link_to "more photos", crop_photos_path(crop_id: crop.id)
