- if @crop.photos.size.positive?
  %h2
    = photo_icon
    Photos
  - [Planting, Harvest, Seed].each do |model_name|
    - if photos.by_model(model_name).size.positive?
      .crop-photos
        %h3.font-italic
          #{@crop.name.capitalize} #{t("activerecord.models.#{model_name.to_s.downcase}.other")}
        .row
          - photos.by_model(model_name).limit(6).each do |photo|
            .col-2.col-xs-6= render 'photos/thumbnail', photo: photo

  %p.text-right= link_to 'more photos »', crop_photos_path(@crop), class: 'btn btn-info'
  %hr/
