.card
  .card-body
    %h3 See who's planted #{crop.name.pluralize}
  - if crop.plantings.any?
    %ul.list-group.list-group-flush
      - crop.plantings.includes(:owner, :garden).order(planted_at: :desc).limit(5).each do |planting|
        %li.list-group-item
          = link_to planting_path(planting), class: 'card-link' do
            = planting_icon
            = planting
          .float-right= render 'members/location', member: planting.owner
  .card-footer
    - if crop.approved?
      - if current_member
        %p= link_to "Plant #{crop.name}", new_planting_path(crop_id: crop.id), class: 'btn btn-block'
      - else
        = render partial: 'shared/signin_signup', locals: { to: "track your #{crop.name} plantings" }
