- if crop.planted_from.length > 0
  %p
    Plant from:
    - planted_from = crop.planted_from.sort_by {|s, freq| freq }.reverse
    = planted_from.map {|s, freq| "#{s} (#{freq})" }.join(", ")
- if crop.sunniness.length > 0
  %p
    Plant in:
    - sunniness = crop.sunniness.sort_by {|s, freq| freq }.reverse
    = sunniness.map {|s, freq| "#{s} (#{freq})" }.join(", ")
