- if crop.guides_count.present? && crop.guides_count.positive?
  %p There are #{crop.guides_count} growing guides

%p
  - if crop.height.present?
    %strong Height:
    #{crop.height} centimetres
  - if crop.spread.present?
    %strong Spread:
    #{crop.spread} centimetres
%p
  %strong Plant from:
  - if crop.planted_from.empty?
    not known.
  - else
    - planted_from = crop.planted_from.sort_by { |_, freq| freq }.reverse
    = planted_from.map { |s, freq| "#{s} (#{freq})" }.join(", ")

%p
  %strong Plant in:
  - if crop.sunniness.empty?
    not known.
  - else
    - sunniness = crop.sunniness.sort_by { |_, freq| freq }.reverse
    = sunniness.map { |s, freq| "#{s} (#{freq})" }.join(", ")
