%h4 See who's planted #{crop.name.pluralize}
- if crop.plantings.empty?
  %p
    Nobody has planted this crop yet.
- else
  %ul
    - crop.plantings.order(planted_at: :desc).limit(3).each do |planting|
      %li
        = link_to planting, planting_path(planting)
        = render partial: 'members/location', locals: { member: planting.owner }
        %small
          = distance_of_time_in_words(planting.created_at, Time.zone.now)
          ago.
  %p
    = link_to "View all #{crop.name} plantings", plantings_by_crop_path(crop)
- if crop.approved?
  - if current_member
    %p= link_to "Plant #{crop.name}", new_planting_path(crop_id: crop.id)
  - else
    = render partial: 'shared/signin_signup', locals: { to: "track your #{crop.name} plantings" }
