- if crop.parent
  %p
    = crop.system_name
    is a variety of
    = succeed "." do
      = link_to crop.parent, crop.parent
- if crop.varieties.count > 0
  %p
    Varieties of
    = succeed ":" do
      = crop.system_name
    != crop.varieties.map{ |c| link_to c, c }.join(", ")
