- if crop.parent
  %p
    = crop.name
    is a variety of
    = succeed "." do
      = link_to crop.parent, crop.parent

- unless crop.varieties.empty?
  %p
    Varieties of #{crop.name}:

  = render :partial => 'hierarchy', :locals => { :display_crops => [ crop ] }
  - if @count < 0
    = button_tag "Show all #{crop.varieties.size} varieties", :class => 'btn btn-link toggle'
    = button_tag "Show less varieties", :class => 'btn btn-link toggle hide'

- if ! crop.parent and crop.varieties.empty?
  %p None known.
