- if can?(:edit, crop) || can?(:destroy, crop)
  .alert.alert-success{role: "alert"}
    %h4 Crop wrangling
    %p
      You are a
      = succeed "." do
        %strong CROP WRANGLER
      .dropdown.crop-actions
        %a#crop-actions-button.btn.btn-info.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button", href: '#'} Actions
        .dropdown-menu.dropdown-menu-xs{"aria-labelledby" => "crop-actions-button"}
          = link_to edit_crop_path(crop), class: 'dropdown-item' do
            = edit_icon
            = t('.edit')

          - if can? :destroy, crop
            .dropdown-divider
            = delete_button(crop, classes: 'dropdown-item text-danger')

