- content_for :title, "Crops"

%p
  #{ENV['GROWSTUFF_SITE_NAME']} tracks who's growing what, where.
  View any crop page to see which of our members have planted it and find
  information on how to grow it yourself.

%div.pagination
  = page_entries_info @crops, :model => "crops"
  = will_paginate @crops

%ul.thumbnails
  - @crops.each do |crop|
    %li.col-md-2.six-across
      = render :partial => "thumbnail", :locals => { :crop => crop }

- if can? :create, Crop
  %div
    = link_to 'New Crop', new_crop_path, {:class => 'btn btn-primary'}

%div.pagination
  = page_entries_info @crops, :model => "crops"
  = will_paginate @crops


%ul.list-inline
  %li The data on this page is available in the following formats:
  %li= link_to "CSV", crops_path(:format => 'csv')
  %li= link_to "JSON", crops_path(:format => 'json')
  %li= link_to "RSS", crops_path(:format => 'rss')
