- content_for :title, t('.title')

- content_for :buttonbar do
  - if can? :wrangle, Crop
    = link_to 'Wrangle Crops', wrangle_crops_path, class: 'btn btn-secondary'
  - if can? :create, Crop
    = link_to 'Add new Crop', new_crop_path, class: 'btn btn-primary'

- content_for :breadcrumbs do
  %li.breadcrumb-item.active= link_to 'Crops', crops_path

%h1=t('.title')
%p
  #{ENV['GROWSTUFF_SITE_NAME']} tracks who's growing what, where.
  View any crop page to see which of our members have planted it and find
  information on how to grow it yourself.


.well
  = form_tag(crops_path, method: :get, class: 'form-inline', role: 'form') do
    .form-group
      = label_tag :sort, "Sort by:", class: 'sr-only'
      = select_tag "sort",
                   options_for_select({ "Sort by popularity": 'popular',
                                        "Sort alphabetically": 'alpha' },
                                        @sort || 'popular'),
                   class: 'form-control'
    = submit_tag "Show", class: 'btn btn-success'

.pagination= render 'layouts/pagination', collection: @crops

.row
  - @crops.each do |crop|
    .col-md-2= render 'crops/thumbnail', crop: crop

.pagination= render 'layouts/pagination', collection: @crops

%ul.list-inline
  %li The data on this page is available in the following formats:
  %li= link_to "CSV", crops_path(format: 'csv')
  %li= link_to "JSON", crops_path(format: 'json')
  %li= link_to "RSS", crops_path(format: 'rss')
