- content_for :title, "Crops"

%div.pagination
  = page_entries_info @crops, :model => "crops"
  = will_paginate @crops

%ul.thumbnails
  - @crops.each do |crop|
    %li.span2.six-across
      = render :partial => "thumbnail", :locals => { :crop => crop }

- if can? :create, Crop
  %div
    = link_to 'New Crop', new_crop_path, {:class => 'btn btn-primary'}

%div.pagination
  = page_entries_info @crops, :model => "crops"
  = will_paginate @crops

