- if @term
  - content_for :title, "Crops matching \"#{@term}\""
  - if @matches
    - content_for :subtitle, "#{@matches.size} total"
- else
  - content_for :title, "Crop search"

%div
  = form_tag crops_search_path, method: :get, id: 'crop-search', class: 'form-inline' do
    .form-group
      = label_tag :term, "Search crops:", class: 'sr-only'
      = text_field_tag 'term', nil, class: 'search-query input-medium form-control', :placeholder => 'Search crops', value: @term
    = submit_tag "Search", class: 'btn btn-primary'

- if @matches.empty?
  %h2 No results found
  %p
    Sorry, we couldn't find any crops that matched your search for "#{@term}".
  %p
    Try
    = link_to "browsing our crop database", crops_path
    instead.

- else
  .pagination
    = will_paginate @paginated_matches

  %div#paginated_matches
    .row
      - @paginated_matches.each do |c|
        .col-md-2.six-across
          = render partial: "thumbnail", locals: { crop: c }

  .pagination
    = will_paginate @paginated_matches
