- content_for :title, @crop.system_name

.row
  .span9
    - if @crop.parent
      %p
        = @crop.system_name 
        is a variety of
        = succeed "." do
          = link_to @crop.parent, @crop.parent
    - if @crop.varieties.count > 0
      %p
        Varieties of
        = succeed ":" do
          = @crop.system_name
        != @crop.varieties.map{ |c| link_to c, c }.join(", ")

    %p
      - if @crop.plantings_count > 0
        Planted
        = pluralize(@crop.plantings_count, "time")
        by #{Growstuff::Application.config.site_name} members
      - else
        Nobody is growing this yet. You could be the first!

    %p
      - if can? :create, Planting
        = link_to "Plant this", new_planting_path(:crop_id => @crop.id), :class => 'btn btn-primary'
      - else
        = render :partial => 'shared/signin_signup', :locals => { :to => 'plant this crop' }

      - if can? :create, Seed
        = link_to 'Add seeds to stash', new_seed_path(:params => { :crop_id => @crop.id }), :class => 'btn btn-primary'
      - else
        = render :partial => 'shared/signin_signup', :locals => { :to => 'add seeds for this crop to your stash' }

    - if @crop.plantings_count > 0
      - @crop.plantings.each do |p|
        = render :partial => "plantings/thumbnail", :locals => { :planting => p, :title => 'owner' }

  .span3
    - if can? :edit, @crop or can? :destroy, @crop
      %h4 Crop wrangling
      %p
        You are a
        = succeed "." do
          %strong CROP WRANGLER
      %p
        - if can? :edit, @crop
          = link_to 'Edit crop', edit_crop_path(@crop), { :class => 'btn btn-mini' }
        - if can? :destroy, @crop
          = link_to 'Delete crop', @crop, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini'

    %h4 Scientific names:
    %ul
      - @crop.scientific_names.each do |sn|
        %li
          = sn.scientific_name
          - if can? :edit, sn
            = link_to 'Edit', edit_scientific_name_path(sn), { :class => 'btn btn-mini' }
          - if can? :destroy, sn
            = link_to 'Delete', sn, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini'
    %p
    - if can? :edit, @crop
      = link_to 'Add', new_scientific_name_path( :crop_id => @crop.id ), { :class => 'btn btn-mini' }
    %h4 More information:
    %ul
      %li= link_to 'Wikipedia (English)', @crop.en_wikipedia_url

    - unless @crop.seeds.empty?
      %h4 Seeds available for trade:
      %ul
        - @crop.seeds.each do |seed|
          %li= link_to "#{seed.owner} in #{seed.owner.location} will trade #{seed.tradable_to}", seed_path(seed)
