%h2= @crop.system_name
%p#notice= notice

%p
  %b More information:
  = link_to @crop.en_wikipedia_url, @crop.en_wikipedia_url

%ul.link-list
  %li= link_to 'Edit', edit_crop_path(@crop)
  %li= link_to 'Destroy', @crop, method: :delete, data: { confirm: 'Are you sure?' }
  %li= link_to 'Back', crops_path
