- content_for :title, @crop.name
- content_for :opengraph do
  - @crop.photos.each do |photo|
    = tag("meta", property: "og:image", content: photo.fullsize_url)
  = tag("meta", property: "og:title", content: @crop.name)
  = tag("meta", property: "og:type", content: "website")
  = tag("meta", property: "og:url", content: request.original_url)
  = tag("meta", property: "og:site_name", content: ENV['GROWSTUFF_SITE_NAME'])

- content_for :scripts do
  = javascript_include_tag "charts"

%h1
  = @crop.name
  %small= @crop.default_scientific_name

= render 'approval_status_message', crop: @crop

- if @crop.approved?
  - content_for :buttonbar do
    = render 'crops/actions', crop: @crop

.row
  .col-md-9
    %h2
      - if !@crop.plantings.empty?
        #{@crop.name.titleize} has been planted
        = pluralize(@crop.plantings.size, "time")
        by #{ENV['GROWSTUFF_SITE_NAME']} members.
      - else
        Nobody is growing this yet. You could be the first!
    %hr/

    = render 'predictions', crop: @crop
    %hr/
    .well= render 'crops/photos', photos: @photos

    .card-deck.text-center
      .col-md-4
        .card
          .card-body
            %h3.section-heading.h3.pt-4 Sunniness
            = pie_chart crop_sunniness_path(@crop, format: :json), legend: "bottom"
      .col-md-4
        .card
          .card-body
            %h3.section-heading.h3.pt-4 Planted from
            = pie_chart crop_planted_from_path(@crop, format: :json), legend: "bottom"
      .col-md-4
        .card
          .card-body
            %h3.section-heading.h3.pt-4 Harvested for
            = pie_chart crop_harvested_for_path(@crop, format: :json), legend: "bottom"

    .varieties= render 'varieties', crop: @crop

    .well
      %h3 Crop Map
      %p
        Only plantings by members who have set their locations are shown on this map.
        - if current_member && current_member.location.blank?
          = link_to "Set your location.", edit_member_registration_path
      #cropmap

    .well= render 'crops/posts', crop: @crop

  .col-md-3
    = render 'wrangle', crop: @crop
    .card
      .card-body
        = image_tag crop_image_path(@crop, full_size: true),
          class: 'card-img-top img-responsive',
          alt: 'photo of crop'
        %h4 How to grow #{@crop.name.pluralize}
        = render 'grown_for', crop: @crop
        = render 'planting_advice', crop: @crop
    .card
      %p
        = link_to crop_plantings_path(@crop), class: 'card-link' do
          View all #{@crop.name} plantings
          (#{@crop.plantings.size})
      %p
        = link_to crop_harvests_path(@crop) do
          View all #{@crop.name} harvests
          (#{@crop.harvests.size})
      %p
        = link_to crop_seeds_path(@crop) do
          View all #{@crop.name} seeds
          (#{@crop.seeds.size})

      - if member_signed_in?
        %p
          = link_to member_seeds_path(current_member, crop_slug: @crop.slug) do
            = display_seed_availability(@current_member, @crop)


    .well
      = render 'scientific_names', crop: @crop
      = render 'alternate_names', crop: @crop

    - if @crop.parent
      .parent-crop
        = @crop.name
        is a variety of
        %span.chip
          %img.chip-img{alt: "Chip Image", src: "/material/apple-touch-icon.png"}>/
          Chip Label

        = succeed "." do
          = link_to @crop.parent, @crop.parent
        = render 'crops/thumbnail', crop: @crop.parent


    = render 'find_seeds', crop: @crop

    .well
      %h4 Learn more about #{@crop.name.pluralize}
      %ul
        %li= link_to 'Wikipedia (English)', @crop.en_wikipedia_url, target: "_blank", rel: "noopener noreferrer"
        %li
          = link_to "OpenFarm - Growing guide", "https://openfarm.cc/en/crops/#{CGI.escape @crop.name}",
                    target: "_blank",
                    rel: "noopener noreferrer"
        %li
          = link_to "Gardenate - Planting reminders", "http://www.gardenate.com/plant/#{CGI.escape @crop.name}",
                    target: "_blank", rel: "noopener noreferrer"
        - if current_member && current_member.location
          %li
            = link_to "Google",
                      'http://www.google.com/search?q=' + CGI.escape(['Growing',
                                                                      @crop.name,
                                                                      current_member.location].join(' ')),
                      target: "_blank",
                      rel: "noopener noreferrer"
