- content_for :title, @crop.name
- content_for :subtitle, @crop.default_scientific_name
- content_for :opengraph do
  - @crop.photos.each do |photo|
    = tag("meta", property: "og:image", content: photo.fullsize_url)
  = tag("meta", property: "og:title", content: @crop.name)
  = tag("meta", property: "og:type", content: "website")
  = tag("meta", property: "og:url", content: request.original_url)
  = tag("meta", property: "og:site_name", content: ENV['GROWSTUFF_SITE_NAME'])

- content_for :scripts do
  = javascript_include_tag "charts"

= render partial: 'approval_status_message', locals: { crop: @crop }

- if @crop.approved?
  - content_for :buttonbar do
    = render 'crops/actions', crop: @crop

.row
  .col-md-9
    .row
      .col-md-12
        - if member_signed_in?
          = display_seed_availability(@current_member, @crop)
          = link_to "View your seeds", seeds_by_owner_path(owner: current_member.slug)

        %h2
          - if !@crop.plantings.empty?
            = @crop.name.titleize
            has been planted
            = pluralize(@crop.plantings.size, "time")
            by #{ENV['GROWSTUFF_SITE_NAME']} members.
          - else
            Nobody is growing this yet. You could be the first!


    .row
      .col-md-12
        %h2 Predictions
        = render 'predictions', crop: @crop

    .row
      .col-md-12
        %h2 Photos
        %p= render 'crops/photos', crop: @crop
    .row
      .col-md-3
        %h2 Sunniness
        = pie_chart crop_sunniness_path(@crop), legend: "bottom"

      .col-md-3
        %h2 Planted from
        = pie_chart crop_planted_from_path(@crop), legend: "bottom"
      .col-md-3
        %h2 Harvested for
        = pie_chart crop_harvested_for_path(@crop), legend: "bottom"

    .row
      .col-md-12
        %h2 Crop Map
        %p
          Only plantings by members who have set their locations are shown on this map.
          - if current_member && current_member.location.blank?
            = link_to "Set your location.", edit_member_registration_path
        #cropmap

    %a{ name: 'posts' }
    %h2 What people are saying about #{@crop.name.pluralize}

    - if @posts.empty?
      %p
        Nobody has posted about #{@crop.name.pluralize} yet.
      %p
        - if can? :create, Post
          = link_to "Post something", new_post_path, class: 'btn btn-default'
        - else
          = render partial: "shared/signin_signup",
                  locals: { to: "post your tips and experiences growing #{@crop.name.pluralize}" }
    - else
      .pagination
        = page_entries_info @posts
        = will_paginate @posts, params: { anchor: "posts" }
      - @posts.each do |post|
        = render partial: "posts/single", locals: { post: post, subject: true }

      .pagination
        = page_entries_info @posts
        = will_paginate @posts, params: { anchor: "posts" }

  .col-md-3

    = render partial: 'wrangle', locals: { crop: @crop }

    %h4 How to grow #{@crop.name.pluralize}

    = render 'grown_for', crop: @crop
    = render 'planting_advice', crop: @crop

    = render 'scientific_names', crop: @crop
    = render 'alternate_names', crop: @crop

    %h4 #{@crop.name.capitalize} varieties
    = render 'varieties', crop: @crop

    = render 'plantings', crop: @crop
    = render 'harvests', crop: @crop
    = render 'find_seeds', crop: @crop


    %h4 Learn more about #{@crop.name.pluralize}
    %ul
      %li= link_to 'Wikipedia (English)', @crop.en_wikipedia_url, target: "_blank", rel: "noopener noreferrer"
      %li
        = link_to "OpenFarm - Growing guide", "https://openfarm.cc/en/crops/#{URI.escape @crop.name}",
                  target: "_blank",
                  rel: "noopener noreferrer"
      %li
        = link_to "Gardenate - Planting reminders", "http://www.gardenate.com/plant/#{URI.escape @crop.name}",
                  target: "_blank", rel: "noopener noreferrer"
      - if current_member && current_member.location
        %li
          = link_to "Google",
                    'http://www.google.com/search?q=' + URI.escape(['Growing',
                                                                    @crop.name,
                                                                    current_member.location].join(' ')),
                    target: "_blank",
                    rel: "noopener noreferrer"
