- content_for :title, @crop.name

.row-fluid
  .span9
    %p
      - if can? :create, Planting
        = link_to "Plant this", new_planting_path(:crop_id => @crop.id), :class => 'btn btn-primary'
      - else
        = render :partial => 'shared/signin_signup', :locals => { :to => 'plant this crop' }

      - if can? :create, Harvest
        = link_to "Harvest this", new_harvest_path(:crop_id => @crop.id), :class => 'btn btn-primary'

      - if can? :create, Seed
        = link_to 'Add seeds to stash', new_seed_path(:params => { :crop_id => @crop.id }), :class => 'btn btn-primary'

    = render :partial => 'photos', :locals => { :crop => @crop }

    %h2 Who's planted this crop?

    %p
      - if @crop.plantings.size > 0
        = @crop.name.titleize
        has been planted
        = pluralize(@crop.plantings.size, "time")
        by #{ENV['GROWSTUFF_SITE_NAME']} members.
      - else
        Nobody is growing this yet. You could be the first!

    %div#map

    - if @crop.plantings.size > 0
      - @crop.plantings.each do |p|
        = render :partial => "plantings/thumbnail", :locals => { :planting => p, :title => 'owner' }

  .span3
    - if can? :edit, @crop or can? :destroy, @crop
      %h4 Crop wrangling
      %p
        You are a
        = succeed "." do
          %strong CROP WRANGLER
      %p
        - if can? :edit, @crop
          = link_to 'Edit crop', edit_crop_path(@crop), { :class => 'btn btn-mini' }
        - if can? :destroy, @crop
          = link_to 'Delete crop', @crop, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini'

    %h4 Scientific names
    %ul
      - @crop.scientific_names.each do |sn|
        %li
          = sn.scientific_name
          - if can? :edit, sn
            = link_to 'Edit', edit_scientific_name_path(sn), { :class => 'btn btn-mini' }
          - if can? :destroy, sn
            = link_to 'Delete', sn, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini'
    %p
    - if can? :edit, @crop
      = link_to 'Add', new_scientific_name_path( :crop_id => @crop.id ), { :class => 'btn btn-mini' }

    = render :partial => 'varieties', :locals => { :crop => @crop }

    = render :partial => 'grown_for', :locals => { :crop => @crop }

    = render :partial => 'planting_advice', :locals => { :crop => @crop }

    %h4 More information
    %ul
      %li= link_to 'Wikipedia (English)', @crop.en_wikipedia_url

    = render :partial => 'harvests', :locals => { :crop => @crop }
    = render :partial => 'find_seeds', :locals => { :crop => @crop }
