- content_for :title, "Crop Wrangling"


%ul
  %li= link_to "Requests for new crops", 'http://growstuff.org/posts/skud-20130319-requests-for-new-crops'
  %li= link_to "Crop wrangler guidelines", "http://wiki.growstuff.org/index.php/Crop_wrangling"
  %li= link_to "crop-wranglers mailing list", "http://lists.growstuff.org/listinfo/crop-wranglers"
  %li= link_to "Full crop hierarchy", crops_hierarchy_path
  %li= link_to "Add Crop", new_crop_path

%div.crop_wranglers
  %h2 Crop Wranglers:
  %ul
    - @crop_wranglers.each do |crop_wrangler|
      %li.crop_wrangler
        = link_to crop_wrangler.login_name, crop_wrangler

%h2 Requested crops

%table.table.table-striped
  %thead
    %tr
      %th System name
      %th English Wikipedia URL
      %th Scientific names
      %th Requested by
      %th When requested
  %tbody
    - @pending_approval.each do |c| 
      %tr
        %td= link_to c.name, c
        %td= link_to c.en_wikipedia_url, c.en_wikipedia_url
        %td
          - c.scientific_names.each do |s|
            = link_to s.scientific_name, s
            %br/
        %td= link_to c.requester, c.requester
        %td
          = distance_of_time_in_words(c.created_at, Time.zone.now)
          ago.

%h2 Recently added crops

%div.pagination
  = page_entries_info @recent_crops, :model => "crops"
  = will_paginate @recent_crops

%table.table.table-striped
  %tr
    %th System name
    %th English Wikipedia URL
    %th Scientific names
    %th Added by
    %th When
  - @recent_crops.each do |c|
    %tr
      %td= link_to c.name, c
      %td= link_to c.en_wikipedia_url, c.en_wikipedia_url
      %td
        - c.scientific_names.each do |s|
          = link_to s.scientific_name, s
          %br/
      %td= link_to c.creator, c.creator
      %td
        = distance_of_time_in_words(c.created_at, Time.zone.now)
        ago.

%div.pagination
  = page_entries_info @recent_crops, :model => "crops"
  = will_paginate @recent_crops
