- content_for :title, "Sign in"

= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"}) do |f|
  = devise_error_messages!

  .form-group
    = f.label :login, :class => "control-label col-md-2"
    .col-md-8
      = f.text_field :login, :class => 'form-control'

  .form-group
    = f.label :password, :class => "control-label col-md-2"
    .col-md-8
      = f.password_field :password, :class => 'form-control'

  - if devise_mapping.rememberable?
    .form-group
      .col-md-8.col-md-offset-2.checkbox
        %label
          = f.check_box :remember_me
          Remember me

  .form-group
    .form-actions.col-md-8.col-md-offset-2
      = f.submit "Sign in", :class => 'btn btn-primary'

  .form-group
    .col-md-8.col-md-offset-2
      = render "devise/shared/links"
