
.form-page
  %section.card.form-card
    %h1 Sign in
    = bootstrap_form_for(resource, as: resource_name,
        url: session_path(resource_name),
        html: { class: "text-center border border-light p-5" }) do |f|
      = f.text_field :login, label: 'Login', required: true
      = f.password_field :password, type: "password"
      - if devise_mapping.rememberable?
        %p
          = f.check_box :remember_me
        - if devise_mapping.recoverable? && controller_name != 'passwords'
          %p= link_to "Forgot password?", new_password_path(resource_name)
      = f.submit "Sign in", class: 'btn btn-block btn-success'

    = render "devise/shared/links"
