= content_for :title, "Edit update"

- if user_signed_in?
  = form_for @update do |f|
    = label_tag :subject, "Subject"
    = f.text_field :subject, :class => 'input-block-level'
    = f.text_area :body, :rows => 12, :class => 'input-block-level'
    = f.submit "Post"
- else
  .alert You're not logged in. Only logged in users can do this.
