= content_for :title, @update.subject

%p
  %i
    = "By #{@update.user.username} at #{@update.created_at}"

%p
  = @update.body

= link_to 'Edit', edit_update_path(@update)
\|
= link_to 'Back', updates_path
