= form_for @garden, :html => {} do |f|
  - if @garden.errors.any?
    #error_explanation
      %h2= "#{pluralize(@garden.errors.count, "error")} prohibited this garden from being saved:"
      %ul
        - @garden.errors.full_messages.each do |msg|
          %li= msg

  .control_group
    = f.label "Garden name: ", :class => 'control-label'
    .controls= f.text_field :name
  .control-group
    = f.label 'Description: ', :class => 'control-label'
    .controls= f.text_area :description, :rows => 6

  .form-actions
    = f.submit 'Save Garden', :class => 'btn btn-primary'
