= form_for @garden do |f|
  - if @garden.errors.any?
    #error_explanation
      %h2= "#{pluralize(@garden.errors.count, "error")} prohibited this garden from being saved:"
      %ul
        - @garden.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :user_id
    = f.text_field :user_id
  .field
    = f.label :slug
    = f.text_field :slug
  .actions
    = f.submit 'Save'
