= form_for(@garden, :html => {:class => "form-horizontal"}) do |f|
  - if @garden.errors.any?
    #error_explanation
      %h2= "#{pluralize(@garden.errors.count, "error")} prohibited this garden from being saved:"
      %ul
        - @garden.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name

  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :rows => 6

  .control-group
    = f.label :location, :class => 'control-label'
    .controls
      = f.text_field :location
      %span.help-inline
        A garden's location does not have to be the same as the place
        where you live.

  .control-group
    = f.label :area, :class => 'control-label'
    .controls
      = f.number_field :area, :class => 'input-small'
      = f.select(:area_unit, Garden::AREA_UNITS_VALUES, {:include_blank => false}, :class => 'input-medium')

  .control-group
    = f.label 'Active? ', :class => 'control-label'
    .controls
      = f.check_box :active
      %span.help-inline
        You can mark a garden as inactive if you no longer use it.


  .form-actions
    = f.submit 'Save Garden', :class => 'btn btn-primary'
