.panel.panel-success
  .panel-heading
    %h3.panel-title
      = link_to garden.name, garden
      - if can? :edit, garden
        %a.pull-right{:href => edit_garden_path(garden), :role => "button", :id => "edit_garden_glyphicon"}
          %span.glyphicon.glyphicon-pencil{:title => "Edit"}
  .panel-body{:class => "gardens_panel_body"}
    .row
      .col-md-4
        = link_to image_tag((garden.default_photo ?  garden.default_photo.thumbnail_url : 'placeholder_150.png'), :alt => garden.name, :class => 'img'), garden
      .col-md-8
        %dl
          - if garden.location.present?
            %dt Location:
            %dd= link_to garden.location, place_path(garden.location, anchor: "gardens")
          - if garden.area.present?
            %dt Area:
            %dd= pluralize(garden.area, garden.area_unit)
          %dd
            = display_garden_plantings(garden.plantings.current)
