.panel.panel-success
  .panel-heading
    %h3.panel-title
      = link_to display_garden_name(garden), garden
      - if can? :edit, garden
        %a.pull-right{:href => edit_garden_path(garden), :role => "button", :id => "edit_garden_glyphicon"}
          %span.glyphicon.glyphicon-pencil{:title => "Edit"}
  .panel-body{:id => "gardens_panel_body"}
    .row
      .col-md-4
        = link_to image_tag((garden.default_photo ?  garden.default_photo.thumbnail_url : 'placeholder_150.png'), :alt => garden.name, :class => 'img'), garden
      .col-md-8
        %dl.dl-horizontal
          %dt Name :
          %dd= link_to display_garden_name(garden), garden
          %dt Location :
          %dd
            - if garden.location.blank?
              not specified
            - else
              = link_to garden.location, place_path(garden.location, anchor: "gardens")
          %dt Area :
          %dd= garden.area.nil? ? "not specified" : pluralize(garden.area, garden.area_unit)
          %dt Active? :
          %dd= garden.active ? "Yes" : "No"
      .col-md-12
        %b
          = "#{localize_plural(garden.plantings, Planting)} : "
        = display_garden_plantings(garden.plantings.current)
        - if garden.plantings.size > 2
          %br
          = link_to "See more plantings >>", garden_path(garden)
  .panel-footer
    %dt Description
    %dd
      = display_garden_description(garden)
