%h1 Listing gardens

%table
  %tr
    %th Name
    %th User
    %th Slug
    %th
    %th
    %th

  - @gardens.each do |garden|
    %tr
      %td= garden.name
      %td= garden.user_id
      %td= garden.slug
      %td= link_to 'Show', garden
      %td= link_to 'Edit', edit_garden_path(garden)
      %td= link_to 'Destroy', garden, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Garden', new_garden_path
