- content_for :title, @owner ? "#{@owner}'s gardens" : "Everyone's gardens"

= render 'nav', owner: @owner, show_all: @show_all

.pagination
  = page_entries_info @gardens
  = will_paginate @gardens

.row
  - if @gardens.empty?
    %p There are no gardens to display.
  - else
    - @gardens.each do |garden|
      .col-md-6
        = render partial: 'gardens/thumbnail', locals: { garden: garden }

.pagination
  = page_entries_info @gardens
  = will_paginate @gardens

