- content_for :title, @owner ? "#{@owner}'s gardens" : "Everyone's gardens"

%p
  - if can? :create, Garden
    - if @owner
      %p
        - if @owner == current_member
          = link_to 'Add a garden', new_garden_path, :class => 'btn btn-primary'
        = link_to "View everyone's gardens", gardens_path, :class => 'btn btn-default'
    - else # everyone's gardens
      = link_to 'Add a garden', new_garden_path, :class => 'btn btn-primary'
      - if current_member
        = link_to 'View your gardens', gardens_by_owner_path(:owner => current_member.slug), :class => 'btn btn-default'
  - else
    = render :partial => 'shared/signin_signup', :locals => { :to => 'add a new garden' }

- if @gardens.length > 0

  %div.pagination
    = page_entries_info @gardens, :model => "gardens"
    = will_paginate @gardens

  %table.table.table-striped
    %tr
      - unless @owner
        %th Owner
      %th Garden name
      %th Description
      %th Location
      %th Area
      %th Active?
      %th Plantings
      %th

    - @gardens.each do |garden|
      %tr
        - unless @owner
          %td= link_to garden.owner.login_name, garden.owner
        %td= link_to garden.name, garden
        %td= garden.description
        %td
          - if ! garden.location.blank?
            = link_to garden.location, place_path(garden.location)
        %td
          - if garden.area
            = pluralize(garden.area, garden.area_unit)
        %td= garden.active ? "Yes" : "No"
        %td
          - if garden.plantings.empty?
            None
          - else
            %ul
            - garden.plantings.current.each do |p|
              %li
                = p.quantity
                = link_to p.crop.name, p
                - if p.planted_at
                  planted on
                  = p.planted_at

        %td= link_to 'Details', garden, :class => 'btn btn-default btn-xs'

  %div.pagination
    = page_entries_info @gardens, :model => "gardens"
    = will_paginate @gardens

- else
  %p There are no gardens to display.

