%h1 Listing gardens

- if can? :create, Garden
  %p= link_to 'New Garden', new_garden_path, :class => 'btn btn-primary'

%table
  %tr
    %th Name
    %th User
    %th Slug
    %th
    %th

  - @gardens.each do |garden|
    %tr
      %td= link_to garden.name, garden
      %td= garden.owner
      %td= garden.slug
      - if can? :edit, garden
        %td= link_to 'Edit', edit_garden_path(garden), :class => 'btn btn-mini'
      - if can? :destroy, garden
        %td= link_to 'Delete', garden, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini'

