- content_for :title, @owner ? "#{@owner}'s gardens" : "Everyone's gardens"


%h1= @owner ? "#{@owner}'s gardens" : "Everyone's gardens"

= render 'layouts/nav', model: Garden

- content_for :breadcrumbs do
  - if @owner
    %li.breadcrumb-item= link_to 'Gardens', gardens_path
    %li.breadcrumb-item.active= link_to "#{@owner}'s gardens", member_gardens_path(@owner)
  - else
    %li.breadcrumb-item.active= link_to 'Gardens', gardens_path

%section.border-top
  = link_to gardens_active_tickbox_path(@owner, @show_all), class: 'btn'  do
    = check_box_tag 'active', 'all', @show_all
    include in-active

- if @gardens.empty?
  %p There are no gardens to display.
  - if can?(:create, Garden) && @owner == current_member
    = link_to 'Add a garden', new_garden_path, class: 'btn btn-primary'

- else
  = page_entries_info @gardens
  = will_paginate @gardens
  - @gardens.each do |garden|
    = cute_icon
    %section.card
      %h2
        = link_to garden.name, garden
      - unless @owner.present?
        %p
          owner:
          = render 'members/tiny', member: garden.owner
      .row
        .col= render 'gardens/actions', garden: garden
        .col
          - if garden.plantings.any?
            - if garden.plantings.active.perennial.any?
              %strong Perennials:
              - garden.plantings.active.perennial.each do |planting|
                = link_to planting do
                  = crop_icon planting.crop
                  = planting.crop

      - if garden.plantings.active.annual.any?
        %h3 Annuals
        = render 'plantings/progress_list', plantings: garden.plantings.active.annual
      - else
        No plantings

  .row
    .col-12= page_entries_info @gardens
    .col-12= will_paginate @gardens
