- content_for :title, @owner ? "#{@owner}'s gardens" : "Everyone's gardens"


%h1
  = @owner ? "#{@owner}'s gardens" : "Everyone's gardens"
= render 'layouts/nav', model: Garden

= link_to gardens_active_tickbox_path(@owner, @show_all) do
  = check_box_tag 'active', 'all', @show_all
  include in-active

.pagination
  = page_entries_info @gardens
  = will_paginate @gardens


- if @gardens.empty?
  %p There are no gardens to display.
- else
  - @gardens.each do |garden|
    %section.border-top
      .row
        .col-md-2.border-right
          %h2
            %strong= link_to garden, garden
            = render 'gardens/actions', garden: garden
          %p
            = pluralize(garden.plantings.active.size, "planting")
        .col-md-10
          .row
            - garden.plantings.active.each do |planting|
              .col-6.col-md-2= render 'plantings/card', planting: planting


.pagination
  = page_entries_info @gardens
  = will_paginate @gardens
