- content_for :title, @owner ? "#{@owner}'s gardens" : "Everyone's gardens"

%div.buttons-bar
  - if can? :create, Garden
    - if @owner
      - if @owner == current_member
        = link_to 'Add a garden', new_garden_path, :class => 'btn btn-primary'
      = link_to "View everyone's gardens", gardens_path, :class => 'btn btn-default'
    - else # everyone's gardens
      = link_to 'Add a garden', new_garden_path, :class => 'btn btn-primary'
      - if current_member
        = link_to 'View your gardens', gardens_by_owner_path(:owner => current_member.slug), :class => 'btn btn-default'
  - else
    = render :partial => 'shared/signin_signup', :locals => { :to => 'add a new garden' }

- if @gardens.length > 0

  %div.pagination
    = page_entries_info @gardens, :model => "gardens"
    = will_paginate @gardens

  %table.table.table-striped
    %tr
      %th 
      - unless @owner
        %th Owner
      %th Garden name
      %th Area
      %th Location
      %th Plantings

    - @gardens.each do |garden|
      %tr
        
        %td.garden-status
          - if garden.active 
            %span.label.label-success Active
          - else
            %span.label.label-danger Inactive
        
        - unless @owner
          %td= link_to garden.owner.login_name, garden.owner
        
        %td.garden-name
          = link_to garden.name, garden

        %td.garden-area
          = render :partial => 'area' , locals: {:garden => garden} 
            
        %td
          - unless garden.location.blank?
            = link_to garden.location, place_path(garden.location)

        %td
          = render :partial => 'plantings' , locals: {:plantings => garden.plantings}

  %div.pagination
    = page_entries_info @gardens, :model => "gardens"
    = will_paginate @gardens

- else
  %p There are no gardens to display.

