- content_for :title, @owner ? "#{@owner}'s gardens" : "Everyone's gardens"

%p
  - if can? :create, Garden
    - if @owner
      %p
        - if @owner == current_member
          = link_to 'Add a garden', new_garden_path, :class => 'btn btn-primary'
        = link_to "View everyone's gardens", gardens_path, :class => 'btn btn-default'
    - else # everyone's gardens
      = link_to 'Add a garden', new_garden_path, :class => 'btn btn-primary'
      - if current_member
        = link_to 'View your gardens', gardens_by_owner_path(:owner => current_member.slug), :class => 'btn btn-default'
  - else
    = render :partial => 'shared/signin_signup', :locals => { :to => 'add a new garden' }

%div.pagination
  = page_entries_info @gardens
  = will_paginate @gardens

.row
  - if @gardens.size > 0
    - @gardens.each do |garden|
      .col-md-6
        =render :partial => 'gardens/thumbnail', :locals => {:garden => garden}
  - else
    %p There are no gardens to display.

%div.pagination
  = page_entries_info @gardens
  = will_paginate @gardens

