= content_for :title, "#{@garden.owner}'s #{@garden}"

- content_for :opengraph do
  - @garden.photos.each do |photo|
    = tag("meta", property: "og:image", content: photo.fullsize_url)
  - if @garden.description
    = tag("meta", property: "og:description", content: og_description(@garden.description))
  = tag("meta", property: "og:title", content: "#{@garden.owner}'s #{@garden}")
  = tag("meta", property: "og:type", content: "website")
  = tag("meta", property: "og:url", content: request.original_url)
  = tag("meta", property: "og:site_name", content: ENV['GROWSTUFF_SITE_NAME'])

- content_for :scripts do
  = javascript_include_tag "charts"
  = javascript_include_tag "https://www.gstatic.com/charts/loader.js"

.row
  .col-md-9
    %p.btn-group= render 'gardens/actions', garden: @garden

    - unless @garden.active
      .alert.alert-warning
        This garden is inactive.
        - if can? :edit, @garden
          = link_to 'Set it to active', edit_garden_path(@garden)
          to plant something in this garden.

    %div
      :growstuff_markdown
        #{strip_tags @garden.description}
      - unless @garden.description
        .row-fluid
          %p No description available yet.

          - if can? :edit, @garden
            %p
              Why not
              = link_to 'tell us more.', edit_garden_path(@garden)

    %h3 Garden timeline
    .row
      = timeline garden_timeline_path(@garden), adapter: "google"

    %h3 Current plantings in garden
    .row
      - if @current_plantings.size.positive?
        - @current_plantings.each do |planting|
          .col-xs-12.col-md-6
            = render partial: "plantings/card", locals: { planting: planting }
      - else
        .col-md-12
          %p Nothing is currently planted here.
    %h3 Previously planted in this garden
    .row
      - if @finished_plantings.size.positive?
        - @finished_plantings.each do |planting|
          .col-xs-6.col-md-2
            = render partial: "plantings/thumbnail", locals: { planting: planting }
      - else
        %p Nothing has been planted here.
  .col-md-3
    %h4 About this garden
    %p
      %strong Owner:
      = link_to @garden.owner, @garden.owner
    - unless @garden.location.blank?
      %p
        %strong Location:
        = @garden.location
    - unless @garden.area.blank?
      %p
        %strong Area:
        = pluralize(@garden.area, @garden.area_unit)

    %h4 "#{@garden.owner}'s gardens"
    %ul
      - @garden.owner.gardens.active.each do |othergarden|
        %li
          - if @garden == othergarden
            = @garden
          - else
            = link_to othergarden, garden_path(othergarden)

    - unless @garden.owner.gardens.inactive.empty?
      %h4= "Inactive gardens"
      %ul
        - @garden.owner.gardens.inactive.each do |othergarden|
          %li
            - if @garden == othergarden
              = @garden.name
            - else
              = link_to othergarden, garden_path(othergarden)

    - if @garden.owner == current_member
      %p
        = link_to new_garden_path, class: 'btn btn-default btn-xs' do
          Add New Garden

    - if can?(:edit, @garden) && can?(:create, Photo)
      %p
        = link_to new_photo_path(type: "garden", id: @garden.id),
        class: 'btn btn-primary' do
          %span.glyphicon.glyphicon-camera{ title: "Add photo" }
          Add photo
    - if @garden.photos.size.positive?
      %h3= localize_plural(@garden.photos, Photo)
      .row
        - @garden.photos.includes(:owner).each do |photo|
          .col-xs-6
            = render partial: 'photos/thumbnail', locals: { photo: photo }
