= content_for :title, "#{@garden.owner}'s #{@garden}"

- content_for :opengraph do
  - @garden.photos.each do |photo|
    = tag("meta", property: "og:image", content: photo.fullsize_url)
  - if @garden.description
    = tag("meta", property: "og:description", content: og_description(@garden.description))
  = tag("meta", property: "og:title", content: "#{@garden.owner}'s #{@garden}")
  = tag("meta", property: "og:type", content: "website")
  = tag("meta", property: "og:url", content: request.original_url)
  = tag("meta", property: "og:site_name", content: ENV['GROWSTUFF_SITE_NAME'])

- content_for :scripts do
  = javascript_include_tag "charts"
  = javascript_include_tag "https://www.gstatic.com/charts/loader.js"


- content_for :breadcrumbs do
  %li.breadcrumb-item= link_to 'Gardens', gardens_path
  %li.breadcrumb-item.active= link_to @garden.name, gardens_path(@garden)

.row
  .col-md-9.col-sm-12
    %h2.h1
      %strong= @garden
      = render 'gardens/actions', garden: @garden
.row
  .col-md-9
    - unless @garden.active
      .alert.alert-warning
        This garden is inactive.
        - if can? :edit, @garden
          = link_to 'Set it to active', edit_garden_path(@garden)
          to plant something in this garden.

    %div
      %p
        :growstuff_markdown
          #{strip_tags @garden.description}
        - unless @garden.description
          .row-fluid
            %p No description available yet.

            - if can? :edit, @garden
              %p
                Why not
                = link_to 'tell us more.', edit_garden_path(@garden)

    - if @garden.plantings.where.not(planted_at: nil).any?
      .row
        .col-md-12
          %section
            %h2 Garden timeline
            = timeline garden_timeline_path(@garden), adapter: "google"

    %section
      %h2 Current plantings in garden
      .index-cards
        - if @current_plantings.size.positive?
          - @current_plantings.each do |planting|
            = render "plantings/card", planting: planting
        - else
          .col-md-12
            %p Nothing is currently planted here.
    %section
      %h2 Previously planted in this garden
      .index-cards
        - if @finished_plantings.size.positive?
          - @finished_plantings.each do |planting|
            = render "plantings/tiny",  planting: planting
        - else
          %p Nothing has been planted here.
  .col-md-3
    .card
      .card-image
        = image_tag garden_image_path(@garden), class: 'img-card', alt: 'photo of this garden'
      .card-body
        %h4 About this garden
        %p
          %strong Owner:
          = link_to @garden.owner, @garden.owner
        - unless @garden.location.blank?
          %p
            %strong Location:
            = @garden.location
        - unless @garden.area.blank?
          %p
            %strong Area:
            = pluralize(@garden.area, @garden.area_unit)

    .card
      .card-header
        %h4 #{@garden.owner}'s gardens
      .card-body
        %ul.list-group.list-group-flush
          - @garden.owner.gardens.active.each do |garden|
            %li.list-group-item.list-group-flush
              = garden_icon
              - if @garden == garden
                = @garden
              - else
                = link_to garden, garden_path(garden)

    - unless @garden.owner.gardens.inactive.empty?
      %h4 Inactive gardens
      %ul
        - @garden.owner.gardens.inactive.each do |othergarden|
          %li
            - if @garden == othergarden
              = @garden.name
            - else
              = link_to othergarden, garden_path(othergarden)

    - if @garden.owner == current_member
      %p
        = link_to new_garden_path, class: 'btn btn-default btn-xs' do
          Add New Garden

    - if can?(:edit, @garden) && can?(:create, Photo)
      %%p
        = add_photo_button(@garden)

    - if @garden.photos.size.positive?
      %section.photos
        %h2= localize_plural(@garden.photos, Photo)
        .index-cards
          - @garden.photos.includes(:owner).each do |photo|
            = render 'photos/thumbnail', photo: photo
