=content_for :title, "#{@garden.owner}'s #{@garden.name}"

.row
  .span3
    =image_tag('http://placehold.it/150x150', :alt => '', :class => 'img-rounded')
    %h4
      Owner:
      =link_to @garden.owner, url_for(member_path(@garden.owner))

    %h4= "#{@garden.owner}'s gardens"
    %ul
      - @garden.user.gardens.each do |othergarden|
        %li
          - if @garden == othergarden
            = @garden.name
          - else
            = link_to "#{othergarden.name}", garden_path(othergarden)

    - if current_user == @garden.owner
      = link_to 'Edit', edit_garden_path(@garden), :class => 'btn'
      = link_to 'New', new_garden_path, :class => 'btn'

  .span9
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          = link_to 'Plantings', '#tab1', 'data-toggle' => 'tab'
        %li
          = link_to 'Updates', '#tab2', 'data-toggle' => 'tab'
      .tab-content
        .tab-pane.active#tab1
          .alert
            %button.close{:type => 'button', 'data-dismiss' => 'alert'} ×
            Note: these are a random selection, and don't represent actual plantings

          %ul.thumbnails
            - (1..20).each do
              %li.span2
                = render :partial => "crops/thumbnail", :locals => { :crop => random_crop }
        .tab-pane.active#tab2
          .alert
            %button.close{:type => 'button', 'data-dismiss' => 'alert'} ×
            Note: in due these will be limited to only those updates that apply to this particular garden!

          - @garden.owner.updates.each do |update|
            = render :partial => "updates/single", :locals => { :update => update, :subject => true }
