= form_for @follow do |f|
  - if @follow.errors.any?
    #error_explanation
      %h2= "#{pluralize(@follow.errors.count, "error")} prohibited this follow from being saved:"
      %ul
        - @follow.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :member_id
    = f.number_field :member_id
  .field
    = f.label :followed_id
    = f.number_field :followed_id
  .actions
    = f.submit 'Save'
