- content_for :title, "#{@member.login_name}'s followers"


%h1.page-title #{@member.login_name}'s followers

= page_entries_info @followers
= will_paginate @followers

.index-cards= render @followers

= page_entries_info @followers
= will_paginate @followers
