%h1 Listing follows

%table
  %tr
    %th Member
    %th Followed
    %th
    %th
    %th

  - @follows.each do |follow|
    %tr
      %td= follow.member_id
      %td= follow.followed_id
      %td= link_to 'Show', follow
      %td= link_to 'Edit', edit_follow_path(follow)
      %td= link_to 'Destroy', follow, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Follow', new_follow_path
