= form_for @role do |f|
  .row
    - if @role.errors.any?
      #error_explanation
        %h2
          = pluralize(@role.errors.size, "error")
          prohibited this role from being saved:
        %ul
          - @role.errors.full_messages.each do |msg|
            %li= msg

  .field
    .col-md2= f.label :name
    .col-md10= f.text_field :name
  .field
    .col-md2= f.label :description
    .col-md10= f.text_area :description
  .actions
    = f.submit 'Save', class: 'btn btn-default'
