%h1 Listing order_items

%table
  %tr
    %th Order
    %th Product
    %th Price
    %th Quantity
    %th
    %th
    %th

  - @order_items.each do |order_item|
    %tr
      %td= order_item.order_id
      %td= order_item.product_id
      %td= order_item.price
      %td= order_item.quantity
      %td= link_to 'Show', order_item
      %td= link_to 'Edit', edit_order_item_path(order_item)
      %td= link_to 'Destroy', order_item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Order item', new_order_item_path
