= form_for @photo do |f|
  - if @photo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@photo.errors.count, "error")} prohibited this photo from being saved:"
      %ul
        - @photo.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :owner_id
    = f.number_field :owner_id
  .field
    = f.label :flickr_photo_id
    = f.number_field :flickr_photo_id
  .field
    = f.label :thumbnail_url
    = f.text_field :thumbnail_url
  .field
    = f.label :fullsize_url
    = f.text_field :fullsize_url
  .actions
    = f.submit 'Save'
