%span.likes
  - if member_signed_in?
    - if can?(:new, Like) && !photo.liked_by?(current_member)
      = link_to likes_path(photo_id: photo.id, format: :json),
                method: :post, remote: true, class: 'photo-like like-btn' do
        = render 'likes/count', likeable: photo
    - else
      - like = photo.likes.find_by(member: current_member)
      - if like && can?(:destroy, like)
        = link_to like_path(id: like.id, format: :json),
                  method: :delete, remote: true, class: 'photo-like like-btn' do
          = render 'likes/count', likeable: photo
  - else
    = render 'likes/count', likeable: photo