%h4 This photo depicts:
%ul
  - @photo.plantings.each do |planting|
    %li
      = link_to t('photos.show.planting', planting: planting.to_s, owner: planting.owner.to_s), planting_path(planting)
      = render partial: "photo_association_delete", locals: { photo: @photo, type: 'planting', thing: planting }

  - @photo.harvests.each do |harvest|
    %li
      = link_to t('photos.show.harvest', crop: harvest.crop.name, owner: harvest.owner.to_s), harvest_path(harvest)
      = render partial: "photo_association_delete", locals: { photo: @photo, type: 'harvest', thing: harvest }

  - @photo.gardens.each do |garden|
    %li
      = link_to t('photos.show.garden', garden: garden.to_s, owner: garden.owner.to_s), garden_path(garden)
      = render partial: "photo_association_delete", locals: { photo: @photo, type: 'garden', thing: garden }

  - @photo.seeds.each do |seed|
    %li
      = link_to t('photos.show.seed', seed: seed.to_s, owner: seed.owner.to_s), seed_path(seed)
      = render partial: "photo_association_delete", locals: { photo: @photo, type: 'seed', thing: seed }
