%h1
  - if @crop
    Photos of #{@crop.name}
  - elsif @planting.present?
    Photos of #{@planting}
  - else
    Most recent photos added to #{ENV['GROWSTUFF_SITE_NAME']}.

- content_for :breadcrumbs do
  %li.breadcrumb-item= link_to 'Photos', photos_path

= page_entries_info @photos
= will_paginate @photos

.index-cards
  - @photos.each do |p|
    = render 'photos/card', photo: p

= page_entries_info @photos
= will_paginate @photos
