- content_for :title, "Photos"

- if @crop
  %h2= @crop.name

%p Most recent photos added to #{ENV['GROWSTUFF_SITE_NAME']}.

.pagination
  = page_entries_info @photos
  = will_paginate @photos


.row
  - @photos.each do |p|
    .col-md-2.six-across
      .thumbnail{ style: 'height: 220px' }
        = link_to image_tag(p.thumbnail_url, alt: p.title, class: 'img'), p
        %p
          = link_to p.title, p
          by
          = link_to p.owner, p.owner

.pagination
  = page_entries_info @photos
  = will_paginate @photos
