- content_for :title, @photo.title
- content_for :opengraph do
  = tag("meta", property: "og:title", content: @photo.title)
  = tag("meta", property: "og:image", content: @photo.fullsize_url)
  = tag("meta", property: "og:image:user_generated", content: "true")
  = tag("meta", property: "og:type", content: "website")
  = tag("meta", property: "og:url", content: request.original_url)
  = tag("meta", property: "og:site_name", content: ENV['GROWSTUFF_SITE_NAME'])

.row
  .col-md-5
    - if @crops.size.positive?
      - @crops.each do |crop|
        = render 'crops/index_card', crop: crop
    %p
      %i.fas.fa-camera-retro
      %strong Photo by
      = link_to @photo.owner, @photo.owner
    %p
      %strong License:
      - if @photo.license_url
        = link_to @photo.license_name, @photo.license_url
      - else
        = succeed "." do
          = @photo.license_name

    - if @photo.associations?
      = render "photo_associations", locals: { photo: @photo }
    = render 'photos/actions', photo: @photo

    - if @crops.size.positive?
      - @crops.each do |crop|
        = render 'crops/index_card', crop: crop

  .col-md-7
    //%img.img-fluid.z-depth-1{:alt => "1", :src => "https://mdbootstrap.com/img/Photos/Slides/img%20(54).jpg"}/
    %p= image_tag(@photo.fullsize_url, alt: @photo.title, class: 'rounded img-fluid z-depth-1 float-right ')
    %p= link_to "View on Flickr", @photo.link_url, class: 'btn'
