-content_for :title, @photo.title

.row
  .col-md-6
    %p
      %strong Posted by:
      = link_to @photo.owner, @photo.owner
    %p
      %strong License:
      - if @photo.license_url
        = link_to @photo.license_name, @photo.license_url
      - else
        = succeed "." do
          = @photo.license_name
    %p
      = link_to "View on Flickr", @photo.link_url

    - if can? :destroy, @photo
      %p= link_to 'Delete Photo', @photo, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default btn-xs'

  .col-md-6
    - if @photo.plantings.size > 0 or @photo.harvests.size > 0 or @photo.gardens.size > 0
      %p This photo depicts:
      %ul
        - if @photo.plantings.size > 0
          - @photo.plantings.each do |p|
            %li= link_to p, p
        - if @photo.harvests.size > 0
          - @photo.harvests.each do |h|
            %li= link_to h, h
        - if @photo.gardens.size > 0
          - @photo.gardens.each do |g|
            %li= link_to g, g


.row
  .col-md-12
    %p= image_tag(@photo.fullsize_url, :alt => @photo.title, :class => 'img')

