= image_tag(@photo.fullsize_url, :alt => 'A plant', :class => 'img-rounded')

%p
  = link_to @photo.title, @photo.link_url
  by
  = succeed "." do
    = link_to @photo.owner, @photo.owner
  License:
  - if @photo.license_url
    = succeed "." do
      = link_to @photo.license_name, @photo.license_url
  - else
    = succeed "." do
      = @photo.license_name

