- content_for :title, @photo.title
- content_for :opengraph do
  = tag("meta", property: "og:title", content: @photo.title)
  = tag("meta", property: "og:image", content: @photo.fullsize_url)
  = tag("meta", property: "og:image:user_generated", content: "true")
  = tag("meta", property: "og:type", content: "website")
  = tag("meta", property: "og:url", content: request.original_url)
  = tag("meta", property: "og:site_name", content: ENV['GROWSTUFF_SITE_NAME'])

.row
  .col-md-6
    %p
      %strong Posted by:
      = link_to @photo.owner, @photo.owner
    %p
      %strong License:
      - if @photo.license_url
        = link_to @photo.license_name, @photo.license_url
      - else
        = succeed "." do
          = @photo.license_name
    %p
      = link_to "View on Flickr", @photo.link_url

    - if can? :destroy, @photo
      %p= link_to 'Delete Photo', @photo, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default btn-xs'

  .col-md-6
    - unless @photo.plantings.empty? && @photo.harvests.empty? && @photo.gardens.empty? && @photo.seeds.empty?
      %p This photo depicts:
      %ul
        - @photo.plantings.each do |p|
          %li= link_to t('.planting', planting: p.to_s, owner: p.owner.to_s), planting_path(p)
        - @photo.harvests.each do |h|
          %li= link_to t('.harvest', crop: h.crop.name, owner: h.owner.to_s), harvest_path(h)
        - @photo.gardens.each do |g|
          %li= link_to t('.garden', garden: g.to_s, owner: g.owner.to_s), garden_path(g)
        - @photo.seeds.each do |s|
          %li= link_to t('.seed', seed: s.to_s, owner: s.owner.to_s), seed_path(s)

.row
  .col-md-12
    %p= image_tag(@photo.fullsize_url, :alt => @photo.title, :class => 'img')

