- content_for :title, @photo.title
- content_for :opengraph do
  = tag("meta", property: "og:title", content: @photo.title)
  = tag("meta", property: "og:image", content: @photo.fullsize_url)
  = tag("meta", property: "og:image:user_generated", content: "true")
  = tag("meta", property: "og:type", content: "website")
  = tag("meta", property: "og:url", content: request.original_url)
  = tag("meta", property: "og:site_name", content: ENV['GROWSTUFF_SITE_NAME'])

.row
  .col-md-8
    %p= image_tag(@photo.fullsize_url, alt: @photo.title, class: 'img img-responsive')

  .col-md-4
    = render 'photos/actions', photo: @photo
    %p
      %strong Posted by:
      = link_to @photo.owner, @photo.owner
    %p
      %strong License:
      - if @photo.license_url
        = link_to @photo.license_name, @photo.license_url
      - else
        = succeed "." do
          = @photo.license_name

    %p= link_to "View on Flickr", @photo.link_url
    - if @photo.associations?
      = render "photo_associations", locals: { photo: @photo }
