%p
  Posted by
  - if @post.author
    = link_to @post.author.login_name, member_path(@post.author)
  - else
    Member Deleted
  - if @post.forum
    in
    = link_to @post.forum, @post.forum
  on
  = @post.created_at
  - if @post.updated_at > @post.created_at
    and edited at
    = @post.updated_at

= link_to "Permalink", post

:growstuff_markdown
  #{ strip_tags @post.body }
