.well
  .post
    .row
      .span1
        = render :partial => "shared/avatar", :locals => { :member => post.author }
      .span7
        - if subject
          %h3= link_to strip_tags(post.subject), post

        .post-meta
          Posted by
          = link_to post.author.login_name, member_path(post.author)
          at
          = post.created_at

        .post-body
          :markdown
            #{ strip_tags post.body }

