.well
  .post
    .row
      .span1
        = render :partial => "shared/avatar", :locals => { :member => post.member }
      .span7
        - if subject
          %h3= link_to strip_tags(post.subject), post

        .post-meta
          Posted by
          = link_to post.member.login_name, member_path(post.member)
          at
          = post.created_at

        .post-body
          :markdown
            #{ strip_tags post.body }

        - if current_member == post.member
          .post-actions
            = link_to 'Edit', edit_post_path(post), :class => 'btn'
            = link_to 'Delete', post, method: :delete, |
              data: { confirm: 'Are you sure?' }, :class => 'btn'
