.well
  .post
    .row
      .span1
        = render :partial => "shared/avatar", :locals => { :member => post.author }
      .span7
        - if subject
          %h3= link_to strip_tags(post.subject), post

        .post-meta
          Posted by
          = link_to post.author.login_name, member_path(post.author)
          at
          = post.created_at

        .post-body
          :markdown
            #{ strip_tags post.body }

        - if can? :edit, post or can? :destroy, post
          .post-actions
            - if can? :edit, post
              = link_to 'Edit', edit_post_path(post), :class => 'btn'
            - if can? :destroy, post
              = link_to 'Delete', post, method: :delete, |
                data: { confirm: 'Are you sure?' }, :class => 'btn'

        - if can? :create, Comment
          .post-actions
            =link_to 'Comment', new_comment_path(:post_id => @post.id), :class => 'btn'
