- content_for :title, @author ? t('.title.author_posts', author: @author) : t('.title.default')

- content_for :breadcrumbs do
  %li.breadcrumb-item= link_to 'Posts', posts_path
  - if @author.present?
    %li.breadcrumb-item= link_to @author, @author
    %li.breadcrumb-item.active= link_to 'posts', posts_path(author: @author.slug)

%h1= @author ? t('.title.author_posts', author: @author) : t('.title.default')

= render 'layouts/nav', model: Post

= will_paginate @posts

- @posts.each do |post|
  .card.post
    .card-body
      %h5.card-title
        = link_to strip_tags(post.subject), post
        - if post.comments.size.positive?
          %span.badge.badge-pill.badge-info.float-right
            = icon 'fas', 'comment'
            &nbsp;
            = post.comments.size
      %p.text-muted
        Posted by
        - if post.author
          = link_to post.author.login_name, member_path(post.author)
        - else
          Member Deleted

        - if post.forum
          in #{link_to post.forum, post.forum}
        on #{post.created_at}"
        - if post.updated_at > post.created_at
          and edited at #{post.updated_at}
      = render 'members/tiny', member: post.author
      .card-body
        .post-body= display_post_truncated(post)
      - post.crops.each do |crop|
        = render 'crops/tiny', crop: crop


= will_paginate @posts

%p
  - if @author
    Subscribe to
    = succeed "." do
      = link_to "#{@author}'s posts RSS feed", member_posts_path(@author, format: 'rss')

  - else
    Subscribe to the #{ENV['GROWSTUFF_SITE_NAME']}
    = link_to "posts RSS feed", posts_path(format: 'rss')
    or
    = succeed "." do
      = link_to "comments RSS feed", comments_path(format: 'rss')
