- content_for :title, @author ? t('.title.author_posts', author: @author) : t('.title.default')

- content_for :breadcrumbs do
  %nav{"aria-label" => "breadcrumb"}
    %ol.breadcrumb
      %li.breadcrumb-item
        = link_to 'Home', root_path
      - if @author.present?
        %li.breadcrumb-item= link_to @author, @author
        %li.breadcrumb-item.active= link_to 'posts', posts_path(author: @author.slug)

%h1= @author ? t('.title.author_posts', author: @author) : t('.title.default')
.pagination= render 'layouts/pagination', collection: @posts
.row
  .card-deck
    - @posts.each do |post|
      .col-12.col-md-6
        .card
          .card-body
            .row
              .col-4= render 'members/avatar', member: post.author
              .col-8
                %h5.card-title
                  = link_to post.subject, post
                  - if post.comments.size.positive?
                    %span.badge.badge-pill.badge-info.float-right
                      = icon 'fas', 'comment'
                      = post.comments.size
                %p.card-text= display_post_truncated(post)
                - post.crops.each do |crop|
                  %span.badge.badge-pill.badge-primary= link_to crop, crop


.pagination= render 'layouts/pagination', collection: @posts

%p
  - if @author
    Subscribe to
    = succeed "." do
      = link_to "#{@author}'s posts RSS feed", member_posts_path(@author, format: 'rss')

  - else
    Subscribe to the #{ENV['GROWSTUFF_SITE_NAME']}
    = link_to "posts RSS feed", posts_path(format: 'rss')
    or
    = succeed "." do
      = link_to "comments RSS feed", comments_path(format: 'rss')
