= content_for :title, "Post an post"

- if member_signed_in?
  = form_for @post, :url => { :action => "create" } do |f|
    %fieldset
      = label_tag :post, "Subject"
      = f.text_field :subject, :class => 'input-block-level'
      = label_tag :body, "What's going on in your food garden?"
      = f.text_area :body, :rows => 12, :class => 'input-block-level'
      = f.submit "Post", :class => 'btn'
- else
  .alert You're not logged in. Only logged in members can do this.

= link_to 'Back', posts_path
