<?xml version="1.0" encoding="UTF-8"?>
%rss{:version => 2.0}
  %channel
    %title #{Growstuff::Application.config.site_name} - Recent comments on #{@post.subject}
    %link= post_url(@post)
    - @post.comments.each do |comment|
      %item
        %author= comment.author.login_name
        %description

          :escaped
            <p>
            Comment on
            #{ link_to @post.subject, post_url(@post) }
            </p>

          :escaped_markdown
            #{ strip_tags comment.body }

        %pubDate= comment.created_at.to_s(:rfc822)
        %link= post_url(@post)
        %guid= post_url(@post)
