= content_for :title, @post.subject

= render :partial => "single", :locals => { :post => @post, :subject => false, :hide_comments => true }

- if can? :edit, @post or can? :destroy, @post
  .post-actions
    - if can? :edit, @post
      = link_to 'Edit Post', edit_post_path(@post), :class => 'btn btn-mini'
    - if can? :destroy, @post
      = link_to 'Delete Post', @post, method: :delete, |
        data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini'


%a{:name => "comments"}
- if @post.comments.length > 0
  %h2
    =pluralize(@post.comments.length, "comment")
  - @post.comments.each do |c|
    = render :partial => "comments/single", :locals => { :comment => c }

- else
  %h2 There are no comments yet

- if can? :create, Comment
  .post-actions
    =link_to 'Comment', new_comment_path(:post_id => @post.id), :class => 'btn btn-primary'
