<?xml version="1.0" encoding="UTF-8"?>
%rss{ version: 2.0 }
  %channel
    %title Recent comments on #{@post.subject} (#{ENV['GROWSTUFF_SITE_NAME']})
    %link= post_url(@post)
    - @post.comments.each do |comment|
      %item
        %title Comment by #{comment.author.login_name} on #{comment.created_at}
        %description

          :escaped_markdown
            <p>
            Comment on
            #{ link_to @post.subject, post_url(@post) }
            </p>

          :escaped_markdown
            #{ strip_tags comment.body }

        %pubdate= comment.created_at.to_fs(:rfc822)
        %link= post_url(@post)
        %guid= comment_url(comment)
