= content_for :title, @post.subject
- content_for :opengraph do
  = tag("meta", property: "og:image", content: avatar_uri(@post.author, 200))
  = tag("meta", property: "og:description", content: og_description(@post.body))
  = tag("meta", property: "og:title", content: @post.subject)
  = tag("meta", property: "og:type", content: "article")
  = tag("meta", property: "og:url", content: request.original_url)
  = tag("meta", property: "og:site_name", content: ENV['GROWSTUFF_SITE_NAME'])

- if @post.author && !current_member
  .alert.alert-info
    = link_to @post.author.login_name, member_path(@post.author)
    is using
    = link_to ENV["GROWSTUFF_SITE_NAME"], root_path
    to discuss #{@post.subject} with a community of food gardeners worldwide.
    We have advice on growing
    = succeed "," do
      = link_to 'hundreds of different crops', crops_url
    and a community from all around the world.

    = render "shared/signin_signup",
      to: "or to start using #{ENV['GROWSTUFF_SITE_NAME']} to track what you're planting and harvesting"

.row
  .col-8.col-xs-12

    / Section: Blog v.4
    %section.blog-post
      .card.post{ id: "post-#{@post.id}" }
        .card-header
          %h2.display-3= @post.subject
        .card-body
          %p
            Posted by
            - if @post.author
              = link_to @post.author.login_name, member_path(@post.author)
            - else
              Member Deleted
            - if @post.forum
              in
              = link_to @post.forum, @post.forum
            on
            = @post.created_at
            - if @post.updated_at > @post.created_at
              and edited at
              = @post.updated_at
          :growstuff_markdown
            #{ strip_tags @post.body }

        .card-footer
          - if can? :create, Comment
            = link_to new_comment_path(post_id: @post.id), class: 'btn' do
              = icon 'fas', 'comment'
              Comment

          - if can?(:edit, @post) || can?(:destroy, @post)
            - if can? :edit, @post
              = link_to 'Edit Post', edit_post_path(@post), class: 'btn' 

            - if can? :destroy, @post
              = link_to 'Delete Post', @post, method: :delete,
                            data: { confirm: 'Are you sure?' },
                            class: 'btn'

          - if @post.comments.count > 10 && can?(:create, Comment)
            = link_to 'Comment', new_comment_path(post_id: @post.id), class: 'btn'


  .col-4.col-xs-12
    = render @post.author

    - unless @post.crops.empty?
      %hr/
      .row
        .col-md-12
          %h3 Crops mentioned in this post
        - @post.crops.each do |c|
          .col-md-6= render 'crops/thumbnail', crop: c



  .col-md-12
    = render "comments", post: @post

