- if can?(:edit, planting)
  .dropdown.planting-actions
    %a#planting-actions-button.btn.btn-info.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", type: "button", href: '#'} Actions
    .dropdown-menu.dropdown-menu-xs{"aria-labelledby" => "planting-actions-button"}
      = planting_edit_button(planting, classes: 'dropdown-item')
      = add_photo_button(planting, classes: 'dropdown-item')
      - if planting.active
        = planting_finish_button(planting, classes: 'dropdown-item')
        = planting_harvest_button(planting, classes: 'dropdown-item')
        = planting_save_seeds_button(planting, classes: 'dropdown-item')
      .dropdown-divider
      = delete_button(planting, classes: 'dropdown-item text-danger')
