- if can?(:edit, planting)
  .planting-actions
    .btn-group
      = planting_edit_button(planting)
      = render 'shared/buttons/add_photo', model: planting

      - if planting.active?
        = planting_finish_button(planting)
        = planting_harvest_button(planting)
        = planting_save_seeds_button(planting)

    - if can? :destroy, planting
      = delete_button(planting)
