.planting-badges
  - unless planting.finished?
    // Finish times
    - if planting.finish_is_predicatable?
      - if planting.super_late?
        %span.badge.badge-info.badge-super-late= t('.super_late')
        = planting_finish_button(planting)
      - elsif planting.late?
        %span.badge.badge-info.badge-late= t('.late_finishing')
      - else
        %span.badge.badge-info{'data-toggle': "tooltip", 'data-placement': "top", title: 'Predicted days until planting is finished'}
          = finished_icon
          = t('label.days_until_finished', number: days_from_now_to_finished(planting))

    // Harvest times
    - unless planting.super_late?
      - if planting.harvest_time?
        %span.badge.badge-info.badge-harvest{'data-toggle': "tooltip", 'data-placement': "top", title: 'Planting is ready for harvesting now'}
          = harvest_icon
          = t('label.harvesting_now')
      - elsif planting.before_harvest_time?
        %span.badge.badge-info{'data-toggle': "tooltip", 'data-placement': "top", title: 'Predicted days until harvest'}
          = harvest_icon
          = t('label.days_until_harvest', number: days_from_now_to_first_harvest(planting))
