.panel.panel-success.planting-thumbnail
  .panel-heading
    %h3.panel-title
      = link_to planting.crop.name, planting_path(planting)
      - if can? :edit, planting
        %a.pull-right{ href: edit_planting_path(planting), role: "button", id: "edit_garden_glyphicon" }
          %span.glyphicon.glyphicon-pencil{ title: "Edit" }
  .panel-body
    .row
      .col-xs-12.col-md-5
        = link_to image_tag((planting.default_photo ? planting.default_photo.thumbnail_url : 'placeholder_150.png'),
                  alt: planting.crop_id, class: 'img img-responsive'),
                  planting
      .col-xs-12.col-md-7
        %dl.dl-horizontal.planting-attributes
          %dt Owner:
          %dd= link_to planting.owner.login_name, planting.owner
          %dt Garden:
          %dd= link_to planting.garden&.name, planting.garden
          %dt Planted on:
          %dd= planting.planted_at
          - if planting.quantity
            %dt Quantity:
            %dd= display_planting_quantity(planting)
          - if planting.finished?
            %dt Finished on:
            %dd= display_finished(planting)
          %dt Sun/shade?:
          %dd
            - sunniness = planting.sunniness.blank? ? "not specified" : planting.sunniness
            = image_tag("sunniness_#{sunniness}.png", size: "25x25", alt: sunniness, title: sunniness)
            = " (#{sunniness})"
          %dt Planted from:
          %dd= display_planted_from(planting)

          %dt Finish expected:
          %dd= planting.finish_predicted_at if planting.finish_predicted_at.present?
    %p= render 'plantings/progress', planting: planting, show_explanation: true
    .row
      .col-md-12= render 'plantings/actions', planting: planting
