- cache planting do
  .card.planting{class: planting.active ? '' : 'card-finished'}
    = link_to planting_path(slug: planting.slug) do
      = image_tag planting.thumbnail_url ? planting.thumbnail_url : placeholder_image, class: 'img-card', alt: planting.crop_name
    = link_to planting_path(slug: planting.slug) do
      .card-body.text-center
        %h4= planting.crop_name
        .text-center= render 'plantings/badges', planting: planting
        = render 'plantings/progress', planting: planting
    .card-footer
      .float-right
        %span.chip.member-chip
          = link_to member_path(slug: planting.owner_slug) do
            = planting.owner_login_name