.index-cards.facts.plantingfacts
  - if planting.parent_seed
    .card.fact-card
      %h3 Parent seed
      %strong.plantingfact--parentseed
        = link_to seed_path(planting.parent_seed) do
          = seed_icon
      %span=planting.parent_seed

  - if planting.finished?
    .card.fact-card
      %h3 Planted
      %strong=planting_icon
      - if planting.quantity.present?
        %span.plantingfact--quantity= planting.quantity

  - if planting.planted_at.present? && !planting.finished?
    .card.fact-card
      %h3 Planted
      %strong.plantingfact--dayssinceplanted #{planting.days_since_planted}
      %span days ago
  - if planting.quantity.to_i.positive?
    .card.fact-card
      %h3 Quantity
      %strong.plantingfact--quantity= planting.quantity
      %span
        - if planting.planted_from.present?
          #{pluralize((planting.quantity.to_i), planting.planted_from)}

  - unless planting.finished?
    .card.fact-card.grid-sizer
      %h3 Growing
      %strong= seedling_icon
      - if planting.planted_at.present?
        %span.plantingfact--planttedat= I18n.l planting.planted_at.to_date


  - if planting.planted_from.present?
    .card.fact-card
      %h3 Grown from
      %span.plantingfact--plantedfrom=planting.planted_from

  .card.fact-card
    %h3 Grown in
    %strong= sunniness_icon(planting.sunniness)
    %span.plantingfact--sunniness= planting.sunniness.blank? ? "not specified" : planting.sunniness

  .card.fact-card
    %h3.plantingfact--harveststitle
      = planting.finished? ? "Harvested" : "Harvesting"
    %strong
      = link_to planting_harvests_path(planting) do
        = harvest_icon
    %span.plantingfact--harvestprediction
      = planting.first_harvest_date&.to_formatted_s(:rfc822) || planting&.first_harvest_predicted_at&.to_formatted_s(:rfc822) || 'unknown'

  - if planting.crop.perennial
    .card.fact-card
      %h3.plantingfact--perennial Perennial
      %strong=perennial_icon
  - else
    - if !planting.finished? && planting.finish_is_predicatable?
      .card.fact-card
        - days = days_from_now_to_finished(planting)
        - if days.positive?
          %h3.plantingfact--finishtitle Prediction
          %strong.plantingfact--finisheddays #{days}
          %span days until finished
        - else
          %h3.plantingfact--finishtitle Finished
          %strong.plantingfact--finisheddays #{days * -1}
          %span days ago
        %span= planting.finish_predicted_at&.to_formatted_s(:rfc822)

  - if planting.child_seeds.size.positive?
    .card.fact-card
      %h3 Seeds saved
      %strong
        = link_to planting_seeds_path(planting) do
          = seed_icon
      %span.plantingfact--seedssaved #{pluralize(planting.child_seeds.size, 'packet')} of seed

  - if planting.finished?
    .card.fact-card
      %h3 Finished
      %strong=finished_icon
      %span.plantingfact--finish=planting.finished_at&.to_formatted_s(:rfc822)

