.planting-facts
  - if planting.parent_seed
    .fact.card
      %h3 Parent seed
      %strong
        = link_to @planting.parent_seed, seed_path(@planting.parent_seed)

  - if planting.finished
    .fact.card.grid-sizer
      %h3 Planted
      %strong=planting_icon
      - if planting.quantity.present?
        %span= planting.quantity

  - if planting.planted_at.present? && !planting.finished?
    .fact.card
      %h3 Planted
      %strong #{planting.days_since_planted}
      %span days ago
  - if planting.quantity.to_i.positive?
    .fact.card
      %h3 Quantity
      %strong= planting.quantity
      %span
        - if planting.planted_from.present?
          #{pluralize((planting.quantity.to_i), planting.planted_from)}

  - unless planting.finished?
    .fact.card.grid-sizer
      %h3 Growing
      %strong= seedling_icon
      %span= planting.planted_at.to_formatted_s(:rfc822)

    - if planting.percentage_grown
      .fact.card
        %h3 Progress
        %strong #{sprintf '%.0f', planting.percentage_grown}%
        .progress
          .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => planting.percentage_grown, :role => "progressbar", :style => "width: #{planting.percentage_grown}%"}
            %span.sr-only #{sprintf '%.0f', planting.percentage_grown}%




  - if planting.planted_from.present?
    .fact.card
      %h3 Grown from
      %span=planting.planted_from

  .fact.card
    %h3 Grown in
    %strong= sunniness_icon(planting.sunniness)
    %span= planting.sunniness.blank? ? "not specified" : planting.sunniness

  -# .fact.card
  -#   %h3 Garden
  -#   = link_to planting.garden do
  -#     - if planting.garden.default_photo.present?
  -#       = image_tag planting.garden.default_photo.thumbnail_url
  -#     - else
  -#       %strong= garden_icon
  -#       %span= planting.garden.name

  .fact.card
    %h3
      = planting.finished? ? "Harvests" : "Harvesting"
    %strong
      = link_to planting_harvests_path(planting) do
        = harvest_icon
    %span= planting.first_harvest_date&.to_formatted_s(:rfc822) || planting&.first_harvest_predicted_at&.to_formatted_s(:rfc822) || 'unknown'

  - if planting.crop.perennial
    .fact.card
      %h3 Perennial
      %strong=perennial_icon
  - else
    - if !planting.finished? && planting.finish_is_predicatable?
      .fact.card
        - days = days_from_now_to_finished(planting)
        - if days.positive?
          %h3 Prediction
          %strong #{days}
          %span days until finished
        - else
          %h3 Finish
          %strong #{days * -1}
          %span days ago
        %span= planting.finish_predicted_at&.to_formatted_s(:rfc822)

  - if planting.child_seeds.size.positive?
    .fact.card
      %h3 Seeds saved
      %strong
        = link_to planting_seeds_path(planting) do
          = seed_icon
      %span #{pluralize(planting.child_seeds.size, 'packet')} of seed

  - if planting.finished?
    .fact.card
      %h3 Finished
      %strong=finished_icon
      %span=planting.finished_at&.to_formatted_s(:rfc822)
