%h2 Photos
- if planting.photos.size.positive?
  = render 'photos/gallery', photos: photos
  - if can?(:edit, planting) && can?(:create, Photo)
    %p.text-right= add_photo_button(planting)
  %p.text-right
    = link_to planting_photos_path(planting), class: 'btn' do
      = photo_icon
      more photos
- else
  %p No photos.
  - if can?(:edit, planting) && can?(:create, Photo)
    %p Add a photo to visually track growth of this planting
    = add_photo_button(planting)
