- if !planting.planted?
	= "Progress: 0% - not planted yet"
- elsif planting.finished?
	= "Progress: 100%"
	= render partial: "plantings/progress_bar", locals: {status: "success", progress: "100%"}
- elsif planting.days_before_maturity.nil?
	= "Progress: Not calculated, days before maturity unknown"
- else
	= "Progress: #{planting.percentage_grown}%"
	= render partial: "plantings/progress_bar", locals: {status: "success", progress: "#{planting.percentage_grown}%"}
