.well
  %h4
    - if defined?(title) && title == 'owner'
      = link_to planting.owner, planting.owner
    - else
      = link_to planting.crop.system_name, planting

  %p
    Planted
    - if planting.planted_at
      = planting.planted_at.to_s(:date)
    in
    = link_to planting.location, planting.garden

  %p
    - if planting.quantity
      Quantity:
      = planting.quantity
    - else
      &nbsp;

  - if planting.description && ! defined?(hide_description)
    %div
      :markdown
        #{ planting.description }

  - if can? :edit, planting or can? :destroy, planting
    %p
      - if can? :edit, planting
        =link_to 'Edit', edit_planting_path(planting), :class => 'btn'
      - if can? :destroy, planting
        =link_to 'Destroy', planting, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn'
