.planting
  = render 'plantings/badges', planting: planting
  .planting-thumbnail
    = render 'plantings/quick_actions', planting: planting
    = link_to planting do
      = image_tag(planting_image_path(planting),
        class: 'img-responsive planting-thumbnail-photo',
        alt: planting)

    = render 'plantings/progress', planting: planting, show_explanation: false
    .planting-name= link_to planting.crop.name, planting
