- content_for :title, title('plantings', @owner, @crop, @planting)

- content_for :breadcrumbs do
  - if @owner
    %li.breadcrumb-item= link_to 'Plantings', plantings_path
    %li.breadcrumb-item.active= link_to "#{@owner}'s plantings", plantings_path(owner: @owner)
  - else
    %li.breadcrumb-item.active= link_to 'Plantings', plantings_path

%h1
  = planting_icon
  = title('plantings', @owner, @crop, @planting)

= render 'layouts/nav', model: Planting

%section.border-top
  %ul.nav
    %li.list-group-item.btn
      = link_to plantings_active_tickbox_path(@owner, @show_all) do
        = check_box_tag 'active', 'all', @show_all
        include in-active

    - if @owner
      %li.list-group-item.btn
        = link_to t('.view_owners_profile', owner: @owner), member_path(@owner)
.row
  .col-12= page_entries_info @plantings
  .col-12= will_paginate @plantings

.index-cards
  - @plantings.each do |planting|
    = render planting, full: true

= will_paginate @plantings

%hr/

%section.open-data
  %h3= t('label.data')
  %ul.nav#open-data
    - ['csv', 'json', 'rss'].each do |format|
      %li.list-group-item
        = link_to (@owner ? member_plantings_path(@owner, format: format) : plantings_path(format: format)) do
          = icon 'fas', format.to_s
          = format.upcase
