<?xml version="1.0" encoding="UTF-8"?>
%rss{ version: 2.0 }
  %channel
    %title
      Recent plantings from #{@owner ? @owner : 'all members'} (#{ENV['GROWSTUFF_SITE_NAME']})
    %link= plantings_url
    - @plantings.each do |planting|
      %item
        %title #{planting['crop_name']} in #{planting['location']}
        %pubdate= planting['created_at'].to_s(:rfc822)
        %description
          :escaped
            <p>Quantity: #{planting['quantity'] ? planting['quantity'] : 'unknown' }</p>
            <p>Planted on: #{planting['planted_at'] ? planting['planted_at'] : 'unknown' }</p>
            <p>Sunniness: #{planting['sunniness'] ? planting['sunniness'] : 'unknown' }</p>
            <p>Planted from: #{planting['planted_from'] ? planting['planted_from'] : 'unknown' }</p>
          :escaped_markdown
            #{ strip_tags planting['description'] }
        %link= planting_url(slug: planting['slug'])
        %guid= planting_url(slug: planting['slug'])
