- content_for :title, @owner ? "#{@owner}'s plantings" : @crop ? "Everyone's #{@crop.name} plantings" : "Everyone's plantings"

%p
  - if can? :create, Planting
    - if @owner
      %p
        - if @owner == current_member
          = link_to 'Plant something', new_planting_path, :class => 'btn btn-primary'
        = link_to "View everyone's plantings", plantings_path, :class => 'btn btn-default'
    - else # everyone's plantings
      = link_to 'Plant something', new_planting_path, :class => 'btn btn-primary'
      - if current_member
        = link_to 'View your plantings', plantings_by_owner_path(:owner => current_member.slug), :class => 'btn btn-default'
  - else
    = render :partial => 'shared/signin_signup', :locals => { :to => "track what you've planted" }

  %div.pagination
    = page_entries_info @plantings, :model => "plantings"
    = will_paginate @plantings

- if @plantings.size > 0

  %table.table.table-striped
    %tr
      %th #
      %th Photo
      %th{:colspan => "3"} Planting details
    
    - @plantings.each.with_index do |planting, index|
      %tr
        %td= "##{index+1}"
        %td= link_to image_tag((planting.default_photo ?  planting.default_photo.thumbnail_url : 'placeholder_150.png'), :alt => planting.crop_id, :class => 'img'), planting
        %td
          %ul{:style => "list-style-type:none"}
            %li Owner :
            %li Garden :
            %li Planted on :
            %li Finished on :
            %li Sun/shade? :
            %li Planted from :
        %td
          %ul{:style => "list-style-type:none"}
            %li= link_to planting.owner.login_name, planting.owner
            %li= link_to planting.garden.name, planting.garden
            %li= planting.planted_at
            - if planting.finished and planting.finished_at?
              %li= planting.finished_at
            - elsif planting.finished
              %li= "Yes (no date specified)"
            - else
              %li= "(no date specified)"
            - if planting.sunniness?
              %li= planting.sunniness
            - else
              %li= "n/a"
            %li= planting.planted_from
        %td
          %ul{:style => "list-style-type:none"}
            %li= link_to 'Details', planting, :class => 'btn btn-default btn-xs'
            - if can? :edit, planting
              %li= link_to 'Edit', edit_planting_path(planting), :class => 'btn btn-default btn-xs'
              - if ! planting.finished
                %li= link_to "Mark as finished", planting_path(planting, :planting => {:finished => 1}),  :method => :put, :class => 'btn btn-default btn-xs append-date'
            - if can? :destroy, planting
              %li= link_to 'Delete', planting, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default btn-xs'
          %tr
        %td
        %td
          %ul{:style => "list-style-type:none"}
            %li
              Crop name:
              =link_to planting.crop.name, planting.crop
            - if planting.finished and !planting.finished_at.nil?
              - if ((p = planting.finished_at - DateTime.now).to_i) <= 0
                %li= "Days until maturity: 0"
              - else
                %li= "Days until maturity: #{p.to_i}"

            - elsif planting.days_before_maturity.nil?
              %li= "Days until maturity: unknown"
            - else
              - if ((p = (planting.planted_at + planting.days_before_maturity) - DateTime.now).to_i) <= 0
                %li= "Days until maturity: 0"
              - else
                %li= "Days until maturity: #{p.to_i}"

        %td{:colspan => "3"}
          %ul{:style => "list-style-type:none"}
            %li= render 'planting_progress', planting: planting

  %div.pagination
    = page_entries_info @plantings, :model => "plantings"
    = will_paginate @plantings

  %ul.list-inline
    %li The data on this page is available in the following formats:
    - if @owner
      %li= link_to "CSV", plantings_by_owner_path(@owner, :format => 'csv')
      %li= link_to "JSON", plantings_by_owner_path(@owner, :format => 'json')
      %li= link_to "RSS", plantings_by_owner_path(@owner, :format => 'rss')
    - else
      %li= link_to "CSV", plantings_path(:format => 'csv')
      %li= link_to "JSON", plantings_path(:format => 'json')
      %li= link_to "RSS", plantings_path(:format => 'rss')
