- content_for :title, @owner ? t('.title.owner_plantings', owner: @owner) : @crop ? t('.title.crop_plantings', crop: @crop.name) : t('.title.default') 
- if @owner
  = link_to "View #{@owner}'s profile >>", member_path(@owner)

%p
  - if can? :create, Planting
    - if @owner
      %p
        - if @owner == current_member
          = link_to 'Plant something', new_planting_path, :class => 'btn btn-primary'
        = link_to "View everyone's plantings", plantings_path, :class => 'btn btn-default'
    - else # everyone's plantings
      = link_to 'Plant something', new_planting_path, :class => 'btn btn-primary'
      - if current_member
        = link_to 'View your plantings', plantings_by_owner_path(:owner => current_member.slug), :class => 'btn btn-default'
  - else
    = render :partial => 'shared/signin_signup', :locals => { :to => "track what you've planted" }

%div.pagination
  = page_entries_info @plantings, :model => "plantings"
  = will_paginate @plantings

.row
  - if @plantings.size > 0
    - @plantings.each.with_index do |planting|
      .col-xs-12.col-lg-6
        = render partial: "plantings/thumbnail", locals: {:planting => planting}

%div.pagination
  = page_entries_info @plantings, :model => "plantings"
  = will_paginate @plantings

  %ul.list-inline
    %li The data on this page is available in the following formats:
    - if @owner
      %li= link_to "CSV", plantings_by_owner_path(@owner, :format => 'csv')
      %li= link_to "JSON", plantings_by_owner_path(@owner, :format => 'json')
      %li= link_to "RSS", plantings_by_owner_path(@owner, :format => 'rss')
    - else
      %li= link_to "CSV", plantings_path(:format => 'csv')
      %li= link_to "JSON", plantings_path(:format => 'json')
      %li= link_to "RSS", plantings_path(:format => 'rss')
