- content_for :title, title('plantings', @owner, @crop, @planting)

= render 'layouts/nav', model: Planting

= link_to plantings_active_tickbox_path(@owner, @show_all) do
  = check_box_tag 'active', 'all', @show_all
  include in-active

- if @owner
  = link_to t('.view_owners_profile', owner: @owner), member_path(@owner)

.pagination
  = page_entries_info @plantings
  = render 'layouts/pagination', collection: @plantings

.row
  - @plantings.each do |planting|
    .col-md-3.col-sm-4.col-6= render 'plantings/card', planting: planting

.pagination
  = page_entries_info @plantings
  = render 'layouts/pagination', collection: @plantings

  %ul.list-inline
    %li= t('.the_data_on_this_page_is_available_in_the_following_formats')
    - ['csv', 'json', 'rss'].each do |format|
      %li= link_to format.upcase,
          (@owner ? member_plantings_path(@owner, format: format) : plantings_path(format: format))
