=content_for :title, "#{@planting.crop} in #{@planting.location}"

.row
  .span6
    %p
      %b Planted:
      = @planting.planted_at ? @planting.planted_at : "not specified"
    %p
      %b Where:
      =link_to "#{@planting.owner}'s", @planting.owner
      =link_to @planting.garden, @planting.garden
      - if @planting.owner.location
        = "(#{@planting.owner.location})"
    %p
      %b Quantity:
      = @planting.quantity != 0 ? @planting.quantity : "not specified"

    - if ! @planting.sunniness.blank?
      %p
        %b Sun or shade?
        = @planting.sunniness


    - if can? :edit, @planting or can? :destroy, @planting
      %p
      - if can? :edit, @planting
        =link_to 'Edit', edit_planting_path(@planting), :class => 'btn btn-mini'
      - if can? :destroy, @planting
        =link_to 'Delete', @planting, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini'

  .span6
    .well
      %h3
        = link_to @planting.crop, @planting.crop
        - if can? :edit, @planting
          = link_to 'Plant another', new_planting_path, :class => 'btn btn-primary'
        - elsif can? :create, Planting
          = link_to 'Plant this', new_planting_path, :class => 'btn btn-primary'

      %p
        %b Scientific name:
        = @planting.crop_default_scientific_name
      %p
        %b
          Planted
          = pluralize(@planting.crop_plantings_count, "time")
        by #{Growstuff::Application.config.site_name} members

%h2 Pictures
.row
  - (1..6).each do
    .span2
      = image_tag('http://placehold.it/150x150', :alt => '', :class => 'img-rounded')

%h2
  Notes

:markdown
  #{ @planting.description != "" ? @planting.description : "No description given." }

- if can? :edit, @planting
  = link_to 'Edit', edit_planting_path(@planting), :class => 'btn btn-mini'
