= content_for :title, "#{@planting.crop} in #{@planting.location}"
- content_for :opengraph do
  - @planting.crop.photos.limit(3).each do |photo|
    = tag("meta", property: "og:image", content: photo.fullsize_url)
  = tag("meta", property: "og:title", content: "#{@planting.crop} in #{@planting.location}")
  - if @planting.description
    = tag("meta", property: "og:description", content: og_description(@planting.description))
  = tag("meta", property: "og:type", content: "website")
  = tag("meta", property: "og:url", content: request.original_url)
  = tag("meta", property: "og:site_name", content: ENV['GROWSTUFF_SITE_NAME'])


.planting
  .row
    .col-md-8.col-xs-12
      %h1
        = planting_icon
        %strong= @planting
        = render 'plantings/actions', planting: @planting

      %section= render 'facts', planting: @planting
      - if @planting.description.present?
        %hr/
        .card
          .card-header
            %h2 Notes
          .card-body
            :growstuff_markdown
              #{strip_tags(@planting.description)}
      %hr/
      %section= render 'plantings/photos', photos: @photos, planting: @planting
    .col-md-4.col-xs-12.text-right
      .card
        .card-body= render 'plantings/owner', planting: @planting
      = render @planting.crop
  .row
    .col-md-12
      %hr/
      %section= render 'plantings/harvests', planting: @planting
      %hr/
      %section= render 'plantings/descendants', planting: @planting
