= content_for :title, "#{@planting.crop} in #{@planting.location}"
- content_for :opengraph do
  - @planting.crop.photos.each do |photo|
    = tag("meta", property: "og:image", content: photo.fullsize_url)
  = tag("meta", property: "og:title", content: "#{@planting.crop} in #{@planting.location}")
  - if @planting.description
    = tag("meta", property: "og:description", content: og_description(@planting.description))
  = tag("meta", property: "og:type", content: "website")
  = tag("meta", property: "og:url", content: request.original_url)
  = tag("meta", property: "og:site_name", content: ENV['GROWSTUFF_SITE_NAME'])

- content_for :buttonbar do
  = render 'plantings/actions', planting: @planting

.planting
  .row
    .col-xs-12.col-sm-8
      .row
        = render 'facts', planting: @planting

      %hr/

      - if @planting.photos.size.positive?
        .row
          .col-sm-8
            .planting-full-badges= render 'plantings/badges', planting: @planting
            = link_to @planting.default_photo do
              = render @planting.default_photo
          .col-sm-4
            = render 'photos/gallery', photos: @photos
          .col-sm-6
            - if @planting.description.present?
              %h2 Notes
              :growstuff_markdown
                #{strip_tags(@planting.description)}

    .col-sm-4
      .row
        .col-xs-8.col-sm-12= render "crops/index_card", crop: @planting.crop
        .col-xs-4.col-sm-12= render 'plantings/owner', planting: @planting
      .row
        .col-md-6.col-xs-6= render 'plantings/harvests', planting: @planting
        .col-md-6.col-xs-6= render 'plantings/descendants', planting: @planting
