= content_for :title, "#{@planting.crop} in #{@planting.location}"
- content_for :opengraph do
  - @planting.crop.photos.each do |photo|
    = tag("meta", property: "og:image", content: photo.fullsize_url)
  = tag("meta", property: "og:title", content: "#{@planting.crop} in #{@planting.location}")
  - if @planting.description
    = tag("meta", property: "og:description", content: og_description(@planting.description))
  = tag("meta", property: "og:type", content: "website")
  = tag("meta", property: "og:url", content: request.original_url)
  = tag("meta", property: "og:site_name", content: ENV['GROWSTUFF_SITE_NAME'])

- content_for :buttonbar do
  = render 'plantings/actions', planting: @planting

.planting
  .row
    .col-xs-12.col-sm-8
      .row
        = render 'facts', planting: @planting
      %hr/
      - if @planting.photos.size.positive?
        .row
          .col-sm-8
            = render 'plantings/badges', planting: @planting
            = render @planting.default_photo
          .col-sm-4
            = link_to 'View all photos >>', planting_photos_path(@planting), class: 'pull-right'
            - @photos.each do |photo|
              = render('photos/thumbnail', photo: photo)

    .col-xs-12.col-sm-4.pull-right
      = render "crops/index_card", crop: @planting.crop
      = render 'plantings/owner', planting: @planting
      .row
        .col-md-6.col-sm-12
          = render 'plantings/harvests', planting: @planting
        .col-md-6.col-sm-12
          = render 'plantings/descendants', planting: @planting

  .row
    .col-md-12
      - if @planting.description
        %h2 Notes
        :growstuff_markdown
          #{ @planting.description != "" ? strip_tags(@planting.description) : "No description given." }
