= content_for :title, "#{@planting.crop} in #{@planting.location}"
- content_for :opengraph do
  - @planting.crop.photos.limit(3).each do |photo|
    = tag("meta", property: "og:image", content: photo.fullsize_url)
  = tag("meta", property: "og:title", content: "#{@planting.crop} in #{@planting.location}")
  - if @planting.description
    = tag("meta", property: "og:description", content: og_description(@planting.description))
  = tag("meta", property: "og:type", content: "website")
  = tag("meta", property: "og:url", content: request.original_url)
  = tag("meta", property: "og:site_name", content: ENV['GROWSTUFF_SITE_NAME'])

- content_for :buttonbar do
  = render 'plantings/actions', planting: @planting

.planting
  .row
    .col-md-8
      .row
        = render 'facts', planting: @planting
        - if @planting.description.present?
          %h2 Notes
          :growstuff_markdown
            #{strip_tags(@planting.description)}
        = content_tag :div, class: "planting-data", data: {events: planting_events(@planting)} do
          #planting-timeline
    .col-md-4.col-xs-12.pull-right
      = render "crops/index_card", crop: @planting.crop
      = render 'plantings/owner', planting: @planting
  .row
    = render 'plantings/photos', photos: @photos, planting: @planting
    %p.text-right= link_to 'more photos', planting_photos_path(@planting)
  .row
    .col-md-6= render 'plantings/harvests', planting: @planting
    .col-md-6= render 'plantings/descendants', planting: @planting
