=content_for :title, "#{@planting.crop} in #{@planting.location}"

%p#notice= notice

%p
  %b Planted at:
  = @planting.planted_at ? @planting.planted_at : "not specified"
%p
  %b Quantity:
  = @planting.quantity != 0 ? @planting.quantity : "not specified"
%p
  %b Description:
  :markdown
    #{ @planting.description != "" ? @planting.description : "No description." }

- if can? :edit, @planting
  = link_to 'Edit', edit_planting_path(@planting), :class => 'btn'
