= content_for :title, "#{@planting.crop} in #{@planting.location}"
- content_for :opengraph do
  - @planting.crop.photos.limit(3).each do |photo|
    = tag("meta", property: "og:image", content: photo.fullsize_url)
  = tag("meta", property: "og:title", content: "#{@planting.crop} in #{@planting.location}")
  - if @planting.description
    = tag("meta", property: "og:description", content: og_description(@planting.description))
  = tag("meta", property: "og:type", content: "website")
  = tag("meta", property: "og:url", content: request.original_url)
  = tag("meta", property: "og:site_name", content: ENV['GROWSTUFF_SITE_NAME'])

- content_for :buttonbar do
  = render 'plantings/actions', planting: @planting

.planting
  .row
    .col-md-8.col-xs-12
      = render 'facts', planting: @planting
    .col-md-4.col-xs-12.pull-right
      = render 'plantings/owner', planting: @planting
  .row
    .col-md-8.col-xs-12
      - if @planting.description.present?
        %h2 Notes
        :growstuff_markdown
          #{strip_tags(@planting.description)}
      = render 'plantings/photos', photos: @photos, planting: @planting
      %p.text-right= link_to 'more photos', planting_photos_path(@planting)
    .col-md-4.col-xs-12.pull-right
      = render "crops/index_card", crop: @planting.crop
  .row
    .col-md-12
      = render 'plantings/harvests', planting: @planting
    .col-md-12
      = render 'plantings/descendants', planting: @planting
