=content_for :title, "#{@planting.crop} in #{@planting.location}"

.row
  .col-md-6
    %p
      %b Owner:
      = link_to @planting.owner, @planting.owner
      &mdash;
      = link_to "view all #{@planting.owner}'s plantings", plantings_by_owner_path(:owner => @planting.owner.slug)
    %p
      %b Planted on:
      = @planting.planted_at ? @planting.planted_at : "not specified"

    %p
      %b Where:
      =link_to "#{@planting.owner}'s", @planting.owner
      =link_to @planting.garden, @planting.garden
      - if ! @planting.owner.location.blank?
        = "(#{@planting.owner.location})"
    %p
      %b 
        = "Quantity: "
      = "#{display_planting_quantity(@planting)}"
    
    - if !@planting.planted_from.blank?
      %p
        %b 
          = "Planted from: "
        = "#{display_planted_from(@planting)}"
    
    %p
      %b 
        = "Sun or shade?: "
      - sunniness = @planting.sunniness.blank? ? "not specified" : @planting.sunniness
      = image_tag("sunniness_#{sunniness}.png", :size => "25x25", :alt => "#{sunniness}", :title => "#{sunniness}")
      = " (#{sunniness})"

    %p
      %b 
        = "Days until maturity: "
      = "#{display_days_before_maturity(@planting)}"
    %p
      %b 
        = "Finished: "
      = "#{display_finished(@planting)}"

    %p
      %b= render 'planting_progress', planting: @planting

    - if can? :edit, @planting or can? :destroy, @planting
      %p
        - if can? :edit, @planting
          =link_to 'Edit', edit_planting_path(@planting), :class => 'btn btn-default btn-xs'
          - if ! @planting.finished
            = link_to "Mark as finished", planting_path(@planting, :planting => {:finished => 1}),  :method => :put, :class => 'btn btn-default btn-xs append-date'
        - if can? :destroy, @planting
          =link_to 'Delete', @planting, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default btn-xs'

  .col-md-6
    = render :partial => "crops/index_card", :locals => { :crop => @planting.crop}

%h2 Notes

:growstuff_markdown
  #{ @planting.description != "" ? @planting.description : "No description given." }

- if @planting.photos.size > 0 or (can? :edit, @planting and can? :create, Photo)
  %h2 Pictures

  .row
    - @planting.photos.each do |p|
      .col-md-2.six-across
        = render :partial => 'photos/thumbnail', :locals => { :photo => p }
    - if can? :create, Photo and can? :edit, @planting
      .col-md-2
        .thumbnail(style='height: 220px')
          %p{:style => 'text-align: center; padding-top: 50px'}
            = link_to "Add photo", new_photo_path(:type => "planting", :id => @planting.id), :class => 'btn btn-primary'
