%p Hello #{@member.login_name},

%p
  Your request for the new crop: #{link_to @crop.name, crop_url(@crop)} has
  been approved! Thank you for helping us make our listing ever more complete!

%ul
  %li
    = link_to "Plant #{@crop.name}", new_planting_url(crop_id: @crop.id)
  %li
    = link_to "Harvest #{@crop.name}", new_harvest_url(crop_id: @crop.id)
  %li
    = link_to "Stash seeds for #{@crop.name}", new_seed_url(crop_id: @crop.id)

= render partial: 'signature'

