%p
  Hello #{@notification.recipient.login_name},

%p
  You have received a message from
  = link_to @notification.sender.login_name, member_url(@notification.sender)
  on #{ENV['GROWSTUFF_SITE_NAME']} at #{@notification.created_at}

  - if @notification.post
    in response to
    = link_to @notification.post.subject, post_url(@notification.post)
  \.

%blockquote
  :growstuff_markdown
    #{strip_tags @notification.body}

%p
  = link_to "Reply to this message", @reply_link
  %br/
  = link_to "View this message in your inbox", notification_url(@notification)
  %br/
  = link_to "Unsubscribe from direct message notifications", unsubscribe_member_url(@signed_message)
  from these notifications

= render partial: 'signature'
