-content_for :title, t('.title')

%dl
  %dt= t('.general_email')
  %dd= link_to 'info@growstuff.org', 'mailto:info@growstuff.org'
%dl
  %dt= t('.support_accounts_enquiries_html', FAQ_link: (link_to t('.faq'), url_for(:controller => '/support')))
  %dd= link_to 'support@growstuff.org', 'mailto:support@growstuff.org'
%dl
  %dt= t('.media_press_enquiries')
  %dd= link_to 'media@growstuff.org', 'mailto:media@growstuff.org'
%dl
  %dt Twitter
  %dd= link_to '@growstufforg', 'http://twitter.com/growstufforg'
