- site_name = ENV['GROWSTUFF_SITE_NAME']
%p Hello #{@resource.login_name},

%p
  Someone has requested a link to reset your password on #{site_name}.
  We presume this was you, in which case you can do so through this link:

%p= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token)

%p
  If it wasn't you, then someone's made a typo or has been messing
  around.  In this case, you can safely ignore this email, and your
  password will not be changed.

%p See you soon,

%p
  The #{site_name} team.
  %br/
  = link_to root_url, root_url

