- site_name = ENV['GROWSTUFF_SITE_NAME']
%p Hello #{@resource.login_name},

%p
  Your #{site_name} account has been locked due to an excessive number
  of unsuccessful sign in attempts.  We do this in case someone's trying
  to break into your account, but it might also mean you've just
  forgotten your password.  In either case, use the link below to unlock
  your account:

%p= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token)

%p
  If you have actually forgotten your password, you can
  = link_to 'reset your password', new_password_url(@resource)
  after you've unlocked your account.

%p See you soon,

%p
  The #{site_name} team.
  %br/
  = link_to root_url, root_url
