%h1 Listing account_details

%table
  %tr
    %th Member
    %th Account type
    %th Paid until
    %th
    %th
    %th

  - @account_details.each do |account_detail|
    %tr
      %td= account_detail.member_id
      %td= account_detail.account_type
      %td= account_detail.paid_until
      %td= link_to 'Show', account_detail
      %td= link_to 'Edit', edit_account_detail_path(account_detail)
      %td= link_to 'Destroy', account_detail, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Account detail', new_account_detail_path
