= form_for @product do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.size, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name, :class => 'form-control'
  .field
    = f.label :description
    = f.text_area :description, :class => 'form-control'
  .field
    = f.label :min_price, "Minimum price (in cents)"
    = f.text_field :min_price
  .field
    = f.label :recommended_price, "Recommended price (in cents)"
    = f.text_field :recommended_price
  .field
    = f.label :account_type
    = collection_select(:product, :account_type_id, AccountType.all, :id,
        :name, :selected => @product.account_type_id )
  .field
    = f.label :paid_months
    = f.text_field :paid_months
  .form-group
  .actions
    = f.submit 'Save'
