%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Description:
  = @product.description
%p
  %b Min price:
  = @product.min_price
%p
  %b Account type:
  = @product.account_type.name
%p
  %b Paid months:
  = @product.paid_months

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
