-content_for :title, 'Support - Frequently Asked Questions'

:markdown
  ## About Growstuff

  ### Who runs Growstuff?

  Growstuff is run by Alex Bayley ([Skud](/members/skud)) an open source
  software developer and keen veggie gardener from Melbourne, Australia.

  ### How did Growstuff get started?

  The idea of Growstuff came out of a discussion at an open source conference in Spain in 2012. We wanted a free, open source of information about planting and growing crops, and realised the best way to do this would be to crowdsource it from gardeners around the world.

  We first set up Growstuff as an open source project in August 2012, and quietly launched it in March 2013.  We are planning to have a full public launch in May 2013.

  ### Is Growstuff a non-profit?

  No, Growstuff is a for-profit business (Growstuff Pty Ltd), incorporated in Australia.  The business helps provide hosting and support for the Growstuff website.  However, we make our best efforts to operate as an ethical, transparent, and community-minded company.  You should also know that software and aggregated data about crops and who's growing them are freely available under open licenses. You might like to read [Why Growstuff is Open Source](http://blog.growstuff.org/2013/02/20/why-growstuff-is-open-source/) to understand some of the reasoning behind that.

  ### How does Growstuff make money?

  We will offer paid subscriptions/memberships, which give you access to special features and a warm glow of knowing you're supporting a sustainable, community-focused project.

  ### Can I advertise on Growstuff?

  Sorry, we're 100% ad-free!

  If you're a member, you can post things to trade or sell in our trading post area, but we don't have and will never have banner ads or the like.  We believe that supporting a website through outside advertising makes for a less pleasant experience for our members and visitors, and is not a sustainable business model.

  ### What's the status of Growstuff? Is it in beta?

  As of March 2013, we are using the term "soft launch" for Growstuff's status.  What we mean by this is that although we're open for signups, we're still busily working on features and getting everything ready for our larger, more public launch, which will happen in a couple of months' time. You can read more about this in our [blog post about the soft launch](http://blog.growstuff.org/2013/03/21/a-soft-launch/).

  Beyond that, Growstuff will always be in development, and we hope to keep releasing features regularly. You should expect Growstuff to change and grow all the time, just like your garden.  If a feature you want isn't available yet, check back soon!

  ## Membership and payments

  ### Can I use Growstuff for free?

  Absolutely!  You can sign up right now for a no-cost membership and use it for as long as you want, perhaps forever.

  ### Can I get a membership for my family, school, or community group?

  Yup! Feel free to sign up as "JonesFamily" or "SmithfieldCommunity" or whatever floats your boat.

  Just keep in mind that you are responsible for anything that happens under that account, so be careful who you allow to use it.  In due course, we are hoping to develop features to help community gardens share with their members/gardeners, so that they can track what's planted in the community garden without having to login as the community garden account.  We'll publicise this widely when it's ready, so keep an ear to the ground.

  ### What other types of accounts are there?

  We will be releasing paid accounts soon, which will give you access to special or "premium" features in thanks for supporting the site's operations with your cash.

  ## Profile, settings, and privacy

  ### How do I add a picture to my profile?

  Profile pictures are provided [Gravatar](http://gravatar.com Gravatar), a service that provides "Globally Recognised Avatars", run by the people who operate the Wordpress blogging platform.

  If you have ever signed up for Gravatar in the past, using the same address as you signed up for Growstuff, you will already have a picture for your profile.

  If you have signed up for Growstuff with a different email address than your Gravatar address, you will need to add it on Gravatar.

  If you have never signed up for Gravatar before, you can create an account and upload a picture, which will appear not only on Growstuff, but on any other site which supports Gravatars and where you use the same email address.

  ### Do I have to fill in all this personal stuff?

  Your profile asks several questions about you, which you can choose to answer (or not) as you see fit. We don't require personal information like your legal name, gender, or age for tracking or demographic purposes -- one of the benefits of not having ads on our site!

  When it comes to location, it really helps if you can provide that to Growstuff because we use it to suggest things to grow.  However, you can do it at whatever level of detail you're comfortable with: perhaps the name of your town, or your state or province, or even your country if the country is small enough and has a fairly consistent climate.  Just choose something that is close enough to give you accurate growing advice, and vague enough to feel safe.

  You can read more about the privacy of your information in our [Privacy Policy](http://growstuff.org/policy/privacy).


  ## Crops, gardens, and planting

  ### How can I add a new crop?

  For now, please drop a note in [Requests for new crops](http://www.growstuff.org/posts/skud-20130319-requests-for-new-crops) on our [Feedback & Support forum](http://www.growstuff.org/forums/growstuff-feedback-support).

  ### Will you add non-edible plants?

  We do not currently have plans to add plants which are not edible or which are not "useful" in a food-growing or sustainability context -- these might include companions plants, green manure crops, plants used to manage pests or diseases, and the like.  If you're thinking of purely ornamental plants, we probably won't be adding them anytime soon.

  However, we are hoping, in future, to support the ability for any member to plant "unofficial" plants that aren't in our crop database.

  ## Posting, commenting, and forums

  ### What formatting can I use in posts and comments?

  We use [Markdown](http://daringfireball.net/projects/markdown/syntax/) syntax, which offers a pretty wide range of options from simple emphasis (bold and italics) to links, pictures, and more.  We're hoping to install a toolbar to help you generate the right syntax, but in the meantime I'm afraid all we can offer is the rather technical documentation linked above.

  ## Forthcoming features

  ### Where can I see what features are planned?

  Our software developers use a tracking tool called Pivotal Tracker, and you can see ours at [http://tracker.growstuff.org/](http://tracker.growstuff.org).  This tells you what features we are currently working on and plan to work on soon.

  Pivotal Tracker's interface shows three columns of information:

  * the "Current" section shows the features (called "stories") that we're working on at the moment
  * "Backlog" shows you stories that we're planning to work on in the nearish future
  * "Icebox" contains stories that we've identified as things we'd like to do, but which don't have a timeframe set yet.

  ### Where can I suggest a feature I'd like to see?

  We suggest checking the [tracker](http://tracker.growstuff.org/) first (see above) to see if it's something we're already planning or talking about.  Once you've done that, if it's not already planned or you have some other comments to make, you can post your suggestion in the [Feedback & Support forum](http://www.growstuff.org/forums/growstuff-feedback-support].

  ## Developers and API

  ### Is there a Growstuff API?

  At present there is no official API, as our site is still changing so rapidly.  However, we do expose some of our data via JSON and/or RSS feeds, and you're welcome to play with it, on the understanding that it may change under you.  You can find API docs on our wiki, at http://wiki.growstuff.org/index.php/API

  Use of our API and data is subject to the [API and Data Use Policy](http://www.growstuff.org/policy/api).

  ### What license is your data under?

  Growstuff's data is licensed under the [Creative Commons Attribution Share-Alike license (CC-BY-SA) 3.0 Unported license](http://creativecommons.org/licenses/by-sa/3.0/).  This means you can re-use it as long as you attribute it to Growstuff (by linking back to our site), and as long as your own app/site/project shares its own content or data under CC-BY-SA.

  See our [API and Data Use Policy](http://growstuff.org/policy/api) for more information.

  ## Volunteering and jobs

  ### Are you hiring?

  Sadly, no.  We're a self-funded/bootstrapped company, and at present we're not even paying ourselves.

  When we are ready to hire, we will most likely look first to people we know from our community.  If you want to get involved, see below.

  ### How can I volunteer to help Growstuff?

  First and foremost, by being an active member of the site -- growing crops, tracking your harvests, posting in our forums, getting to know other members -- you help build our database and our community, without which Growstuff would be completely pointless.  So, thanks for that!

  Secondly, we'd love it if you could spread the word about Growstuff to your friends who grow their own food or who might like to try.  You can see some tips on how to do that below.

  Growstuff's software is built with the help of volunteer developers, too.  If you're a coder or would like to learn how to code, you can join us in that.  All are welcome, regardless of experience.

  We also have volunteer crop wranglers, who manage our crops database, and moderators, who help keep the forums running smoothly.  These are usually chosen from among our most active and helpful members.

  ### How can I get involved as a coder?

  Start by checking out our [wiki](http://wiki.growstuff.org/), code on [Github](http://github.com/Growstuff/growstuff), and [tracker](http://tracker.growstuff.org) to get an idea of how we work.

  If you want to get involved, you should join our [discussion mailing list](http://lists.growstuff.org/mailman/listinfo/discuss) and/or come hang out on our [IRC channel](http://wiki.growstuff.org/index.php/IRC), #growstuff on irc.freenode.net.

  ### My coding skills are rusty or non-existent. Can I still get involved?

  Sure!  We love to mentor new coders, people who haven't coded in a while, or people who are just learning our platform (Ruby on Rails) for the first time.  We work by pair programming, and can get you started on easy stories, starting with something as simple as fixing a typo or HTML tag (check the "easy" tag in our [tracker](http://tracker.growstuff.org) for some examples).

  ### How can I help spread the word about Growstuff?

  First and foremost, by telling your friends and inviting them to join and be part of it.  We don't want to be spammy about it, so we'll never ask to scrape your address book or automatically post Facebook updates or tweet on your behalf.  But we would really love it if you'd tell people in your own words.

  Places to spread the word online: Facebook, Twitter, and other social media; your own blog or website; gardening or sustainability forums you participate in.

  Or offline: tell friends, family and neighbours; spread the word through your local community gardens, farmers markets, or produce swaps; contact your local sustainability or Transition group; or any other place where you think food-growers might be.

  ## Terms of service, copyright, and other abuse

  ### Where can I report a violation of the Terms of Service or Community Guidelines?

  You can post in our [Feedback & Support forum](http://www.growstuff.org/forums/growstuff-feedback-support) or send email to [#{support_address}](mailto:#{support_address}).

  ### What do you consider spam, and how can I report it?

  There are many kinds of spam.  The most obvious is repeated, unwanted commercial advertising.  Many spammers also post irrelevant, nonsensical, or low-value content to forums to try and get you to click on a link, or just to see what they can get away with.

  Please report all these kinds of spam!

  For now, because we're so new, we don't have a good spam reporting mechanism set up.  However, you can drop a link in our [Feedback & Support forum](http://www.growstuff.org/forums/growstuff-feedback-support) and we'll do what we can.

  ### Someone posted something I believe is copyright. Where can I report it?

  If you are the copyright owner, you can submit a complaint by following the procedure outlined in our [Copyright Infringement Policy](http://growstuff.org/policy/copyright).

  ### Is Growstuff safe for kids to use?

  As a website that's focused on growing food, we expect Growstuff to be a pretty safe and friendly environment.  However, some parts of the site (such as posts made by members) may contain mature concepts, coarse language, and the like. If you don't want your kids exposed to these, we strongly suggest you supervise their use of Growstuff.  We also suggest you be careful about what personal information your kids share on Growstuff.

  ## Further support

  ### Where can I find a list of known issues with the site?

  In the [Known Issues](http://www.growstuff.org/posts/skud-20130319-known-issues) post on our [Feedback & Support forum](http://www.growstuff.org/forums/growstuff-feedback-support).

  ### My question's not answered here. Where can I ask for further support?

  On our [Feedback & Support forum](http://www.growstuff.org/forums/growstuff-feedback-support).  Please check the list of known issues before posting.

  ### Where can I post feedback/kudos?

  We love feedback! Drop us a note in our [Feedback & Support forum](http://www.growstuff.org/forums/growstuff-feedback-support).  (Is there an echo in here?)

  ### How else can I contact you?

  If you need help with something that hasn't been covered here, then you can send an email to [#{support_address}](mailto:#{support_address}).

  Media/press enquiries can go to [#{media_address}](mailto:#{media_address}).

  If you have an enquiry about the site in general (eg. businessy stuff, or just want to get in touch with someone official in a non-support-like way), you can send an email to [#{info_address}](mailto:#{info_address}).

