.card.booking-card
  .card-body
    %h3 Requesting seeds

    %p.mb-2
      = render 'members/tiny', member: @trade.seed.owner
      = @trade.owner
    %h4.card-title.font-weight-bold
      = link_to @trade.seed do
        #{@trade.seed.crop.name} seeds
    / Text
    %p.card-text= @trade.seed.description
    %hr.my-4/
    %p Will trade #{@trade.seed.tradable_to}
  = image_tag seed_image_path(@trade.seed, full_size: true), alt: 'seeds', class: 'img-card'
  .card-footer
    %p.lead
      %strong= @trade.owner.location
      = icon 'fas', 'arrow-right'

.card
  .card-body
    %h3 In return for
    = render 'members/tiny', member: @trade.requested_by
    = @trade.requested_by
  .list-group.list-group-flush
    - @trade.requested_by.seeds.where.not(tradable_to: nil).each do |seed|
      = link_to seed do
        %li.list-group-item.d-flex.justify-content-between
          = seed.crop
          = image_tag seed_image_path(seed), width: 50, height: 50
  .card-footer
    %p.lead
      %strong
        = icon 'fas', 'arrow-left'
        = @trade.requested_by.location