%h2 Trade #{@seed.crop.name} seeds with #{@seed.owner}

.index-cards
  = render @trade


  = bootstrap_form_for(@trade) do |f|
    = f.hidden_field :seed_id
    = f.text_area :message
    = f.submit :confirm