%h1
  = trade_icon
  Requested trade

.index-cards
  = render @trade

  - if @trade.owner == current_member
    .trade-form
      %h4 pick your seeds to swap

      - if @trade.accepted.nil?
        = bootstrap_form_for(@trade) do |f|

          = f.collection_radio_buttons :responded_seed_id, @trade.requested_by.seeds.where.not(tradable_to: nil), :id, :name, label: 'Seed for trade'

          %p
            = f.submit :decline, class: 'btn btn-warning'
            = f.submit :accept, class: 'btn btn-success'
      - elsif @trade.accepted
        %h1 Trade accepted
        %p
          Traded for #{@trade.responded_seed}
      - else
        %h1 Trade declined

  .map