-content_for :title, "Places"

%div#map

<script src="/assets/leaflet.js?body=1" type="text/javascript"></script>
<script src="/assets/leaflet.markercluster.js?body=1" type="text/javascript"></script>

- attribution = render(:partial => 'map_attribution').gsub(/\n/, " ")
:javascript
  map = L.map('map').setView([0.0, -0.0], 2);
  L.tileLayer("http://{s}.tile.cloudmade.com/#{ ENV['CLOUDMADE_KEY'] }/997/256/{z}/{x}/{y}.png", {
    attribution: '#{ attribution }',
    maxZoom: 18
  }).addTo(map);
  var markers = new L.MarkerClusterGroup({spiderfyOnMaxZoom: true, showCoverageOnHover: true, zoomToBoundsOnClick: true});

- Member.located.each do |m|
  :javascript
    marker = new L.Marker(new L.LatLng(#{m.latitude}, #{m.longitude}));
    marker.bindPopup('#{ link_to m, m } #{ escape_javascript( render :partial => 'members/popover', :locals => { :member => m }) }').openPopup();
    markers.addLayer(marker)

:javascript
  map.addLayer(markers);
