-content_for :title, "#{ENV['GROWSTUFF_SITE_NAME']} members near #{@place}"

= form_tag(search_places_path, :method => :get, :class => 'form-inline') do
  = label_tag :place, "Change location:", :class => 'control-label'
  = text_field_tag :new_place
  = submit_tag "Search", :class => 'btn btn-primary'

%div#placesmap{ :style => "height:300px"}

%h3 Nearby members

- if !@nearby_members.empty?
  .row
    - @nearby_members.first(30).each do |member|
      .col-md-4.three-across
        = render :partial => "members/thumbnail", :locals => { :member => member }
- elsif @place
  %p No results found
