- content_for :title, "#{ENV['GROWSTUFF_SITE_NAME']} community near #{@place}"
- content_for :opengraph do
  = tag("meta", property: "og:title", content: "#{ENV['GROWSTUFF_SITE_NAME']} community near #{@place}")
  = tag("meta", property: "og:type", content: "website")
  = tag("meta", property: "og:url", content: request.original_url)
  = tag("meta", property: "og:site_name", content: ENV['GROWSTUFF_SITE_NAME'])

= render partial: 'search_form'

#placesmap{ style: "height:300px" }

%h3#members= "Nearby members"

- if !@nearby_members.empty?
  .row
    - @nearby_members.first(30).each do |member|
      .col-md-4.three-across
        = render partial: "members/thumbnail", locals: { member: member }
  = link_to "View all members >>", members_path

  %h3#seeds Seeds available for trade near #{@place}
  - crop_id = []
  - @nearby_members.first(10).each do |member|
    - member.seeds.first(5).each do |seed|
      - crop_id.push seed.crop.id
  - if !crop_id.blank?
    .row
      - crop_id.uniq.first(20).each do |crop|
        .col-md-2.six-across
          = render partial: "crops/thumbnail", locals: { crop: Crop.find(crop) }
    = link_to "View all seeds >>", seeds_path
  - else
    %p No nearby seeds found

  #plantings
  %h3 Recent plantings near #{@place}


  - plantings = []
  - @nearby_members.first(10).each do |member|
    - member.plantings.first(5).each do |planting|
      - plantings << planting
  - if !plantings.blank?
    .row
      - plantings.first(10).each.with_index do |planting, index|
        .col-xs-12.col-lg-6
          = render partial: "plantings/card", locals: { planting: planting, index: index }
    = link_to "View all plantings >>", plantings_path
  - else
    %p No nearby plantings found
- else
  %p No results found
