<ul>
        <li><%= link_to "About", "https://github.com/Growstuff/project/wiki/About%20Growstuff" %></li>
        <li><%= link_to "License", "https://github.com/Growstuff/growstuff/blob/dev/LICENSE.txt" %></li>
        <li><%= link_to "Github", "https://github.com/Growstuff/" %></li>
        <li><%= link_to "Mailing list", "http://lists.growstuff.org/mailman/listinfo/discuss" %></li>
        <li><%= link_to "Community Guidelines", "https://github.com/Growstuff/policy/blob/master/community-guidelines.md" %></li>
</ul>
