</div></div>
- # There are some tags here, such as these close div tags and the close body and html tags below, which were opened in the header fragment. HAML can't handle this, so they're done in HTML instead.

.row
  .ten.columns
    %ul.link-list
      %li
        = link_to "About", "https://github.com/Growstuff/project/wiki/About%20Growstuff"
      %li
        = link_to "License", "https://github.com/Growstuff/growstuff/blob/dev/LICENSE.txt"
      %li
        = link_to "Github", "https://github.com/Growstuff/"
      %li
        = link_to "Mailing list", "http://lists.growstuff.org/mailman/listinfo/discuss"
      %li
        = link_to "Community Guidelines", "https://github.com/Growstuff/policy/blob/master/community-guidelines.md"

</body>
</html>
