.container
  .navbar.navbar-fixed-bottom
    .navbar-inner
      .container
        %ul.nav
          %li= link_to "About", "http://wiki.growstuff.org"
          %li= link_to "Terms of Service", url_for(:controller => '/policy', :action => 'tos')
          %li= link_to "Community Guidelines", url_for(:controller => '/policy', :action => 'community')
          %li= link_to "License", "https://github.com/Growstuff/growstuff/blob/dev/LICENSE.txt"
          %li= link_to "Github", "https://github.com/Growstuff/"
          %li= link_to "Mailing list", "http://lists.growstuff.org/mailman/listinfo/discuss"
