-# .navbar.navbar-default.navbar-fixed-top{ role: "navigation" }
%nav.navbar.navbar-dark.default-color.bg-dark
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", type: "button"}
        %span.glyphicon.glyphicon-menu-hamburger.text-white
      %a.navbar-brand.hidden-xs{ href: root_path }
        = image_tag("growstuff-brand.png", size: "200x50", alt: ENV['GROWSTUFF_SITE_NAME'])
      %a.navbar-brand.visible-xs{ href: root_path }
        = image_tag("growstuff-apple-touch-icon-precomposed.png",
                    size: "40x40",
                    alt: ENV['GROWSTUFF_SITE_NAME'])
      = render 'crops/search_bar'

    .navbar-collapse.collapse.navbar-responsive-collapse

      %ul.nav.navbar-nav.navbar-right
        %li.dropdown<
          %a.dropdown-toggle{ 'data-toggle': 'dropdown', href: crops_path }= t('.crops')
          %ul.dropdown-menu
            %li= link_to t('.browse_crops'), crops_path
            %li= link_to t('.seeds'), seeds_path
            %li= link_to t('.plantings'), plantings_path
            %li= link_to t('.harvests'), harvests_path
        %li.dropdown<
          %a.dropdown-toggle{ 'data-toggle': 'dropdown', href: members_path }
            = t('.community')
          %ul.dropdown-menu
            %li= link_to t('.community_map'), places_path
            %li= link_to t('.browse_members'), members_path
            %li= link_to t('.posts'), posts_path
            %li= link_to t('.forums'), forums_path
        - if member_signed_in?
          %li.dropdown<
            %a.dropdown-toggle{ 'data-toggle': 'dropdown', href: root_path }
              - if current_member.notifications.unread_count.positive?
                = t('.your_stuff', unread_count: current_member.notifications.unread_count)
              - else
                = t('.current_memberlogin_name', current_memberlogin_name: current_member.login_name)
            %ul.dropdown-menu
              %li
                = link_to member_path(current_member) do
                  = member_icon
                  = t('.profile')
              %li
                = link_to member_gardens_path(current_member) do
                  = garden_icon
                  = t('.gardens')
              %li
                = link_to member_plantings_path(current_member) do
                  = planting_icon
                  = t('.plantings')
              %li
                = link_to member_harvests_path(current_member) do
                  = harvest_icon
                  = t('.harvest')
              %li
                = link_to member_seeds_path(current_member) do
                  = seed_icon
                  = t('.seeds')
              %li= link_to t('.posts'), member_posts_path(current_member)
              %li
                - if current_member.notifications.unread_count.positive?
                  = link_to(t('.inbox_unread', unread_count: current_member.notifications.unread_count),
                            notifications_path)
                - else
                  = link_to(t('.inbox'), notifications_path)
              - if current_member.role?(:crop_wrangler) || current_member.role?(:admin)
                %li.divider{ role: 'presentation' }
                - if current_member.role?(:crop_wrangler)
                  %li= link_to t('.crop_wrangling'), wrangle_crops_path
                - if current_member.role?(:admin)
                  %li= link_to t('.admin'), admin_path

          %li= link_to t('.sign_out'), destroy_member_session_path, method: :delete

        - else
          %li= link_to t('.sign_in'), new_member_session_path, id: 'navbar-signin'
          %li= link_to t('.sign_up'), new_member_registration_path, id: 'navbar-signup'

