<html>

%head
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='http://fonts.googleapis.com/css?family=Sevillana' rel='stylesheet' type='text/css'>
  %title
    = content_for?(:title) ? yield(:title) : "Growstuff"
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

<body>

.row
  .ten.columns
    - if user_signed_in?
      %ul.link-list
        %li
          You are signed in as
          = current_user.email + "."
        %li
          = link_to("Log out", destroy_user_session_path)
    - else
      %ul.link-list
        %li
          = link_to('Sign up', new_user_registration_path)
        %li
          = link_to('Log in', new_user_session_path)

.row
  .ten.columns
    %h1
      = link_to('Growstuff', root_path)

<div class="row"><div class="ten columns">
