- if current_member.present?
  .card.button-bar
    .card-header
      %h2.card-title #{model} links
    = link_to url_for([current_member, model]), class: 'btn' do
      My #{model.model_name.human.pluralize}
    = link_to model, class: 'btn' do
      Everyone's #{model.model_name.human.pluralize}
    - if can?(:create, model)
      = link_to url_for([model, action: :new]), class: 'btn' do
        Add a #{model.model_name.human}

- else
  = render 'shared/signin_signup', to: "record your #{model.to_s.pluralize.downcase}"
