- if current_member.present?
  %ul.nav
    %li.list-group-item
      = link_to url_for([current_member, model]) do
        My #{model.model_name.human.pluralize}

    %li.list-group-item
      = link_to model do
        Everyone's #{model.model_name.human.pluralize}

    - if can?(:create, model)
      %li.list-group-item
        = link_to url_for([model, action: :new]) do
          Add a #{model.model_name.human}

- else
  = render 'shared/signin_signup', to: "record your #{model.to_s.pluralize.downcase}"
