!!! 5
%html{ lang: "en", prefix: "og: https://ogp.me/ns#" }
  = yield :scripts
  = render "layouts/head"
  %body
    = query_diet_widget if Rails.env.development?
    .sr-only= link_to t(".skip"), "#skipnav"
    = render "layouts/header"
    -# anchor tag for accessibility link to skip the navigation menu
    %a{ name: 'skipnav' }

    .container
      #maincontainer
        - if content_for?(:breadcrumbs)
          %ol.breadcrumb{ "aria-label" => "breadcrumb" }
            %li.breadcrumb-item= link_to 'Home', root_path
            = yield(:breadcrumbs)
        - if content_for?(:buttonbar)
          = yield(:buttonbar)

        - if content_for?(:subtitle)
          %small= yield(:subtitle)

        = render "shared/flash_messages", flash: flash
        = yield

    %footer.page-footer.font-small.bg-dark.pt-4= render "layouts/footer"
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
    != Rails.application.config.analytics_code
