!!! 5
%html{ lang: "en", prefix: "og: http://ogp.me/ns#" }
  = yield :scripts
  = render partial: "layouts/meta"
  %body
    .sr-only= link_to t(".skip"), "#skipnav"
    = render partial: "layouts/header"
    -# anchor tag for accessibility link to skip the navigation menu
    %a{ name: 'skipnav' }
    #maincontainer.container
      .row
        .col-12
          .float-right= render 'shared/global_actions'
          - if content_for?(:breadcrumbs)
            .float-left= yield(:breadcrumbs)
          - if content_for?(:buttonbar)
            = yield(:buttonbar)

      - if content_for?(:subtitle)
        %small= yield(:subtitle)

      = render partial: "shared/flash_messages", flash: flash
      = yield

    %footer
      = render "layouts/footer"
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
    != Rails.application.config.analytics_code
