!!! 5
%html(lang="en")
  = render :partial => "layouts/meta"
  %body
    = render :partial => "layouts/header"

    .container
      .row
        .span12
          - if content_for?(:title)
            %h1= yield(:title)
          - if notice
            .alert.alert-success
              = notice
          - if alert
            .alert
              = alert
          = yield

    %footer
      = render :partial => "layouts/footer"
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"

    != Growstuff::Application.config.analytics_code
