!!! 5
%html{ lang: "en", prefix: "og: http://ogp.me/ns#" }
  = yield :scripts
  = render partial: "layouts/meta"
  %body
    = render partial: "layouts/header"

    #maincontainer
      = render partial: "shared/flash_messages", flash: flash
      .row
        .col-md-8
          - if content_for?(:title)
            %h1#title
              = yield(:title)
              - if content_for?(:subtitle)
                %small= yield(:subtitle)



        .col-md-4
          - if content_for?(:buttonbar)
            .btn-group.layout-actions= yield(:buttonbar)
          - else
            = render 'shared/global_actions'

      = yield

    %footer
      = render partial: "layouts/footer"
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
    != Rails.application.config.analytics_code
