!!! 5
%html{ lang: "en", prefix: "og: http://ogp.me/ns#" }
  = yield :scripts
  = render partial: "layouts/meta"
  %body
    = render partial: "layouts/header"

    .container#maincontainer
      .row
        .col-md-12
          - if content_for?(:title)
            %h1#title
              = yield(:title)
              - if content_for?(:subtitle)
                %small= yield(:subtitle)

          - if content_for?(:buttonbar)
            .btn-group.layout-actions= yield(:buttonbar)
          = render partial: "shared/flash_messages", flash: flash
          = yield

    %footer
      = render partial: "layouts/footer"
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
    != Growstuff::Application.config.analytics_code
