!!! 5
%html(lang="en")
  = render :partial => "layouts/meta"
  %body
    = render :partial => "layouts/header"
    = render :partial => "layouts/crowdfunding"

    #maincontainer.container
      .row
        .col-md-12
          - if content_for?(:title)
            %h1#title
              = yield(:title)
              - if content_for?(:subtitle)
                %small= yield(:subtitle)

          - if content_for?(:buttonbar)
            %p
              .btn-group
                = yield(:buttonbar)
          - if notice
            .alert.alert-success
              = notice
          - if alert
            .alert.alert-warning
              = alert
          = yield

    %footer
      = render :partial => "layouts/footer"
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"

    != Growstuff::Application.config.analytics_code
