%small
  %p
    - if member.location
      %i
        = member.location
  %p
    Joined
    = distance_of_time_in_words(member.created_at, Time.zone.now)
    ago.
  %p
    = pluralize(member.gardens.size, "garden")
    %br/
    = pluralize(member.plantings.size, "planting")
    %br/
    = pluralize(member.seeds.size, "seed")
