%p
  %strong Member since:
  = member.created_at.to_s(:date)
%p
  %strong Last Login:
  = member.last_sign_in_at

%h3 Activity

%ul.list-inline
  %li
    - if !member.plantings.empty?
      = link_to localize_plural(member.plantings, Planting), plantings_by_owner_path(owner: member)
    - else
      0 plantings
  %li
    - if !member.harvests.empty?
      = link_to localize_plural(member.harvests, Harvest), harvests_by_owner_path(owner: member)
    - else
      0 harvests
  %li
    - if !member.seeds.empty?
      = link_to localize_plural(member.seeds, Seed), seeds_by_owner_path(owner: member)
    - else
      0 seeds
  %li
    - if !member.posts.empty?
      = link_to localize_plural(member.posts, Post), posts_by_author_path(author: member)
    - else
      0 posts

  %li
    - if !member.followed.empty?
      = link_to localize_plural(member.followed, Follow), member_follows_path(member)
    - else
      0 following

  %li
    - if !member.followers.empty?
      = link_to pluralize(member.followers.size, "follower"), member_followers_path(member)
    - else
      0 followers
