%h3 Activity

%ul
  %li
    - if member.plantings.count > 0
      = link_to pluralize(member.plantings.count, "planting"), plantings_by_owner_path(:owner => member)
    - else
      0 plantings
  %li
    - if member.harvests.count > 0
      = link_to pluralize(member.harvests.count, "harvest"), harvests_by_owner_path(:owner => member)
    - else
      0 harvests
  %li
    - if member.seeds.count > 0
      = link_to pluralize(member.seeds.count, "seeds"), seeds_by_owner_path(:owner => member)
    - else
      0 seeds
  %li
    - if member.posts.count > 0
      = link_to pluralize(member.posts.count, "post"), posts_by_author_path(:author => member)
    - else
      0 posts

  %li
    - if member.followed.count > 0
      = link_to pluralize(member.followed.count, "follow"), member_follows_path(member)
    - else
      0 following

  %li
    - if member.followers.count > 0
      = link_to pluralize(member.followers.count, "follower"), member_followers_path(member)
    - else
      0 followers

