.card-body
  %h3 Activity
%ul.list-group.list-group-flush
  %li.list-group-item
    - if !member.gardens.empty?
      = link_to localize_plural(member.gardens, Garden), member_gardens_path(member)
    - else
      0 gardens
  %li.list-group-item
    - if !member.plantings.empty?
      = link_to localize_plural(member.plantings, Planting), member_plantings_path(member)
    - else
      0 plantings
  %li.list-group-item
    - if !member.harvests.empty?
      = link_to localize_plural(member.harvests, Harvest), member_harvests_path(member)
    - else
      0 harvests
  %li.list-group-item
    - if !member.seeds.empty?
      = link_to localize_plural(member.seeds, Seed), member_seeds_path(member)
    - else
      0 seeds
  %li.list-group-item
    - if !member.posts.empty?
      = link_to localize_plural(member.posts, Post), member_posts_path(member)
    - else
      0 posts

  %li.list-group-item
    - if !member.followed.empty?
      = link_to localize_plural(member.followed, Follow), member_follows_path(member)
    - else
      0 following

  %li.list-group-item
    - if !member.followers.empty?
      = link_to pluralize(member.followers.size, "follower"), member_followers_path(member)
    - else
      0 followers
