- cache "member_thumbnail_#{member.id}" do
  .row
    .member-thumbnail
      .col-md-3
        = render :partial => "members/image_with_popover", :locals => { :member => member }
      .col-md-9
        %p
          = link_to member.login_name, member
          - if ! member.location.blank?
            %small
              %br/
              %i= member.location
          - if ! member.plantings.empty?
            %small
              %br/
              Recently planted:
              != member.plantings.first(3).map{|p| link_to p.crop_name, p }.join(", ")
