- cache member do
  .member-thumbnail.panel
    %div
      = render partial: "members/avatar", locals: { member: member }
    %div
      %p.login-name
        = link_to member.login_name, member
        - unless member.location.blank?
          %small
            %br/
            %i= member.location
        - unless member.plantings.empty?
          %small
            %br/
            Recently planted:
            != member.plantings.order(created_at: :desc).first(3).map { |p| link_to p.crop_name, p }.join(", ")
      %p
        %small
          Joined
          = distance_of_time_in_words(member.created_at, Time.zone.now)
          ago.
      %p
        %small
          = [localize_plural(member.gardens, Garden),
          localize_plural(member.plantings, Planting),
          localize_plural(member.seeds, Seed)].join(", ")
