= content_for :title, "Growstuff members"

%p
  = "Displaying #{@members.length} members"
  
%ul.thumbnails
  - @members.each do |m|
    %li.span2
      .thumbnail(style="height: 190px")
        = image_tag(Gravatar.new(m.email).image_url(options = { :s => 150 }), :alt => '', :class => 'img-rounded')
        = link_to shorten(m.username, 30), member_path(m)
