= content_for :title, t(".title", site_name: ENV['GROWSTUFF_SITE_NAME'])

%h1
  = member_icon
  = t(".title", site_name: ENV['GROWSTUFF_SITE_NAME'])
= bootstrap_form_tag(url: members_path, method: :get, layout: :inline) do |f|
  = f.select "sort",
        options_for_select({ "alphabetically": 'alpha', "recently joined": "recently_joined" },
                                      @sort || 'alpha'),
        label: 'Sort by'
  = f.submit "Show"

.pagination
  = page_entries_info @members
  = will_paginate @members

.index-cards= render @members

.pagination
  = page_entries_info @members
  = will_paginate @members
