= content_for :title, "#{Growstuff::Application.config.site_name} members"

%p
  - if member_signed_in? && current_member.location
    = link_to "Find members near you", nearby_members_path

%div.pagination
  = page_entries_info @members, :model => "members"
  = will_paginate @members

%ul.thumbnails
  - @members.each do |m|
    %li.span2
      = render :partial => "members/thumbnail", :locals => { :member => m }

%div.pagination
  = page_entries_info @members, :model => "members"
  = will_paginate @members
