= content_for :title, "#{ENV['GROWSTUFF_SITE_NAME']} members"

%div.pagination
  = page_entries_info @members, :model => "members"
  = will_paginate @members

.row
  - @members.each do |m|
    .col-md-4.three-across
      .thumbnail
        = render :partial => "members/thumbnail", :locals => { :member => m }

%div.pagination
  = page_entries_info @members, :model => "members"
  = will_paginate @members
