- if @location != current_member.location
  - content_for :title, "Members near #{@location}"
- else
  - content_for :title, "Members near you"

= form_tag(nearby_members_path, :method => :get, :class => 'form-inline') do

  = label_tag :location, "Find members near", :class => 'control-label'
  = text_field_tag :location, @location
  = submit_tag "Search", :class => 'btn btn-primary'

= link_to "Edit your location", edit_member_registration_path(current_member)

%h3 Results found
%ul.thumbnails
  - @nearby_members.each do |member|
    %li.span2
      .thumbnail(style="height: 190px")
        = render :partial => "members/avatar", :locals => { :member => member }
        = link_to "#{member.to_s}, #{member.location}", member
