- content_for :title, "#{@member.login_name}"
- content_for :member_rss_login_name, "#{@member.login_name}"
- content_for :member_rss_slug, "#{@member.slug}"

.row
  .span3
    = render :partial => "shared/avatar", :locals => { :member => @member }

    %p
      = "Member since: #{@member.created_at.to_s(:date)}"
    %p Location: Unknown

  .span9
    .tabbable
      %ul.nav.nav-tabs
        - first_garden = true
        - @member.gardens.each do |g|
          %li{:class => first_garden ? 'active' : '' }
            - first_garden = false
            = link_to g.name, "#garden#{g.id}", 'data-toggle' => 'tab'
        %li= link_to 'New Garden', '#garden_new', 'data-toggle' => 'tab'
      .tab-content
        - first_garden = true
        - @member.gardens.each do |g|

          %div{:class => ['tab-pane', first_garden ? 'active' : ''], :id => "garden#{g.id}"}
            - first_garden = false

          %h3 What's planted here?
          - g.featured_plantings.each do |p|
            = render :partial => "plantings/thumbnail", :locals => { :planting => p, :hide_description => true }

          %p
            = link_to "More about this garden...", url_for(g)

        %div{:class => 'tab-pane', :id => "garden_new"}
          %h3 Create a new garden
          = render 'gardens/form'

    %h3 Updates
    - @member.posts.each do |post|
      = render :partial => "posts/single", :locals => { :post => post, :subject => true }
