- content_for :title, @member.login_name
- content_for :subtitle, @member.location
- content_for :opengraph do
  = tag("meta", property: "og:image", content: avatar_uri(@member, 200))
  = tag("meta", property: "og:image:user_generated", content: "true")
  = tag("meta", property: "og:title", content: @member.login_name)
  = tag("meta", property: "og:type", content: "profile")
  = tag("meta", property: "og:url", content: request.original_url)
  = tag("meta", property: "og:site_name", content: ENV['GROWSTUFF_SITE_NAME'])
- content_for :buttonbar do
  - if can? :update, @member
    = link_to 'Edit profile', edit_member_registration_path, class: 'btn btn-default'
  - if can?(:create, Notification) && current_member != @member
    = link_to 'Send message', new_notification_path(recipient_id: @member.id), class: 'btn btn-default'

  - if current_member && current_member != @member # must be logged in, can't follow yourself
    - follow = current_member.get_follow(@member)
    - if !follow && can?(:create, Follow) # not already following
      = link_to 'Follow', follows_path(followed_id: @member.id), method: :post, class: 'btn btn-default'
    - if follow && can?(:destroy, follow) # already following
      = link_to 'Unfollow', follow_path(follow), method: :delete, class: 'btn btn-default'

- content_for :member_rss_login_name, @member.login_name
- content_for :member_rss_slug, @member.slug

.row

  .col-md-9
    = render partial: "map", locals: { member: @member }
    = render partial: "bio", locals: { member: @member }
    = render partial: "gardens", locals: { member: @member, gardens: @gardens }
  .col-md-3
    = render partial: "avatar", locals: { member: @member }
    = render partial: "roles", locals: { member: @member }
    = render partial: "stats", locals: { member: @member }
    = render partial: "contact", locals: { member: @member,
                                          twitter_auth: @twitter_auth,
                                          flickr_auth: @flickr_auth,
                                          facebook_auth: @facebook_auth }
