- content_for :title, "#{@member.username}"
- content_for :member_rss_username, "#{@member.username}"
- content_for :member_rss_slug, "#{@member.slug}"

.row
  .span3
    =image_tag('http://placehold.it/150x150', :alt => '', :class => 'img-rounded')
    %h4= @member.username

    %p
      = "Member since: #{@member.created_at.strftime("%B %d, %Y")}."
    %p Location: Unknown

  .span9
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          = link_to @member.gardens.first.name, '#tab1', 'data-toggle' => 'tab'
        %li
          = link_to '2nd Garden', '#tab2', 'data-toggle' => 'tab'
        %li
          = link_to '3nd Garden', '#tab3', 'data-toggle' => 'tab'
      .tab-content
        .tab-pane.active#tab1

          %div.alert
            %button.close{:type => 'button', 'data-dismiss' => 'alert'} ×
            Note: these are a random selection, and don't represent actual plantings

          %ul.thumbnails
            - (1..4).each do
              %li.span2
                = render :partial => "crops/thumbnail", :locals => { :crop => random_crop }

          %p
            and 20 more crops including:
            - (1..20).each do
              - @crop = random_crop
              - @crop ? link_to(@crop.system_name, url_for(@crop)) : 'blah'

          %p= link_to "More about #{@member.gardens.first.name}...", url_for(@member.gardens.first)

        .tab-pane#tab2
          %div.alert
            %button.close{:type => 'button', 'data-dismiss' => 'alert'} ×
            Multiple gardens aren't supported yet.  This is just to show how they could be tabbed.
        .tab-pane#tab3
          %div.alert
            %button.close{:type => 'button', 'data-dismiss' => 'alert'} ×
            Multiple gardens aren't supported yet.  This is just to show how they could be tabbed.


    %h3 Updates
    %table
      - @member.updates.each do |update|
        = render :partial => "updates/single", :locals => { :update => update, :subject => true }

