- name = @member.full_name ? "#{@member.full_name} (#{@member.login_name})" : @member.login_name
- content_for :title, name
- content_for :member_rss_login_name, name
- content_for :member_rss_slug, "#{@member.slug}"

.row-fluid
  .span2
    = render :partial => "members/avatar", :locals => { :member => @member }
  .span6
    - if @member.location
      %p
        %b Location:
        = @member.location
    %p
      %b Member since:
      = @member.created_at.to_s(:date)
    - if @member.show_email
      %p
        %b Email:
        = mail_to @member.email
    - if can? :update, @member
      %p
        = link_to 'Edit Profile', "edit", :class => 'btn btn-mini'
  .span4
    -if @member.location
      %div= image_tag("http://maps.google.com/maps/api/staticmap?size=300x150&maptype=roadmap&sensor=false&markers=color:green|label:A|#{@member.latitude},#{@member.longitude}&zoom=12", :alt => "Map showing #{@member.location}", :width => 300, :height => 150 )

- if @member.gardening_since || @member.wish_i_could_grow || @member.gardening_clothes || @member.about_me
  .row-fluid
    .span12
      %h2 About
      - if @member.gardening_since
        %p
          %b I've been gardening since...
          = @member.gardening_since
      - if @member.wish_i_could_grow
        %p
          %b I wish I could grow...
          = @member.wish_i_could_grow
      - if @member.gardening_clothes
        %p
          %b When I'm gardening I wear...
          = @member.gardening_clothes
      -if @member.about_me
        %div
          :markdown
            #{ strip_tags(@member.about_me) }

.row
  .span12
    %h2
      Gardens and plantings
      - if current_member == @member
        = link_to "Plant something", new_planting_path, :class => 'btn btn-primary'
    .tabbable
      %ul.nav.nav-tabs
        - first_garden = true
        - @member.gardens.each do |g|
          %li{:class => first_garden ? 'active' : '' }
            - first_garden = false
            = link_to g.name, "#garden#{g.id}", 'data-toggle' => 'tab'
        - if current_member == @member
          %li= link_to 'New Garden', '#garden_new', 'data-toggle' => 'tab'
      .tab-content
        - first_garden = true
        - @member.gardens.each do |g|

          %div{:class => ['tab-pane', first_garden ? 'active' : ''], :id => "garden#{g.id}"}
            - first_garden = false
            %div
              :markdown
                #{ strip_tags(g.description) }

            - if g.plantings.count > 0
              %ul
                - g.featured_plantings.each do |p|
                  %li
                    - if p.quantity
                      = p.quantity
                    = link_to p.crop.system_name, p
                    - if p.planted_at
                      on
                      = p.planted_at.to_s(:date)
                - other_plantings =  g.plantings.count - g.featured_plantings.count
                - if other_plantings > 0
                  %li
                    and
                    =link_to "#{other_plantings} more...", g
            - else
              %p Nothing planted here yet.
            %p=link_to "More information", g

        - if current_member == @member
          %div{:class => 'tab-pane', :id => "garden_new"}
            = render 'gardens/form'


.row
  .span12
    %h2
      Recent posts
      - if current_member == @member
        = link_to "Post something", new_post_path, :class => 'btn btn-primary'
    - if @member.posts.count > 0
      %ul
        - @member.posts.limit(10).each do |p|
          %li
            = link_to p.subject, p
            - if p.forum
              in
              = link_to p.forum.name, p.forum
            on
            = p.created_at.to_s(:date)
    - else
      %p None yet.

