- content_for :title, "#{@member.login_name}"
- content_for :member_rss_login_name, "#{@member.login_name}"
- content_for :member_rss_slug, "#{@member.slug}"

.row
  .span3
    = render :partial => "members/avatar", :locals => { :member => @member }

    -if @member.full_name.to_s != ''
      %p
        = "Name: #{@member.full_name}"
    %p
      = "Member since: #{@member.created_at.to_s(:date)}"
    - if @member.location.to_s != ''
      %p
        Location:
        = @member.location
        %br/
        = image_tag("http://maps.google.com/maps/api/staticmap?size=200x200&maptype=roadmap&sensor=false&markers=color:green|label:A|#{@member.latitude},#{@member.longitude}&zoom=12", :alt => "Map showing #{@member.location}", :width => 200, :height => 200 )
    - if @member.show_email
      %p
        Email:
        = mail_to @member.email
    - if current_member == @member
      %p
        = link_to 'Edit Settings', "edit", :class => 'btn btn-mini'
    %p
      = "About:"
    -if @member.about_me.to_s != ''
      %p
        = "About me:"
        %p
          = @member.about_me

  .span9
    .tabbable
      %ul.nav.nav-tabs
        - first_garden = true
        - @member.gardens.each do |g|
          %li{:class => first_garden ? 'active' : '' }
            - first_garden = false
            = link_to g.name, "#garden#{g.id}", 'data-toggle' => 'tab'
        - if current_member == @member
          %li= link_to 'New Garden', '#garden_new', 'data-toggle' => 'tab'
      .tab-content
        - first_garden = true
        - @member.gardens.each do |g|

          %div{:class => ['tab-pane', first_garden ? 'active' : ''], :id => "garden#{g.id}"}
            - first_garden = false

            %div
              :markdown
                #{g.description}

            %h3 What's planted here?
            - g.featured_plantings.each do |p|
              = render :partial => "plantings/thumbnail", :locals => { :planting => p, :hide_description => true }

            %p
              = link_to "More about this garden...", url_for(g)

        - if current_member == @member
          %div{:class => 'tab-pane', :id => "garden_new"}
            %h3 Create a new garden
            = render 'gardens/form'

    %h3 Updates
    - @member.posts.each do |post|
      = render :partial => "posts/single", :locals => { :post => post, :subject => true }
