- content_for :title, "#{@member.login_name}'s follows"

%div.pagination
  = page_entries_info @follows
  = will_paginate @follows

.row
  .col-md-12
    - @follows.each do |f|
      .col-md-4.three-across      
        .thumbnail 
          = render :partial => "members/thumbnail", :locals => { :member => f }

%div.pagination
  = page_entries_info @follows
  = will_paginate @follows
