= form_for @account do |f|
  - if @account.errors.any?
    #error_explanation
      %h2= "#{pluralize(@account.errors.size, "error")} prohibited this account from being saved:"
      %ul
        - @account.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :member_id
    = f.number_field :member_id
  .field
    = f.label :account_type
    = f.text_field :account_type
  .field
    = f.label :paid_until
    = f.datetime_select :paid_until
  .actions
    = f.submit 'Save'
