- content_for :title, 'Listing accounts'

%table
  %tr
    %th Member
    %th Account type
    %th Paid until
    %th
    %th
    %th

  - @accounts.each do |account|
    %tr
      %td= account.member_id
      %td= account.account_type
      %td= account.paid_until
      %td= link_to 'Show', account
      %td= link_to 'Edit', edit_account_path(account)
      %td= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Account detail', new_account_path
