%p#notice= notice

%p
  %b Member:
  = @account.member_id
%p
  %b Account type:
  - if @account.account_type
    = @account.account_type.name
  - else
    Free account
%p
  %b Paid until:
  = @account.paid_until

= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', accounts_path
